{{ partial "head.html" . }}

{{ partial "header.html" . }}

     <div id="dot-nav" class="position-sticky float-right">
         <ul>
             <li><a href="collaborate-securely/#first-content">1</a></li>
             <li><a href="collaborate-securely/#second-content">2</a></li>
             <li><a href="collaborate-securely/#third-content">3</a></li>
             <li><a href="collaborate-securely/#fourth-content">4</a></li>
         </ul>
     </div>

     <div id="first-content"></div>

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="collaborate-securely-content">

                    <div class="d-none d-md-block">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-8 wow fadeInLeft">
                                <h1 class="learn-more-title">Collaborate <span>productively</span></h1>
                            </div>
                        </div> <!-- /.row. -->
                      </div> <!-- /.container -->
                    </div> <!-- /.collaborate-securely-parallax -->

                    <section class="page-scroll content-one">

                        <div class="container">
                            <div class="row d-md-none d-sm-block">
                                <div class="col-md-8">
                                    <h1>Collaborate <span>productively</span></h1>

                                    <img src="images/collaborate_securely/collaborate_securely_1.png" alt="Crunch app" class="img-fluid">
                                </div>
                            </div> <!-- /.row. -->
                        </div> <!-- /.container -->

                        <div class="jumbotron">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-1" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                            <img src="../images/collaborate_securely/collaborate_securely_1.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.3s">Crunch allows everyone in your organization to work on the same dataset without having to keep track of individual files.</p>
                                        <img src="images/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-12 wow fadeInLeft">
                                        <h1 class="learn-more-title">Collaborate <span>better.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-2" class="wow fadeInLeft"  data-wow-duration="1s" data-wow-delay=".5s">
                                            <img src="../images/collaborate_securely/collaborate_securely_2.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4 ml-auto">
                                        <h2 class="d-md-none d-sm-block">Collaborate <span>better.</span></h2>
                                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">You can control which parts of the dataset the users can access, and group users into teams to make sure that everyone can access the data they need.</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-12 wow fadeInLeft">
                                        <h1 class="learn-more-title">Keep <span>up to date.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-3" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                            <img src="../images/collaborate_securely/collaborate_securely_3.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4 ml-auto">
                                        <img src="images/collaborate_securely/collaborate_securely_3.png" alt="Crunch app" class="img-fluid d-md-none d-sm-block">
                                        <h2 class="d-md-none d-sm-block">Keep <span>up to date.</span></h2>
                                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Crunch datasets can be shared with clients to ensure that they are always looking at the most accurate, up to date information.</p>
                                    </div>
                                </div> <!-- /.row. -->
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                      <section id="fourth-content" class="page-scroll content-four">
                          <div class="jumbotron">
                              <div class="container">

                                  <div class="row">

                                      <div class="col-md-6">
                                        <div class="crunchbox-container">
                                            <div class="crunchbox collapse show" id="collapseProgrammers">
                                                <iframe src="https://s.crunch.io/widget/index.html#/ds/af760670004d3a02a4cde6e51a00c799/row/000369/column/000264/filt/349bb4fdb74b4d9690e3c6e1edefeacb?viz=groupedBarPlot&amp;cp=percent&amp;dp=0&amp;grp=stack"></iframe>
                                            </div> <!-- /.crunchbox -->
                                        </div> <!-- /.crunchbox-container -->
                                      </div>

                                      <div class="col-md-4 ml-auto">
                                          <p>Data from Crunch can be shared with with the public using CrunchBoxes, a special purpose widget that allows you to embed Crunch data in any website.</p>
                                          <a href="speaks-research">Crunch <span>speaks research</span> &#10230;</a>
                                      </div>

                                  </div>

                              </div> <!-- /.container -->
                          </div> <!-- /.jumbotron -->
                      </section>

                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
