{{ partial "head.html" . }}

{{ partial "header.html" . }}

     <div id="dot-nav" class="position-sticky float-right">
         <ul>
             <li><a href="collaborate-securely/#first-content">1</a></li>
             <li><a href="collaborate-securely/#second-content">2</a></li>
             <li><a href="collaborate-securely/#third-content">3</a></li>
             <li><a href="collaborate-securely/#fourth-content">4</a></li>
         </ul>
     </div>

     <div class="secondary-content" id="first-content">
       <div class="container position-fixed">

           <div class="row">
               <div class="col-md-8">
                   <h1 class="learn-more-title">Collaborate <span>securely</span></h1>

                   <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid">
               </div>
           </div> <!-- /.row. -->

       </div> <!-- /.container -->
     </div> <!-- /.secondary-content -->

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="collaborate-securely-content">

                    <section class="page-scroll content-one">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>Crunch allows everyone in your organization to work on the same dataset without having to keep track of individual files.</p>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>You can control which parts of the dataset the users can access, and group users into teams to make sure that everyone can access the data they need.</p>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>Crunch datasets can be shared with clients to ensure that they are always looking at the most accurate, up to date information.</p>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                      <section id="fourth-content" class="page-scroll content-four">
                          <div class="jumbotron">
                              <div class="container">
                                  <div class="col-md-4 ml-auto">
                                      <p>Data from Crunch can be shared with with the public using CrunchBoxes, a special purpose widget that allows you to embed Crunch data in any website.</p>
                                      <a href="speaks-research">Crunch <span>speaks research</span> &#10230;</a>
                                  </div>
                              </div> <!-- /.container -->
                          </div> <!-- /.jumbotron -->
                      </section>

                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
