body {
    background: #F7F7F7;
    background-position: fixed;
    background-size: 100%;
    color: rgb(24, 24, 24);
    font-weight: 300;
}

.sign-in {
    color: white;
    display: block;
    width: 6em;
    text-align: center;
    float: right;
    background: rgba(37, 44, 46, 0.72);
    font-size: 1.15em;
}

.sign-in:hover {
    color: #36b3f2;
    background: rgba(255, 255, 255, 0.72);
}

.top-bar h1.crunch-logo {
    margin: 0;
    width:  129px;
    height: auto;
    padding-top: 1.5em;
    margin-left: 1em;
}
.banner {
    background: rgba(37, 44, 46, 0.72);
    margin-bottom: 1em;
    color: white;
}

.banner hr {
    margin-top: 1em;
    margin-bottom: 1.75em;
}

.crunch-header{
    background: transparent;
    background-image: url("../img/glacier.jpg");
    background-position:50% 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.top-bar {
    background: transparent;
    height: 7em;
}

.heavy {
    font-weight: 600;
}

.home-link {
    top: 1em;
    position: relative;
}

.title {
    margin-top: .5em;
    color: white;
}
.sub-title {
    font-style: italic;
    font-size: 1.5rem;
    color: white;
}
h1, h2, h3, h4 {
    color: rgb(24, 24, 24);
}
a {
    color: #36b3f2;
}

li {
    font-family: "Open Sans";
	font-weight: normal;
}
.jobs li {
	font-weight: 300;
}

p {
    font-family: "Open Sans";
    color: rgb(24, 24, 24);
}

footer.row {
    padding-top: 3em;
}