openapi: 3.0.0
x-api-id: crunch-api
info:
  title: Crunch API
  version: '1.1'
  contact:
    name: Crunch Support
    url: 'https://help.crunch.io'
    email: support@crunch.io
  description: "Developer API for Crunch.io\n\n# API conventions\n\nThe Crunch REST API follows some common conventions across all endpoints. You can assume these to be the case except where explicitly documented otherwise.\n\n## Successful requests\nSuccessful GET requests return 200 (OK) status with Content-Type: application/json response content.\n\nPATCH is generally preferred for partial updating of resources, though some endpoints do support PUT. A successful request returns 204 (No Content) status.\n\nPOST is used to create entities on the server. The URL to the created entity is returned in the Location response header, and the response status is either 201 (Created) or 202 (Accepted).\n\n202 (Accepted) is used for requests that continue to process outside of the request cycle; for example, import or export jobs that may be long running and benefit from reporting progress to clients. See Progress for how to handle the 202 response content. Requests that would otherwise return 201 (Location) will still include the Location header in the 202 response; requests that would otherwise return 204 (No Content) will have no additional response headers.\n\n## Unsuccessful requests\n“Bad” requests returning with a 4xx status may contain JSON response content with an error message.\n\nUnauthenticated requests to non-public resources return 401 (Unauthorized).\n\nAuthenticated but unauthorized responses return 404 (Not Found) rather than 403 (Forbidden) in cases where returning 403 would leak information about the existence of resources. The 403 response is reserved for cases when, for example, a user is authorized to GET a resource but not PATCH it.\n\nThe 409 (Conflict) response is used when the request may be retried and may succeed if changes are first made at a different resource. Example: when a user who has edit privileges on a dataset but is not the “current editor” attempts to PATCH a dataset resource.\n\n## Error responses\nTo avoid duplicating error responses on every endpoint description, the most common responses are listed here and only any additional, endpoint-specific responses will be documented with each api endpoint.  \n\n### HTTP status codes\n| Status Code | Description |\n| :-: | :-- |\n| 401 | Invalid access token |\n| 403 | Account locked - please contact Crunch support |\n\n## Deprecated endpoints\nWhen API resources are deprecated, responses will contain a Warning header with a message about the deprecation and a recommendation for upgrading. Our client libraries look for this response header and will alert you to upgrade your version of the library if you receive a response with this header.\n\nEndpoints that have been removed respond with a 410 (Gone) status, optionally with a message instructing you where to look instead.\n\n# API response envelopes\nCrunch API endpoints do not return plain old javascript objects (POJOs) directly but instead deliver POJOs inside a property of machine-readable custom envelopes that facilitate endpoint exploration and traversal. Click here to read the [envelope spec](https://bitbucket.org/fumanchu/shoji/src/default/spec.txt).\n\nUsing crunch api envelopes can be summarized like this:\n```javascript\nlet data = {}\nswitch (response.element) {\n  case 'shoji:entity':\n    data = response.body\n    break\n  case 'shoji:catalog':\n    data = response.index\n    break\n  case 'shoji:view':\n    data = response.value\n    break\n}\n```\n\n## ENTITY envelope\nA Shoji entity is identified by `element: \"shoji:entity\"`. Its principal attribute is the `body` key, which is an object containing the attributes that describe the entity.\n\n## CATALOG envelope\nA catalog is identified by `element: \"shoji:catalog\"` with its principal attribute being `index` that contains an object keyed by the URLs of the entities it contains and for each key an object (tuple) with attributes from the referenced entity.\n\nShoji catalogs are **not** ordered. For its ordered representations they may provide an `orders` set of Shoji order resources.\n\n## VIEW envelope\nA Shoji view is identified by `element: \"shoji:view\"` with its principal attribute being `value`. This can contain any arbitrary JSON object.\n\n## ORDER envelope\nShoji orders are identified by `element: \"shoji:order\"`. The principal attribute is the `graph` key which is an array containing the order of present resources.\n\nA shoji order may be associated with a catalog. In such case it will contain a subset or totality of the entities present in the catalog. The catalog remains as the authoritative source of available entities.\n\nAny entity not present on the order but present in the catalog may be considered to belong at the bottom of the root of the graph in an arbitrary order, or may be excluded from view.\n"
servers:
  - url: 'https://cors-buster.dcarr.com/alpha.crunch.io/api'
    description: Crunch API CORS buster (alpha)
  - url: 'https://cors-buster.dcarr.com/app.crunch.io/api'
    description: Crunch API CORS buster (prod)
  - url: 'https://app.crunch.io/api'
    description: Crunch API
  - url: 'https://alpha.crunch.io/api'
    description: Crunch API (alpha)
components:
  schemas:
    Sub-domain-configuration:
      title: Sub-domain configuration
      type: object
      x-tags:
        - OEM
      properties:
        logo:
          type: object
          properties:
            large:
              type: string
              description: Url of large logo image
            small:
              type: string
              description: Url of small logo image
            favicon:
              type: string
              description: Url of favicon image
        palette:
          type: object
          description: Custom color palette
        name:
          type: string
          description: Company name
        oauth_redirect:
          type: boolean
          description: User logging into this sub-domain will use oauth authentication
        manifest:
          type: object
      x-examples:
        example-1:
          logo:
            large: 'https://s.crunch.io/act_app_icons/mycompany-wcaran-large.png'
            small: 'https://s.crunch.io/act_app_icons/mycompany-nchvcz-small.png'
            favicon: 'https://s.crunch.io/act_app_icons/mycompany-kyzdnb-favicon.ico'
          palette: {}
          name: My Company
          oauth_redirect: true
          manifest: {}
      description: Sub-domain configuration
    Shoji-entity:
      title: Shoji entity
      type: object
      x-tags:
        - Shoji
      properties:
        element:
          type: string
          default: shoji-entity
          description: Type of shoji element this is
        self:
          type: string
          description: Url for this entity
        body:
          type: object
          description: A plain-old javascript object (POJO) containing the contents of this entity
      required:
        - element
        - self
        - body
    Oauth-redirect:
      title: Oauth-redirect
      type: object
      x-tags:
        - Integrating Crunch
      description: ''
      properties:
        authorize_url:
          type: string
          format: uri
          example: 'https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=71778389871-ev84c1qhkfsg2fpqd7tv0hhkrsdtqdr5.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fapp.crunch.io%2Fapi%2Fpublic%2Foauth2redirect%2F&scope=openid+profile+email&state=YRR6SCtvzwbsG9gWmssOqD0VVq3QFA&nonce=6974180560616078291587000412&login_hint=david.carr%40crunch.io&access_type=online'
        method:
          type: string
          example: oauth
        email:
          type: string
          format: email
          example: david.carr@crunch.io
    Dataset:
      title: Dataset
      type: object
      x-examples:
        example-1:
          size:
            rows: 10596
            unfiltered_rows: 10596
            columns: 6364
          current_editor_name: Crunch Support
          account: 'https://app.crunch.io/api/accounts/8f04c13804e94ca8b3cf568f8da36cf0/'
          owner_name: Just Eat
          name: Just Eat BX data
          end_date: null
          streaming: 'no'
          owner_id: 'https://app.crunch.io/api/projects/70bc37797d734a868fb9bb641cbbcd80/'
          current_editor: 'https://app.crunch.io/api/users/df3e3c5f7ce74365960d1305373564f0/'
          creation_time: '2020-03-25T20:36:10.238000+00:00'
          archived: false
          view_of: null
          start_date: null
          modification_time: '2020-04-02T14:18:20.032000+00:00'
          access_time: '2020-03-27T23:39:30.536000+00:00'
          permissions:
            edit: false
            view: true
          is_published: true
          type: dataset
          id: 69ec37de2efe483fb81e910ec360b97c
          description: ''
      properties:
        size:
          type: object
          properties:
            rows:
              type: string
              description: Number of rows this dataset contains
            unfiltered_rows:
              type: string
              description: Number of unfiltered rows this dataset contains
            columns:
              type: string
              description: Number of columns this dataset contains
        current_editor_name:
          type: string
          description: Name of the user marked as the current dataset editor
        account:
          type: string
          description: Url to the account this dataset belongs to
        owner_name:
          type: string
          description: "Name of this dataset's parent project"
        name:
          type: string
          description: Dataset name
        end_date:
          type: string
        streaming:
          type: boolean
          description: Is data being streamed into this dataset
        owner_id:
          type: string
          description: "Url to this dataset's parent project"
        current_editor:
          type: string
          description: Url to user specified as the current editor
        creation_time:
          type: string
          description: Datetime dataset was created
        archived:
          type: boolean
          description: This dataset has been archived
        view_of:
          type: string
        start_date:
          type: string
        midification_time:
          type: string
          description: Datetime this dataset was last modified
        access_time:
          type: string
          description: Datetime this dataset was last accessed
        permissions:
          type: object
          properties:
            edit:
              type: boolean
              description: Does authenticated user have the ability to edit this dataset
            view:
              type: boolean
              description: Does authenticated user have the ability to view this dataset
        is_published:
          type: boolean
          description: Has this dataset been published
        type:
          type: string
          description: 'Always "dataset" for this object type'
          example: dataset
        id:
          type: string
          description: Dataset id
        description:
          type: string
          description: Dataset description
    Shoji-catalog:
      title: Shoji catalog
      type: object
      x-examples: {}
      properties:
        element:
          $ref: '#/components/schemas/Shoji-catalog-element'
        self:
          $ref: '#/components/schemas/Shoji-self'
        catalogs:
          $ref: '#/components/schemas/Shoji-catalog-list'
        index:
          type: object
          properties:
            list item A url:
              type: object
              description: POJO of item A contained in this catalog
            list item B url:
              type: object
              description: POJO of item A contained in this catalog
        body:
          $ref: '#/components/schemas/Shoji-catalog-body'
        views:
          $ref: '#/components/schemas/Shoji-view-list'
        urls:
          $ref: '#/components/schemas/Shoji-url-list'
        description:
          type: string
          description: Catalog description
      description: ''
    Shoji-catalog-element:
      title: Shoji catalog element
      type: string
      x-examples:
        example-1: 'shoji:catalog'
      description: 'Always "shoji:catalog" for this object'
    Shoji-self:
      type: string
      title: Shoji self
      format: uri
      description: Url to this api endpoint
    Shoji-catalog-body:
      title: Shoji catalog body
      type: object
      properties:
        description:
          type: string
          description: Catalog description
        owner_id:
          type: string
          format: uri
          description: "Url to catalog owner's user details"
        permissions:
          type: object
          properties:
            edit:
              type: boolean
              description: Is authenticated user allowed to edit catalog
            view:
              type: boolean
              description: Is authenticated user allowed to view catalog
        access_time:
          type: string
          description: Time catalog was last accessed
        owner:
          type: string
          description: "Url to catalog owner's user details"
        name:
          type: string
          description: Catalog name
        modification_time:
          type: string
          description: Datetime catalog was last modified
    Shoji-catalog-list:
      title: Shoji catalog list
      type: object
      properties:
        sub-catalog B url:
          type: string
          description: Url to this sub-catalog
          format: uri
        sub-catalog A url:
          type: string
          description: Url to this sub-catalog
          format: uri
    Dataset-list:
      title: Dataset-list
      type: object
      properties:
        url to dataset A:
          $ref: '#/components/schemas/Dataset'
        url to dataset B:
          $ref: '#/components/schemas/Dataset'
    Shoji-view-list:
      title: Shoji view list
      type: object
      properties:
        url to view A:
          type: string
          description: Url to this view
          format: uri
        url to view B:
          type: string
          description: Url to this view
          format: uri
    Shoji-entity-element:
      title: Shoji entity element
      type: string
      x-examples:
        example-1: 'shoji:entity'
      description: 'Always "shoji:entity" for this object'
    Account:
      title: Account
      type: object
      description: ''
      properties:
        templates:
          type: object
          properties:
            powerpoint:
              type: string
              description: Url to custom powerpoint template
        logo:
          type: object
          properties:
            large:
              type: string
              description: Url of large logo image
            small:
              type: string
              description: Url to small logo image
            favicon:
              type: string
              description: Url of favicon logo image
        palette:
          $ref: '#/components/schemas/Color-Palette'
        name:
          type: string
          description: Account name
        id:
          type: string
          description: Account ID
      x-examples:
        example-1:
          element: 'shoji:entity'
          self: 'https://alpha.crunch.io/api/account/'
          catalogs:
            applications: 'https://alpha.crunch.io/api/account/applications/'
            users: 'https://alpha.crunch.io/api/account/users/'
          views:
            templates: 'https://alpha.crunch.io/api/account/templates/'
            logo: 'https://alpha.crunch.io/api/account/logo/'
          description: Details for an account
          body:
            templates:
              powerpoint: 'https://t.crunch.io/act_templates/account-crunch-jcfojm-powerpoint.pptx'
            logo:
              large: ''
              small: ''
              favicon: ''
            palette:
              analysis:
                - Black Hats are black:
                    default: false
                    palette:
                      - '#ffa299'
                      - '#9100bf'
                      - '#ff6f00'
                      - '#7f6702'
                - White Hats are not:
                    default: false
                    palette:
                      - '#9d7dc9'
                      - '#7f0a00'
                      - '#0074bf'
                      - '#005283'
                      - '#bf1001'
                      - '#ffac7f'
                      - '#ffac7f'
                      - '#bf1001'
                - Just blue:
                    default: false
                    palette:
                      - '#019cff'
                      - '#80cdff'
                - Not a new color palette:
                    default: true
                    palette:
                      - '#005283'
                      - '#bf1001'
                      - '#bf9a00'
                - New color palette:
                    default: false
                    palette:
                      - '#ff5900'
            name: Crunch
            id: '00001'
    Color-Palette:
      title: Color palette
      type: object
      description: ''
      properties:
        brand:
          type: object
          description: Brand custom colors
          properties:
            primary:
              $ref: '#/components/schemas/Hex-color-code'
            secondary:
              $ref: '#/components/schemas/Hex-color-code'
            message:
              $ref: '#/components/schemas/Hex-color-code'
        analysis:
          type: array
          description: Colors for data display
          items:
            type: object
            properties:
              Color palette name:
                $ref: '#/components/schemas/Analysis-color-palette'
      x-examples:
        example-1:
          brand:
            primary: '#FFAABB'
            secondary: '#G4EEBB'
            message: '#BAA5E7'
          analysis:
            - Black Hats are black:
                default: false
                palette:
                  - '#ffa299'
                  - '#9100bf'
                  - '#ff6f00'
                  - '#7f6702'
            - White Hats are not:
                default: false
                palette:
                  - '#9d7dc9'
                  - '#7f0a00'
                  - '#0074bf'
                  - '#005283'
                  - '#bf1001'
                  - '#ffac7f'
                  - '#ffac7f'
                  - '#bf1001'
            - Just blue:
                default: false
                palette:
                  - '#019cff'
                  - '#80cdff'
    Hex-color-code:
      type: string
      title: Hex-color-code
      example: '#7f0a00'
      description: Hex (RGB) color code
    Analysis-color-palette:
      title: Analysis-color-palette
      type: object
      properties:
        default:
          type: boolean
          description: Is this the default color palette to use
        palette:
          type: array
          items:
            $ref: '#/components/schemas/Hex-color-code'
    Shoji-view-element:
      title: Shoji view element
      type: string
      x-examples:
        example-1: 'shoji:view'
      description: 'Always "shoji:view" for this object'
    Shoji-url-list:
      title: Shoji url list
      type: object
      properties:
        name of url A:
          type: string
          description: Url A
          format: uri
        name of url B:
          type: string
          description: Url B
          format: uri
    User:
      type: object
      title: User
      enum:
        - pwhash
        - oauth
      example: pwhash
      properties:
        id_method:
          type: string
          description: Authentication method for this user
        name:
          type: string
          description: "User's full name"
        id_provider:
          type: string
          description: 'If user has oauth authentication, which oauth provider to use'
        creation_time:
          type: string
          description: Datetime user was created
        id:
          type: string
          description: User ID
        account_permissions:
          type: object
          properties:
            admin_account:
              type: boolean
              description: Is user an account administrator
            create_users:
              type: boolean
              description: Can user create other users
            alter_users:
              type: boolean
              description: Can user edit other users
            create_datasets:
              type: boolean
              description: Can user create datasets
        email:
          type: string
          description: "User's email address"
          format: email
        preferences:
          type:
            - string
            - object
          description: User preferences
          properties:
            search_settings:
              type: object
            features:
              type: object
            displaySettings:
              type: object
            datasetDisplaySettings:
              type: object
            projectId:
              type: string
              format: uri
            notificationsReadDate:
              type: string
              format: date-time
            openedDecks:
              type: object
            varCardSettings:
              type: string
            dsVisibleProps:
              type: object
            notificationsSnoozeDate:
              type: string
              format: date-time
            projectBrowser:
              type: object
      x-examples:
        example-1:
          id_method: pwhash
          name: Sim Editor 1
          id_provider: null
          creation_time: '2019-06-19T15:29:06+00:00'
          id: f94d0f8486f14689b1c9fdd982d51700
          account_permissions:
            admin_account: false
            create_users: false
            alter_users: false
            create_datasets: true
          email: sim-editor-1@crunch.io
          preferences:
            search_settings:
              timeRange: null
              timeCriteria: null
              matchMode: any-terms
              scope: null
              grouping: datasets
              view: ranked
            features: {}
            displaySettings:
              showDescription: true
              showValueLabels: false
              simpleOrExtended: simple
              showEmpty: false
              percentageDirection: colPct
              separateOrCombined: separate
              showCategoriesSubtotals: both
              showSignif: false
              showMean: false
              countsOrPercents: percent
              decimalPlaces: 0
              geoChart: true
              populationMagnitude: 3
              showVisualization: true
              columnSignificance: null
            datasetDisplaySettings:
              displayArchivedDatasets: true
            projectId: 'https://alpha.crunch.io/api/projects/d22b37e0258a4986b29598fc79ccc24f/'
            notificationsReadDate: '2020-04-16T20:04:05.281Z'
            openedDecks:
              eb4ea0e51e5e45caabebdb75c5147db4: 'https://alpha.crunch.io/api/datasets/eb4ea0e51e5e45caabebdb75c5147db4/decks/c3a7ca0a71904afeb9624fb713dad354/'
              a2223646a2854fbf98495f6dc3e264b4: 'https://alpha.crunch.io/api/datasets/a2223646a2854fbf98495f6dc3e264b4/decks/f42eac179f6d47ecb698f758e49895c5/'
              4c44283be4b24942ad11e8363e054cc3: 'https://alpha.crunch.io/api/datasets/4c44283be4b24942ad11e8363e054cc3/decks/27572276d8d848bbaaeef361fe6fc123/'
              68f6997042ed4f19b536fa7b6daf1e2f: 'https://alpha.crunch.io/api/datasets/68f6997042ed4f19b536fa7b6daf1e2f/decks/c658efaf87c945d892b68ee950881a4f/'
              d682f3f648c6473ea0b79fb2b23d4acb: 'https://alpha.crunch.io/api/datasets/d682f3f648c6473ea0b79fb2b23d4acb/decks/59e851c6a5e84da0b473ef95695795a7/'
              0be895b02a054e0e9e742b95ebdcfca0: 'https://alpha.crunch.io/api/datasets/0be895b02a054e0e9e742b95ebdcfca0/decks/c3a7ca0a71904afeb9624fb713dad354/'
              018ca6872e0e4b5b9cdc0745f4b11ef8: 'https://alpha.crunch.io/api/datasets/018ca6872e0e4b5b9cdc0745f4b11ef8/decks/d333732f3aed4f95ac3e8a27cdcf03af/'
              2ff0e33046984f838a4cb330291d2edb: 'https://alpha.crunch.io/api/datasets/2ff0e33046984f838a4cb330291d2edb/decks/26887165af584599a98ba51cb12a6811/'
              6284ae2013ae4f6bbb0fc8eaa606d7e3: 'https://alpha.crunch.io/api/datasets/6284ae2013ae4f6bbb0fc8eaa606d7e3/decks/7bccfa13b3ff42a29a1be7032f7f4d2c/'
              0700211987ee4599a9fa0924a58c9af0: 'https://alpha.crunch.io/api/datasets/0700211987ee4599a9fa0924a58c9af0/decks/2b5ec4e80fcb42358d3e4e764b1319cb/'
            varCardSettings: {}
            dsVisibleProps:
              access_time: true
              name: true
              modification_time: true
            notificationsSnoozeDate: null
            projectBrowser: {}
  securitySchemes:
    Access Token:
      type: http
      scheme: bearer
      description: 'Enter Crunch access token received from login api endpont:'
paths:
  /public/login/:
    post:
      summary: Log in
      operationId: post-public-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    default: f1e0b74c79e85b7158e721e831f1c853
                  token_type:
                    type: string
                    default: Bearer
              examples:
                example-1:
                  value:
                    access_token: 0650012b49b643b8d5a60fb209ce74a9
                    token_type: Bearer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Crunch username
                  format: email
                  example: joe@gmail.com
                password:
                  type: string
                  description: Crunch password
                  format: password
                  example: '^IsR49LC5!%'
                token:
                  type: boolean
                  default: 'false'
                  description: True results in the access token coming back in the response body for api use. False results in api server setting access token inside httpOnly cookie for browser use.
                  example: 'true'
              required:
                - email
                - password
            examples:
              Login example:
                summary: Login example
                value:
                  email: dcarr178@gmail.com
                  password: '^IsR49LC5!%'
                  token: true
        description: ''
      description: |-
        Log user in and receive an access token to be used on subsequent api requests. Nearly all interactions with the Crunch API need to be authenticated. The authentication method involves POSTing login credentials and receiving an access token. The api client should then store the access token returned and pass it in on each subsequent request in the Authorization HTTP header like this.

        Example header variable: `Authorization: Bearer 796f025f019ad8299337ba7b0924afbf`

        **TODO** the python code on https://docs.crunch.io/feature-guide/feature-authentication.html is wrong. What is the right code?
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X POST https://app.crunch.io/api/public/login/ \\\n  -d \"{\\\"email\\\": \\\"fake.user@example.com\\\", \\\"password\\\": \\\"password\\\", \\\"token\\\": true}\" \\\n  -H \"Content-type: application/json\" \\\n  -H \"Content-Length: 73\" \n\n# The above command will perform a login and return a Bearer Token.\n# After this, you can access the endpoint via curl commands (POST, GET, PATCH), as long as\n# the -H \"Authorization: Bearer access_token\" flag is present. Substitute <access_token> with\n# the one returned on the login request."
        - lang: HTTP
          source: |-
            POST /api/public/login/ HTTP/1.1
            Host: app.crunch.io
            Content-Type: application/json
            Content-Length: 73

            {
                "email": "fake.user@example.com",
                "password": "password",
                "token", true
            }

            HTTP/1.1 200 OK
            {"access_token": "796f025f019ad8299337ba7b0924afbf", "token_type": "Bearer"}
        - lang: RCRUNCH SDK
          source: |-
            library(crunch)
            login("fake.user@example.com", "password")
            # See ?login for options, including how to store your credentials
            # in your .Rprofile
        - lang: PYCRUNCH SDK
          syntaxLang: python
          source: import pycrunch
      security: []
      tags:
        - Authentication
    get:
      summary: Link to Crunch app
      operationId: get-public-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oauth-redirect'
      description: "Provides a way for external websites to link to crunch application, passing in email address (username) in order to bypass the crunch login screen for oauth users. \n\n> ### Important!\n> This endpoint only works for user accounts configured for oauth access.\n\n# 3rd party web page\n```html\n<html><body>\nLink to \n<a href=\"https://app.crunch.io/api/public/login/?email=david.carr@crunch.io&redirect_uri=https%3A%2F%2Fapp.crunch.io%2Fshared\">\n  Crunch\n</a>\n</body></html>\n```\n\nTODO that example doesn't work. Make one that works.\n\n"
      parameters:
        - schema:
            type: string
            example: dcarr178@gmail.com
            format: email
            default: david.carr@crunch.io
          in: query
          name: email
          description: Crunch username
          required: true
        - schema:
            type: string
            format: uri
            default: 'https://app.crunch.io/shared'
          in: query
          name: redirect_uri
          description: Crunch app url to redirect user to after successful login
      security: []
      tags:
        - Integrating Crunch
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: 'curl -X GET https://app.crunch.io/api/public/login/?email=david.carr%40crunch.io&redirect_uri=https%3A%2F%2Fapp.crunch.io%2Fshared'
  /logout/:
    get:
      summary: Log out
      responses:
        '204':
          description: Logged off successfully
      operationId: get-logout
      description: Log user out and expire access token
      tags:
        - Authentication
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/logout/ \\\n  -H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
  /public/crunchbox/share/:
    get:
      summary: Share crunchbox html
      responses:
        '200':
          description: OK
          headers: {}
          content:
            text/html:
              schema:
                type: string
              examples:
                example-1:
                  value: '<html><head>...</head><body>...</body></html>'
      operationId: get-crunchbox-share
      description: |-
        Renders HTML page containing a CrunchBox, complete with the meta data utilized by social sharing platform crawlers in constructing a share preview. Among this metadata is a url to a preview image of the rendered CrunchBox.
        # Endpoint usage in HTML file
        ```html
        <html>
        <head>
            <title>Link to CrunchBox</title>
        </head>
        <body>
        Click here to
        <a target="_blank"
           href="https://app.crunch.io/api/public/crunchbox/share/?data=%2F%2Fs.crunch.io%2Fwidget%2Findex.html%23%2Fds%2F72c27f64a12028b887d7cae248143b6b%2Frow%2F000886%2Fcolumn%2F000480%3Fviz%3DstackedBarPlot%26amp%3Bcp%3Dpercent%26amp%3Bdp%3D0%26amp%3Bgrp%3Dstack&ref=https%3A%2F%2Fwww.whitehouse.gov/">view
            CrunchBox</a>.
        </body>
        </html>
        ```
      parameters:
        - schema:
            type: string
            default: '//s.crunch.io/widget/index.html#/ds/d4b2945f727f4eccbc31544ddabf9fa4?viz=groupedBarPlot&cp=percent&dp=0&grp=stack'
          in: query
          name: data
          required: true
          description: CrunchBox widget url
        - schema:
            type: string
            default: 'https://google.com'
          in: query
          name: ref
          description: Url to use inside the CrunchBox to link user back to referring webpage
      security: []
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: 'curl -X GET https://cors-buster.dcarr.com/app.crunch.io/api/public/crunchbox/share/?data=%2F%2Fs.crunch.io%2Fwidget%2Findex.html%23%2Fds%2Fd4b2945f727f4eccbc31544ddabf9fa4%3Fviz%3DgroupedBarPlot%26cp%3Dpercent%26dp%3D0%26grp%3Dstack&ref=https%3A%2F%2Fgoogle.com'
      tags:
        - Integrating Crunch
    parameters: []
  '/users/{userid}/':
    parameters:
      - schema:
          type: string
        name: userid
        in: path
        required: true
        description: User ID of the user you want information for
    get:
      summary: User details
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-entity'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  catalogs:
                    $ref: '#/components/schemas/Shoji-catalog-list'
                  fragments:
                    $ref: '#/components/schemas/Shoji-url-list'
                  views:
                    $ref: '#/components/schemas/Shoji-view-list'
                  password:
                    type: string
                    description: Url to set password
                    format: uri
                  invite:
                    type: string
                    description: Url to send invitation
                    format: uri
                  url:
                    $ref: '#/components/schemas/Shoji-url-list'
                  description:
                    type: string
                    description: Entity description
                  body:
                    $ref: '#/components/schemas/User'
              examples:
                example-1:
                  value:
                    element: 'shoji:entity'
                    self: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/'
                    catalogs:
                      integrations: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/integrations/'
                      sources: 'https://alpha.crunch.io/api/sources/'
                    fragments:
                      expropriate: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/expropriate/'
                    views:
                      password_reset: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/password_reset/'
                      actions: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/actions/'
                      change_email: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/change_email/'
                    password: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/password/'
                    invite: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/invite/'
                    urls:
                      change_email_url: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/change_email/'
                      password_reset_url: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/password_reset/'
                      role_url: 'https://alpha.crunch.io/api/roles/accounts/0002/'
                      account_url: 'https://alpha.crunch.io/api/account/'
                      invite_url: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/invite/'
                      password_url: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/password/'
                    description: Details for a User
                    body:
                      id_method: pwhash
                      name: Sim Editor 1
                      id_provider: null
                      creation_time: '2019-06-19T15:29:06+00:00'
                      id: f94d0f8486f14689b1c9fdd982d51700
                      account_permissions:
                        admin_account: false
                        create_users: false
                        alter_users: false
                        create_datasets: true
                      email: sim-editor-1@crunch.io
                      preferences:
                        search_settings:
                          timeRange: null
                          timeCriteria: null
                          matchMode: any-terms
                          scope: null
                          grouping: datasets
                          view: ranked
                        features: {}
                        displaySettings:
                          showDescription: true
                          showValueLabels: false
                          simpleOrExtended: simple
                          showEmpty: false
                          percentageDirection: colPct
                          separateOrCombined: separate
                          showCategoriesSubtotals: both
                          showSignif: false
                          showMean: false
                          countsOrPercents: percent
                          decimalPlaces: 0
                          geoChart: true
                          populationMagnitude: 3
                          showVisualization: true
                          columnSignificance: null
                        datasetDisplaySettings:
                          displayArchivedDatasets: true
                        projectId: 'https://alpha.crunch.io/api/projects/d22b37e0258a4986b29598fc79ccc24f/'
                        notificationsReadDate: '2020-04-16T20:04:05.281Z'
                        openedDecks:
                          eb4ea0e51e5e45caabebdb75c5147db4: 'https://alpha.crunch.io/api/datasets/eb4ea0e51e5e45caabebdb75c5147db4/decks/c3a7ca0a71904afeb9624fb713dad354/'
                          a2223646a2854fbf98495f6dc3e264b4: 'https://alpha.crunch.io/api/datasets/a2223646a2854fbf98495f6dc3e264b4/decks/f42eac179f6d47ecb698f758e49895c5/'
                          4c44283be4b24942ad11e8363e054cc3: 'https://alpha.crunch.io/api/datasets/4c44283be4b24942ad11e8363e054cc3/decks/27572276d8d848bbaaeef361fe6fc123/'
                          68f6997042ed4f19b536fa7b6daf1e2f: 'https://alpha.crunch.io/api/datasets/68f6997042ed4f19b536fa7b6daf1e2f/decks/c658efaf87c945d892b68ee950881a4f/'
                          d682f3f648c6473ea0b79fb2b23d4acb: 'https://alpha.crunch.io/api/datasets/d682f3f648c6473ea0b79fb2b23d4acb/decks/59e851c6a5e84da0b473ef95695795a7/'
                          0be895b02a054e0e9e742b95ebdcfca0: 'https://alpha.crunch.io/api/datasets/0be895b02a054e0e9e742b95ebdcfca0/decks/c3a7ca0a71904afeb9624fb713dad354/'
                          018ca6872e0e4b5b9cdc0745f4b11ef8: 'https://alpha.crunch.io/api/datasets/018ca6872e0e4b5b9cdc0745f4b11ef8/decks/d333732f3aed4f95ac3e8a27cdcf03af/'
                          2ff0e33046984f838a4cb330291d2edb: 'https://alpha.crunch.io/api/datasets/2ff0e33046984f838a4cb330291d2edb/decks/26887165af584599a98ba51cb12a6811/'
                          6284ae2013ae4f6bbb0fc8eaa606d7e3: 'https://alpha.crunch.io/api/datasets/6284ae2013ae4f6bbb0fc8eaa606d7e3/decks/7bccfa13b3ff42a29a1be7032f7f4d2c/'
                          0700211987ee4599a9fa0924a58c9af0: 'https://alpha.crunch.io/api/datasets/0700211987ee4599a9fa0924a58c9af0/decks/2b5ec4e80fcb42358d3e4e764b1319cb/'
                        varCardSettings: {}
                        dsVisibleProps:
                          access_time: true
                          name: true
                          modification_time: true
                        notificationsSnoozeDate: null
                        projectBrowser: {}
      operationId: get-users-userid
      description: User ID of the user currently logged in can be retrieved via API by performing a GET on endpoint /.
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/ \\\n  -H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
  /public/:
    get:
      summary: Unauthenticated urls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shoji-catalog'
              examples:
                example-1:
                  value:
                    element: 'shoji:catalog'
                    self: 'https://app.crunch.io/api/public/'
                    views:
                      signup_resend: 'https://app.crunch.io/api/public/signup_resend/'
                      inquire: 'https://app.crunch.io/api/public/inquire/'
                      password_reset: 'https://app.crunch.io/api/public/password_reset/'
                      signup: 'https://app.crunch.io/api/public/signup/'
                      oauth2redirect: 'https://app.crunch.io/api/public/oauth2redirect/'
                      change_email: 'https://app.crunch.io/api/public/change_email/'
                      login: 'https://app.crunch.io/api/public/login/'
                      password_change: 'https://app.crunch.io/api/public/password_change/'
                    config: 'https://app.crunch.io/api/public/config/'
                    urls:
                      config_url: 'https://app.crunch.io/api/public/config/'
                    description: Lists all the options available to non authenticated requests
      operationId: get
      tags:
        - Catalogs
      description: Lists all the options available to non authenticated requests.
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: 'curl -X GET https://app.crunch.io/api/public/'
  /account/:
    get:
      summary: Account details
      tags:
        - Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-entity-element'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  catalogs:
                    $ref: '#/components/schemas/Shoji-catalog-list'
                  views:
                    $ref: '#/components/schemas/Shoji-view-list'
                  description:
                    type: string
                  body:
                    $ref: '#/components/schemas/Account'
              examples:
                example-1:
                  value:
                    element: 'shoji:entity'
                    self: 'https://app.crunch.io/api/account/'
                    catalogs:
                      applications: 'https://app.crunch.io/api/account/applications/'
                      users: 'https://app.crunch.io/api/account/users/'
                    views:
                      templates: 'https://app.crunch.io/api/account/templates/'
                      logo: 'https://app.crunch.io/api/account/logo/'
                    description: Details for an account
                    body:
                      templates:
                        powerpoint: ''
                      logo:
                        large: ''
                        small: ''
                        favicon: ''
                      palette: {}
                      name: Account created for dcarr178@gmail.com
                      id: cd6f4fb6b5e848818916c11d61a37a29
      operationId: get-account
      description: "All users belong to one and only one account. Accounts provide an organization-level scope for Crunch.io customers. This endpoint returns information for the authenticated user's account including branding configuration. \n\n## What are account managers?\nAccount managers can administer their various users and entities and have visibility on them. A user is an account manager if their `account_permissions.admin_account=true`."
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: 'curl -X GET https://app.crunch.io/api/account/'
  /feature_flag/:
    get:
      summary: Feature flags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-view-element'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  description:
                    type: string
                    description: Object description
                  value:
                    type: object
                    properties:
                      labs:
                        type: array
                        description: Crunch Labs features enabled in Crunch app for this user
                        items:
                          type: string
                      'on':
                        type: array
                        description: Features enabled in Crunch app for this user
                        items:
                          type: string
                      'off':
                        type: array
                        description: Features disabled in Crunch app for this user
                        items:
                          type: string
              examples:
                example-1:
                  value:
                    element: 'shoji:view'
                    self: 'https://alpha.crunch.io/api/feature_flag/'
                    description: Indicates the status of a given feature
                    value:
                      labs:
                        - decipher
                        - multitable-importer
                        - triple_s
                        - scorecards
                        - automation
                        - dashboards-tabbed-analyses
                      'on':
                        - stream_validation
                        - stream_quick_appends
                        - automatic_frame_collapsing
                        - skip_folders_integrity_checking
                        - profiles_notify_latest
                        - significant_columns
                        - dashboards-ui
                        - variable_tags
                        - secure_folder
                        - column-significance-ui
                        - branding
                        - auto_check_datamap
                        - templates
                        - uniform_default_false
                        - dashboard-rich-text-tiles
                        - pptx-account-template
                        - project_admin
                        - interaction-builder
                        - value_labels
                        - deck_slide_edits
                        - dashboard-kpi
                        - cat_date_deriv
                        - disable-multitablefunc
                      'off':
                        - profiles_collaborate_link
                        - spss_uniform_default_false
                        - csv_import_pandas
                        - augment-dimensions
      operationId: get-feature_flag
      description: Crunch uses feature flags to enable and disable system-wide features under development. This api endpoint returns the application features the authenticated user has access to.
      tags:
        - Users
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/feature_flag/ \\\n  -H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
      security:
        - Access Token: []
  /projects/:
    get:
      summary: Project urls
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-catalog-element'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  index:
                    type: object
                  body:
                    $ref: '#/components/schemas/Shoji-catalog-body'
                  catalogs:
                    $ref: '#/components/schemas/Shoji-catalog-list'
              examples:
                example-1:
                  value:
                    element: 'shoji:catalog'
                    self: 'https://app.crunch.io/api/projects/'
                    catalogs:
                      personal: 'https://app.crunch.io/api/projects/personal/'
                      shared: 'https://app.crunch.io/api/projects/shared/'
                    index: {}
                    body:
                      modification_time: null
                      name: Projects catalog
                      owner: 'https://app.crunch.io/api/users/1168fb80e331419e9e0b2695714b32b3/'
                      access_time: null
                      permissions:
                        edit: false
                        view: true
                      owner_id: 'https://app.crunch.io/api/users/1168fb80e331419e9e0b2695714b32b3/'
                      description: Displays all the projects you have access to
      operationId: get-projects
      security:
        - Access Token: []
      description: Returns a list of projects the authenticated user is a member of.
      tags:
        - Catalogs
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/projects/ \\\n\t-H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
  /projects/shared/:
    get:
      summary: Datasets shared with me
      tags:
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-catalog-element'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  index:
                    $ref: '#/components/schemas/Dataset-list'
                  body:
                    $ref: '#/components/schemas/Shoji-catalog-body'
              examples:
                example-1:
                  value:
                    element: 'shoji:catalog'
                    self: 'https://app.crunch.io/api/projects/shared/'
                    index:
                      'https://app.crunch.io/api/datasets/69ec37de2efe483fb81e910ec360b97c/':
                        size:
                          rows: 10596
                          unfiltered_rows: 10596
                          columns: 6364
                        current_editor_name: Crunch Support
                        account: 'https://app.crunch.io/api/accounts/8f04c13804e94ca8b3cf568f8da36cf0/'
                        owner_name: Just Eat
                        name: Just Eat BX data
                        end_date: null
                        streaming: 'no'
                        owner_id: 'https://app.crunch.io/api/projects/70bc37797d734a868fb9bb641cbbcd80/'
                        current_editor: 'https://app.crunch.io/api/users/df3e3c5f7ce74365960d1305373564f0/'
                        creation_time: '2020-03-25T20:36:10.238000+00:00'
                        archived: false
                        view_of: null
                        start_date: null
                        modification_time: '2020-04-02T14:18:20.032000+00:00'
                        access_time: '2020-03-27T23:39:30.536000+00:00'
                        permissions:
                          edit: false
                          view: true
                        is_published: true
                        type: dataset
                        id: 69ec37de2efe483fb81e910ec360b97c
                        description: ''
                      'https://app.crunch.io/api/datasets/9f1f51ac5b70492c9e573288e9e6bed6/':
                        size:
                          rows: 1500
                          unfiltered_rows: 1866
                          columns: 949
                        current_editor_name: Mike Malecki
                        account: 'https://app.crunch.io/api/accounts/00001/'
                        owner_name: Example datasets
                        name: 'Political Attitudes | Week of 2019-04-15'
                        end_date: '2019-04-16T00:00:00+00:00'
                        streaming: 'no'
                        owner_id: 'https://app.crunch.io/api/projects/f28cb95815894f6fbdffbd4598c82fc9/'
                        current_editor: 'https://app.crunch.io/api/users/5187f95407a7d83fe485396c/'
                        creation_time: '2019-04-19T16:49:56.831000+00:00'
                        archived: false
                        view_of: null
                        start_date: '2019-04-13T00:00:00+00:00'
                        modification_time: '2020-03-12T20:24:34.770000+00:00'
                        access_time: '2020-04-07T21:50:10.029000+00:00'
                        permissions:
                          edit: false
                          view: true
                        is_published: true
                        type: dataset
                        id: 9f1f51ac5b70492c9e573288e9e6bed6
                        description: ''
                    body:
                      modification_time: '2020-04-07T21:50:10.029000'
                      name: Shared
                      owner: 'https://app.crunch.io/api/users/1168fb80e331419e9e0b2695714b32b3/'
                      access_time: '2020-04-02T14:18:20.032000'
                      permissions:
                        edit: false
                        view: true
                      owner_id: 'https://app.crunch.io/api/users/1168fb80e331419e9e0b2695714b32b3/'
                      description: Items that other users have shared with you
      operationId: get-projects-shared
      description: Returns a list of datasets other users have shared with the authenticated user.
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/projects/shared/ \\\n  -H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
  /public/config/:
    get:
      summary: Company configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sub-domain-configuration'
              examples:
                example-1:
                  value:
                    logo:
                      large: 'https://s.crunch.io/act_app_icons/mycompany-wcaran-large.png'
                      small: 'https://s.crunch.io/act_app_icons/mycompany-nchvcz-small.png'
                      favicon: 'https://s.crunch.io/act_app_icons/mycompany-kyzdnb-favicon.ico'
                    palette: {}
                    name: My Company
                    oauth_redirect: true
                    manifest: {}
      operationId: get-public-config
      description: |-
        Returns a sub-domain's configuration, if configured. If none exists, the body will be empty.

        **NOTE**: This api request is designed to run against a **company sub-domain** not against `app.crunch.io`.

        `https://yougov.crunch.io/api/public/config/`

        API response.body contains the subdomain’s current configuration. if no configuration exists, response.body will be an empty object.
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: 'curl -X GET https://yougov.crunch.io/api/public/config/'
      security: []
      tags:
        - Integrating Crunch
  /:
    get:
      summary: Root urls
      tags:
        - Catalogs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    $ref: '#/components/schemas/Shoji-catalog-element'
                  self:
                    $ref: '#/components/schemas/Shoji-self'
                  catalogs:
                    $ref: '#/components/schemas/Shoji-catalog-list'
                  views:
                    $ref: '#/components/schemas/Shoji-view-list'
                  urls:
                    $ref: '#/components/schemas/Shoji-url-list'
                  description:
                    type: string
                    description: Catalog description
              examples:
                example-1:
                  value:
                    element: 'shoji:catalog'
                    self: 'https://alpha.crunch.io/api/'
                    catalogs:
                      datasets: 'https://alpha.crunch.io/api/datasets/'
                      users: 'https://alpha.crunch.io/api/users/'
                      roles: 'https://alpha.crunch.io/api/roles/'
                      icons: 'https://alpha.crunch.io/api/icons/'
                      dashboards: 'https://alpha.crunch.io/api/dashboards/'
                      integrations: 'https://alpha.crunch.io/api/integrations/'
                      sources: 'https://alpha.crunch.io/api/sources/'
                      projects: 'https://alpha.crunch.io/api/projects/'
                      geodata: 'https://alpha.crunch.io/api/geodata/'
                      teams: 'https://alpha.crunch.io/api/teams/'
                      public: 'https://alpha.crunch.io/api/public/'
                      lobs: 'https://alpha.crunch.io/api/lobs/'
                      datasets_by_name: 'https://alpha.crunch.io/api/datasets/by_name/{name}/'
                    views:
                      progress: 'https://alpha.crunch.io/api/progress/'
                      search: 'https://alpha.crunch.io/api/search/'
                      feature_flag: 'https://alpha.crunch.io/api/feature_flag/'
                      migration: 'https://alpha.crunch.io/api/migration/'
                      account: 'https://alpha.crunch.io/api/account/'
                      user: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/'
                    urls:
                      user_url: 'https://alpha.crunch.io/api/users/f94d0f8486f14689b1c9fdd982d51700/'
                      account_roles_url: 'https://alpha.crunch.io/api/roles/accounts/'
                      notebook_url: 'https://alpha-jupyter.crunch.io/'
                      logout_url: 'https://alpha.crunch.io/api/logout/'
                      account_url: 'https://alpha.crunch.io/api/account/'
                    description: The API root. GET user_url to access your Crunch resources. GET logout_url to sign out.
      operationId: get
      x-code-samples:
        - lang: SHELL
          syntaxLang: bash
          source: "curl -X GET https://app.crunch.io/api/ \\\n  -H \"Authorization: Bearer 598d9e1105ad96dac7ab528f0928996e\""
security:
  - Access Token: []
