{{ partial "head.html" . }}

<div id="first-content"></div>

{{ partial "header.html" . }}

     <div id="dot-nav" class="float-right">
         <ul>
             <li><a href="crunchdb/#first-content">1</a></li>
             <li><a href="crunchdb/#second-content">2</a></li>
             <li><a href="crunchdb/#third-content">3</a></li>
         </ul>
     </div>

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="speaks-research-content">

                      <div class="header-content">
                          <div class="jumbotron">
                              <div class="container">
                                  <div class="row justify-content-md-center">
                                      <div class="col-md-7">
                                          <h1>{{ .Params.title }}</h1>
                                          <p>{{ .Params.description }}</p>
                                      <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                                      </div>
                                  </div> <!-- /.row -->
                              </div> <!-- /.container -->
                          </div> <!-- /.jumbotron -->
                      </div> <!-- /.header-content -->

                    <section class="page-scroll">

                        <div class="container spacer">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="learn-more-img-1">
                                        <img src="img/{{ .Params.img }}" alt="" class="img-fluid add-shadow">
                                    </div>
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <p>{{ .Content }}</p>
                                </div>
                            </div> <!-- /.row. -->
                        </div> <!-- /.container -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                            {{ range .Data.Pages }}
                                {{ if and (eq .Type "crunchdb") (eq .Title "No more copies") }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="learn-more-title text-center">{{ .Content }}</h1>
                                    </div>
                                </div> <!-- /.row. -->
                                {{ end }}
                            {{ end }}
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                            {{ range .Data.Pages }}
                                {{ if and (eq .Type "crunchdb") (eq .Title "Keep up to date") }}
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block text-center">
                                        <div id="learn-more-img-2">
                                            <img src="img/{{ .Params.img }}" alt="" class="img-fluid add-shadow">
                                        </div>
                                    </div>
                                    <div class="col-md-3 offset-md-1">
                                        <img src="img/{{ .Params.img }}" alt="" class="img-fluid d-md-none d-sm-block add-shadow">
                                        <p>{{ .Content }}</p>
                                        <!-- <a href="/">Try now!</a> -->
                                    </div>
                                </div>
                                {{ end }}
                            {{ end }}
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
