{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="jobs-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-7">
                                <h1 class="display-4"><span>{{ .Title }}</span></h1>
                            </div>

                            <div class="col-md-4">
                                <p>{{ .Content }}</p>
                                <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                            </div>

                        </div> <!-- /.row -->

                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div> <!-- /.jobs-content -->

            <div class="secondary-content">
              <div class="container">

                  <div class="row spacer-bottom">
                      {{ range .Pages.ByWeight }}
                          <div class="col-md-6 col-lg-4">
                              <div class="post-card post-job" onclick="location.href='{{ .Params.hubspot }}'">
                                  <div class="posts">
                                      <span>{{ .Params.label }}</span>
                                      <h4 class="post-title">{{ .Title | emojify }}</h4>
                                      <a href="{{ .Params.hubspot }}">{{ .Params.link }} &#10230;</a>
                                  </div>
                              </div>
                          </div>
                      {{ end }}
                  </div>

              </div> <!-- /.container -->
            </div> <!-- /.secondary-content -->

            <div class="footer-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Learn about <span>our team</span></h1>
                                <a href="team" class="btn btn-link">Our team &#10230;</a>
                            </div>
                        </div> <!-- /.row. -->
                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div>

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
