{{ partial "head-start.html" . }}
{{ if eq .Dir "dev/" }}
<meta http-equiv="refresh" content="0; url=dev/features/"/>
{{ end }}

{{ partial "head-finish.html" . }}
{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="blog-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12 header-content-container">
                                <h1 class="display-4">{{ .Title }}</h1>
                                <p>{{ .Content }}</p>
                            </div>
                        </div> <!-- /.row -->

                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->

                <div class="container resources-main">
                  {{ range where .Pages "Params.series" "main" }}
                  <div class="row">
                      <div class="col-md-8 post-card-main-content">
                          <div class="post-card post-min-height">
                              <div class="posts">
                                  <h4 class="post-title">{{ with .Title }} {{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{ index (split . " ") 2 }} {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index (split . " ") 5 }} {{ index (split . " ") 6 }} {{ index (split . " ") 7 }} <i>{{ index (split . " ") 8 }}</i> {{ index (split . " ") 9 }} {{ index (split . " ") 10 }} {{ index (split . " ") 11 }} {{ end }}</h4>
                                  <p>{{ .Params.description }}</p>
                                  <span>{{ .Params.eventdate }}</span>

                                  <br>
                                  <a href="{{ .Permalink }}">Learn More &#10230;</a>
                              </div>
                          </div>
                      </div> <!-- /.col-md-5 -->

                      <div class="col-md-4 subscribe-whats-new">
                          {{ partial "subscribe-whats-new" . }}
                      </div>

                      <!-- <div class="col-md-6 offset-md-1 figure d-none d-md-block d-lg-block"> </div> -->
                  </div> <!-- /.row -->

                  {{ end }}
                </div>
            </div> <!-- /.blog-content -->

            <div class="secondary-content">
              <div class="container">

                  <div class="row">
                      {{ range .Paginator.Pages.ByPublishDate.Reverse }}
                          <div class="col-md-6 col-lg-4">
                              <div class="post-card" onclick="location.href='{{ .Permalink }}'">
                                  <div class="posts">
                                      <h4 class="post-title">{{ .Title | emojify }}</h4>
                                      <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
                                      <p>{{ .Params.description }}</p>
                                      <a href="{{ .Permalink }}">Learn More &#10230;</a>
                                  </div>
                              </div>
                          </div>
                      {{ end }}
                  </div>

                  {{ partial "blog/pagination" . }}

              </div> <!-- /.container -->
            </div> <!-- /.secondary-content -->

            <div class="footer-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Learn about <span>our team</span></h1>
                                <a href="team" class="btn btn-link">Our team &#10230;</a>
                            </div>
                        </div> <!-- /.row. -->
                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div>

{{ partial "footer-nav.html" . }}

{{ partial "footer" . }}
