{{ partial "head-start.html" . }}
{{ if eq .Dir "dev/" }}
<meta http-equiv="refresh" content="0; url=dev/features/"/>
{{ end }}

{{ partial "head-finish.html" . }}

{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="blog-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h1>The <span>latest</span></h1>
                            </div>
                            {{ range first 1 .Data.Pages.ByPublishDate.Reverse }}
                            <div class="col-md-8" onclick="location.href='{{ .Permalink }}'" style="cursor: pointer;">
                                <h2>{{ .Title | emojify }}</h2>
                                <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
                                <p class="lead">{{ .Summary | emojify }}...</p>
                                <a href="{{ .Permalink }}">Learn More &#10230;</a>
                            </div>
                            {{ end }}
                        </div> <!-- /.row -->

                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div> <!-- /.blog-content -->

            <div class="secondary-content">
              <div class="container">

                  <div class="row spacer-top spacer-bottom justify-content-md-center">
                      <div class="col-md-8">
                          <h2 class="text-center"><span>{{ .Content }}</span></h2>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-lg-4">
                          <div class="post-card post-min-height" style="background-color: inherit;">
                              <div class="posts">
                                  {{ partial "subscribe-whats-new" . }}
                              </div>
                          </div>
                      </div>
                      {{ range .Paginator.Pages.ByPublishDate.Reverse }}
                          <div class="col-md-6 col-lg-4">
                              <div class="post-card" onclick="location.href='{{ .Permalink }}'">
                                  <div class="posts">
                                      <h4 class="post-title">{{ .Title | emojify }}</h4>
                                      <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
                                      <p>{{ .Params.description }}</p>
                                      <a href="{{ .Permalink }}">Learn More &#10230;</a>
                                  </div>
                              </div>
                          </div>
                      {{ end }}
                  </div>

                  {{ partial "blog/pagination" . }}

              </div> <!-- /.container -->
            </div> <!-- /.secondary-content -->

            <div class="footer-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Learn about <span>our team</span></h1>
                                <a href="team" class="btn btn-link">Our team &#10230;</a>
                            </div>
                        </div> <!-- /.row. -->
                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div>

{{ partial "footer-nav.html" . }}

{{ partial "footer" . }}
