{{ partial "head-start.html" . }}
{{ if eq .File.Dir "dev/" }}
<meta http-equiv="refresh" content="0; url=dev/features/" />
{{ end }}

{{ partial "head-finish.html" . }}
{{ partial "header.html" . }}

<section id="features" class="crunch-gradient-gray py-sm-5  p-0">
    <div class="container py-sm-5 py-0">
        <div class="row">
            <div class="col-md-5">
                <h1 class="crunch-h1">{{ .Params.title }}</h1>
                <p class="semibold-string">{{ .Description }}</p>
            </div>
            <div class="col-md-6 offset-md-1 offset-sm-0">
                <div class="crunch-reflection-container">
                    <div class="crunch-reflection-content">

                        {{ partial "subscribe-whats-new" . }}

                    </div>
                    <div class="crunch-reflection-effect crunch-reflection-left-bottom crunch-background-green"></div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="py-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-stretch">
            {{ range where .Pages "Params.series" "main" }}
            <div class="col-md-8 py-4 d-flex">
              
                    <div class="card-body shadow rounded d-flex flex-wrap " onclick="location.href='{{ .Permalink }}'">
                        <h1 class="post-title">{{ with .Title }} {{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{ index (split . " ") 2 }}  {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index (split . " ") 5 }} <i>{{ index (split . " ") 6 }}</i> {{ index (split . " ") 7 }} {{ index (split . " ") 8 }} {{ index (split . " ") 9 }} {{ index (split . " ") 10 }} {{ index (split . " ") 11 }} {{ index (split . " ") 12 }} {{ index (split . " ") 13 }} {{ index (split . " ") 14 }} {{ end }}</h1>
                        <p style="color: #444; margin-bottom: 98px">{{ .Params.description }}</p>
                        <span>{{ .Params.eventdate }}</span>

                        <div class="col-12 d-flex features-details justify-content-between flex-wrap align-self-end">
                            <div class="col">
                                <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
                            </div>

                            <div class="col" style="text-align: right;">
                                <a href="{{ .Permalink }}" aria-label="Learn More">Learn More &#10230;</a>
                            </div>

                        </div>
              
                </div>
            </div> <!-- /.col-md-5 -->
            {{ end }}

            {{ range .Paginator.Pages.ByPublishDate.Reverse }}
            <div class="col-md-6 col-lg-4 py-4 d-flex">
                
                    <div class="card-body shadow rounded d-flex flex-wrap "  onclick="location.href='{{ .Permalink }}'">
                        <h4 class="post-title">{{ .Title | emojify }}</h4>
                        <p>{{ .Params.description | truncate 75 }}</p>

                        <div class="row features-details col-12 d-flex justify-content-between flex-wrap align-self-end ">
                          
                                <p>{{ .PublishDate.Format "Jan 2, 2006" }}</p>
                            

                          
                                <a href="{{ .Permalink }}" aria-label="Learn More">Learn More &#10230;</a>
                           
                        </div>
                    </div>
               
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section>
    <div class="container">
        {{ partial "blog/pagination" . }}
    </div>
</section>

{{ partial "footer-nav.html" . }}

{{ partial "footer" . }}