{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="blog-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12 text-center">
                                <h1 class="display-5">{{ .Title | emojify }}</h1>
                            </div>
                        </div> <!-- /.row -->

                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div> <!-- /.blog-content -->

            <div class="secondary-content">
              <div class="container blog-content-mg">

                  <div class="row spacer-bottom">
                      <div class="col-md-10 offset-md-1">
                          {{ .Content | emojify }}
                      </div>
                  </div>

              </div> <!-- /.container -->
            </div> <!-- /.secondary-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
