{{ partial "head.html" . }}

<div id="first-content"></div>

{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

        <div class="visualization">

            <div class="header-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-7">
                                <h1>{{ with .Params.title }} {{ index (split . " ") 0 }} <span>{{ index (split . " ") 1 }}</span> {{ index (split . " ") 2 }} {{ end }}</h1>

                                <p>{{ .Params.description }}</p>
                                <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div> <!-- /.header-content -->

            <div class="container spacer-top spacer-bottom">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <div id="learn-more-img-1">
                        <img src="img/deck_pptx.gif" class="img-fluid add-shadow">
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <p>{{ .Content }}</p>
                        <a href="crunchbox">Learn more &#10230;</a>
                    </div>
                </div>
            </div> <!-- /.container -->

        </div> <!-- /.visualization -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
