// Homepage content styles
// Page-content-wrapper
#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper-homepage.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

@media(min-width:768px) {
    #wrapper-homepage.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

// Crunch interface
.crunch-interface {

    &.hidden {
         opacity: 0;
    }

    img {
        margin: auto;
        margin-top: -200px;
    }
}

// Secondary-content
.secondary-content {
    .row {
        margin: 0;
    }
}

//Secondary-pages content styles
#secondary-pages-wrapper {

    //About content
    .about-content {
        color: $color-white;

        .jumbotron {
            height: 600px;
            background: $color-green url(../images/app_interface_example.png) no-repeat;
            background-position: center 260px;
        }
    }

    .lead {
        color: $color-green;
    }

    .secondary-content {
        h2 {
            color: $color-green;
        }

        .features {
            margin-top: 50px;

            > div {
                border-left: 1px solid $color-green;
            }

            div:last-child {
                border-right: 1px solid $color-green;
            }
        }
    }

    .footer-content {
        color: $color-white;

        .jumbotron {
            height: 300px;
            background: url(../images/crunch_shell.jpg) no-repeat center center fixed;
            @include vp-background-size(cover);
            margin-bottom: 0;

            .btn-link {
                    color: $color-white;
                    padding: 0;
                    margin: 0;
            }
        }
    }

    //Team content

    .team-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-green;
            height: 485px;

        }

        .team-leads {
            // border:1px solid red;
            margin-top: -250px;
            margin-bottom: 50px;
        }
    }

    .figure {

        .figure-caption {
            margin-top: 10px;
        }

    }

    @include media-breakpoint-down(xs) {
        .team-members,
        .team-leads {
            text-align: center;
        }
    }

}
