{{ define "title"}} {{ .Title | emojify }} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="post-box">
    <div>
        <h1 itemprop="headline">  {{.Title | emojify }}</h1>
    </div>
    <div id="post" itemprop="articleBody">
        {{.Content | safeHTML}}
    </div><br/>
    {{ partial "equal-opportunity.html" . }}

    {{ partial "apply-here.html" . }}
</div>
</div>
{{ partial "footer.html" .}}
