{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id="content-resources" class="sections crunch-gradient-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pt-5">
                <h1 class="crunch-h1">{{ .Title }}</h1>
                <p>{{ .Content }}</p>
            </div>
            <div class="col-lg-6 my-5 offset-lg-1 offset-sm-0">
                <div class="crunch-reflection-container">
                    <div class="crunch-reflection-content">
                        
                            {{ range where .Pages "Params.series" "main" }}
                            <div class="p-4">
                                <p>{{ .Params.label }}</p>
                                <h2 class="crunch-h2"> {{ .Params.Title }}</h2>
                                <p style="color: #0064a4">{{ .Params.about }}<br> {{ .Params.schedule }}</p>
                                <img src="img/yougov_case_study_dash_opaque.png" alt="{{ .Params.Title }}" class="img-fluid"/>
                                <br>
                                <a class="btn btn-primary" href="{{ .Params.url }}" target="_blank">{{ .Params.link
                                }}</a>
                            </div>
                            {{ end }}
                        
                    </div>
                    <div class="crunch-reflection-effect crunch-reflection-left-bottom crunch-background-green"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="industry-product-resources" class="sections py-5">
    <div class="container">
       
            <div class="row row-cols-1 row-cols-lg-2 justify-content-between">
                {{ $pages := where .Pages "Params.series" "case-studies"}}
                {{ range $pages  }}
                <div class="d-flex card-item col-12">
                    <div class="shadow w-100 p-2 mb-5">
                        
                        <div class="card-body " >
                        
                                <h5 class="card-title">{{  .Title | emojify}}</h5>
                                <h4 class="card-text crunch-h4"><button type="button" class="btn btn-link p-0 text-left" onclick="location.href='{{ .Permalink }}'">{{ .Params.description }}</h4>
                        
                        </div> <!--/.card-body -->
                    </div> <!-- /.flex.shadow-->
                </div><!-- /.card-item -->
                {{ end }}
            </div><!-- /.row -->
    </div>
</section>

{{ partial "footer-nav.html" . }}
{{ partial "footer.html" . }}
