{{ partial "head.html" . }}

{{ partial "header.html" . }}



<section class="section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <img src="{{ .Params.logo }}" alt="" class="img-logo" />
                <h1 class="crunch-h2 mb-5">{{ .Params.description }}</h1>

                <table class="table table-bordered background-grey">
                    <tbody>
                        <tr>
                            <th scope="col" class="pr-4"><strong>Industry</strong></th>
                            <td class="text-left">{{ .Params.industry }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="pr-4"><strong>Region</strong></th>
                            <td class="text-left ">{{ .Params.region }}</td>
                            
                        </tr>
                        <tr>
                            
                            <th scope="col" class="pr-4"><strong>About</strong></th>
                            <td class="text-left ">{{ .Params.about }}</td>
                        </tr>
                        <tr>
                        <th scope="col" class="pr-4"><strong>Handle</strong></th>
                        <td class="text-left ">{{ .Params.case }}</td>
                                
                        </tr>
                    </tbody>
                </table>

                <p>{{ .Content }}</p>
            </div>
            <div class="col-md-4 col-12 pt-5 position-relative">
                <div class="sticky-top pt-5">
                <img src="img/yougov_case_study_dash_opaque.png" alt="{{ .Params.Title }}" class="img"/>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container">

  
            <div class="secondary-content">
                <div class="container spacer-top spacer-bottom">
                    

                    <div class="row spacer-top">
                        <div class="col-md-8 offset-md-2">
                            <h3 class="text-center emphasis">Other case studies</h3>
                        </div>
                    </div> <!-- /.row -->

                    <div id="case-studies-carts" class="row spacer-bottom">
                        {{ partial "case-studies.html" . }}
                    </div>
                </div> <!-- /.jumbotron -->
            </div> <!-- /.blog-content -->


            {{ partial "footer-nav.html" . }}

            {{ partial "footer.html" . }}