{{ partial "head.html" . }}

{{ partial "header.html" . }}

<sections id="careers-top" class="sections crunch-gradient-gray py-5 my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5">
        <h1 class="crunch-h1">{{ .Title }}</h1>
        <div class="emphasis-black  ">{{ .Content }}</div>
      </div>
      <div class="col-md-6 my-5 offset-md-1 offset-sm-0">
        <div class="crunch-reflection-container">
          <div class="crunch-reflection-content">

            {{ $pages := where .Pages "Params.series" "events"}}
            {{ range first 1 .Pages }}
            <div class="p-4">
              <p>Lates opportunity</p>
              <h2 class="crunch-h2"> {{ .Params.Title }}</h2>
              {{.Params.Resume }}
              
              <br/>
              <a class="btn btn-primary mt-3"  data-toggle="collapse" href="#positions-{{.Params.id}}"
              data-target="#{{.Params.id}}" aria-expanded="false" aria-controls="{{.Params.id}}" target="_blank">Learn More</a>
              
            </div>
            {{ end }}

          </div>
          <div class="crunch-reflection-effect crunch-reflection-left-bottom crunch-background-green"></div>
        </div>
      </div>
    </div>
  </div>
</sections>
<sections id="careers" class="sections crunch-gradient-gray py-5 my-5 ">
  <div class="container mb-5">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
            <h2 class="crunch-h2 mb-5">Open positions</h2>
            <div id="resources-filter-container">
              <button class="btn-filter btn-default-shadow btn-primary btn" onclick="filterSelection('all-filter')">
                All</button>
              <button class="btn-filter btn-default-shadow btn" onclick="filterSelection('sales-marketing-filter')">
                Sales & Marketing</button>
              <button class="btn-filter btn-default-shadow btn" onclick="filterSelection('engineering-data-filter')">
                Engineering & Data</button>
              <button class="btn-filter btn-default-shadow btn" onclick="filterSelection('product-design-filter')">
                Product & Design</button>
              <button class="btn-filter btn-default-shadow btn" onclick="filterSelection('operations-filter')">
                Operations</button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row row-cols-1  justify-content-between">
            {{ $pages := where .Pages "Params.series" "events"}}
            {{ range .Pages }}
            <div id="positions-{{.Params.id}}"
              class="mb-5 d-flex flex-wrap align-items-stretch card-item resources-filter {{.Params.filter}}-filter col-12">
              <div class="shadow w-100">
                <div class="d-flex align-items-center pl-3 pr-5 justify-content-between w-100">

                  <div class="card-body  ">
                    <div class="align-self-stretch w-100">
                      <h5 class="card-title">{{ .Params.label }}</h5>
                      <h4 class="card-text crunch-h4">{{ .Title | emojify }}</h4>
                    </div>
                  </div>
                  <!--/.card-body -->

                  <button class="btn btn-primary card-link circle collapsed" type="button" data-toggle="collapse"
                    data-target="#{{.Params.id}}" aria-expanded="false" aria-controls="{{.Params.id}}"></button>
                </div> <!-- /.flex.shadow-->
                <div id="{{.Params.id}}" class="collapse pt-2 px-5 pb-5">
                  {{ .Content }}
                </div>
              </div>
            </div><!-- /.card-item -->
            {{ end }}
          </div><!-- /.row -->
        </div><!-- /.col -->

      </div>
    </div>
  </div>
</sections>

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}