{{ partial "head.html" . }}

{{ partial "header.html" . }}


<section id="automation" class="crunch-gradient-gray py-5">
    <div class="container-fluid py-5  px-md-0 px-sm-3">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center">
                <div>
                    <h1 class="crunch-h1">{{ .Params.title }}</h1>
                    <p class="semibold-string word-wrap overflow-wrap text-break">{{ .Description }}</p>
                    <a href="/request-demo/" aria-label="Request a demo"
                        class="btn btn-primary btn-lg cta mt-3 mb-5 justify-s d-none d-sm-inline-block">Request a
                        demo</a>

                </div>
            </div>
            <div class="col-md-7 ">
                <img src="{{ .Params.gif }}" alt="{{ .Params.title }}" width="920" height="auto"
                    class="img-fluid add-shadow-xl rounded">

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section id="dashboards-delivery">
        <div class="container-fluid px-md-0 px-sm-3">
            {{ range .Site.Pages }} {{ if and (eq .Type "automation") (eq .Title
            "Crunch Automation") }}

            <div class="row py-5 justify-content-around">
           
                <div
                    class="col-md-5 col-12 d-flex  justify-content-start justify-content-md-center align-items-center order-1">
                    <div class="py-md-5">

                        <h2 class="crunch-h2 mb-2">
                            {{.Params.label}}
                        </h2>
                        <div>
                            <p>{{.Params.content_1}}</p>
                            {{ .Content }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-end py-5 order-2">
                    <div
                        class="crunch-reflection crunch-reflection-small justify-content-center  crunch-reflection-right-top crunch-background-blue">
                        <img src="{{ .Params.img }}" alt="{{ .Params.title }}" class="img-fluid p-3" />
                    </div>
                </div>

                <!-- /.row. -->

                {{ end }} {{ end }}

        </div>
</section>

<section >
    <div class="container-fluid px-md-0 px-sm-3">
        {{ range .Site.Pages }} {{ if and (eq .Type "automation") (eq .Title
            "Deliver dashboards at scale, fast") }}

            <div class="row py-5 justify-content">
                
                <div
                    class="col-md-5 col-12 d-flex  justify-content-end justify-content-md-center align-items-center order-2">
                    <div class="py-md-5">
                        <h2 class="crunch-h2">
                            {{.Params.title}}
                        </h2>
                        <div>
                            {{ .Content }}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-start py-5 order-1">
                    <div
                        class="crunch-reflection crunch-reflection-small justify-content-center  crunch-reflection-right-top crunch-background-blue">
                       
                        <!-- <img src="{{ .Params.carousel_img_2 }}" alt="{{ .Params.title }}" class="img-fluid p-3" /> -->
                       
                    </div>
                </div>

                <!-- /.row. -->

                {{ end }} {{ end }}
    </div>
</section>

{{ partial "footer-nav.html" . }}
{{ partial "footer.html" . }}