{{ partial "head.html" . }}

{{ partial "header.html" . }}


<section class="crunch-gradient-gray">
    <div class="container-fluid py-5 ">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center">
                <div>
                    <h1 class="crunch-h1">{{ .Params.title }}</h1>
                    <p class="semibold-string word-wrap overflow-wrap text-break">{{ .Description }}</p>
                    <a href="/request-demo/" aria-label="Request a demo"
                        class="btn btn-primary btn-lg cta mt-3 mb-5 justify-s d-none d-sm-inline-block">Request a
                        demo</a>

                </div>
            </div>
            <div class="col-md-7 ">
                <img src="{{ .Params.gif }}" alt="{{ .Params.title }}" width="920" height="auto"
                    class="img-fluid add-shadow-xl rounded">

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<div id="wrapper">
    <div>
        <div class="container-fluid">
            {{ range .Site.Pages }} {{ if and (eq .Type "automation") (eq .Title
            "Crunch Automation") }}

            <div class="row py-5 justify-content-between">
                <div class="col-md-12 pt-ls-5 pt-0 mb-md-4 order-0">
                    <h2 class="crunch-h2">
                        Focus your team on insights.
                    </h2>
                    <h2 class="crunch-h2">
                        Not repetitive tasks.
                    </h2>
                </div>

                <div
                    class="col-md-4 col-12 d-flex mr-4 justify-content-start justify-content-md-center align-items-center order-1">
                    <div class="py-md-5">
                        <div>
                            <p>{{.Params.content_1}}</p>
                            <ul>
                                <li>Expedite data transfer and quality checking for instant database and dashboard
                                    updates</li>
                                <li>Clean and organize data</li>
                                <li>Update weights</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-center py-5 order-2">
                    <div
                        class="crunch-reflection crunch-reflection-small justify-content-center  crunch-reflection-right-top crunch-background-blue">
                        <img src="{{ .Params.carousel_img_1 }}" alt="{{ .Params.title }}" class="img-fluid p-3" />
                    </div>
                </div>


                <!-- /.row. -->

                {{ end }} {{ end }}
            </div>
        </div>

        {{ partial "footer-nav.html" . }}

        {{ partial "footer.html" . }}