{{ partial "head.html" . }}

<div id="first-content"></div>


<div id="dot-nav" class="float-right">
    <ul>
        <li><a href="marketing/opinion-matters/#first-content">1</a></li>
        <li><a href="marketing/opinion-matters/#second-content">2</a></li>
        <li><a href="marketing/opinion-matters/#third-content">3</a></li>
    </ul>
</div>

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="crunchbox-content">

                <div class="page-scroll">
                    <div class="jumbotron">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 position-fixed d-none d-sm-block">
                                    <h1><img src="img/marketing/opinion_matters.png" alt=""></h1>
                                </div>

                                <div class="col-sm-12 col-md-8 offset-md-4">
                                    <h1 class="d-block d-sm-none">{{ .Params.title }}</h1>

                                    <div class="crunchbox-container">
                                        <div class="crunchbox">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="{{ .Params.crunchboxone }}" width="100%"
                                                    height="450"></iframe>
                                            </div>
                                        </div>
                                    </div> <!-- /.crunchbox -->

                                    <p style="margin-top:40px;">{{ .Content }}</p>
                                </div>
                            </div> <!-- /.row -->
                        </div> <!-- /.container -->
                    </div> <!-- /.jumbotron -->
                </div> <!-- /.intro-marketing-pages -->

                <section id="second-content" class="page-scroll">
                    <div class="jumbotron">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-3"></div>

                                <div class="col-md-8 offset-md-1">
                                    <div class="crunchbox-container">
                                        <div class="crunchbox">

                                        </div>
                                    </div> <!-- /.crunchbox -->
                                </div>
                            </div>

                        </div> <!-- /.container -->
                    </div> <!-- /.jumbotron -->
                </section>

                <section id="third-content" class="page-scroll">
                    <div class="jumbotron">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-3"></div>

                                <div class="col-md-8 offset-md-1">
                                    <div class="crunchbox-container">
                                        <div class="crunchbox">
                                            <iframe src="{{ .Params.crunchboxthree }}" width="100%"
                                                height="450"></iframe>
                                        </div>
                                    </div> <!-- /.crunchbox -->

                                </div>
                            </div>

                        </div> <!-- /.container -->
                    </div> <!-- /.jumbotron -->
                </section>

            </div> <!-- /.crunchbox-content -->