{{ partial "head.html" . }} {{ partial "header.html" . }}

<section class="crunch-gradient-gray p-2">

    <div class="container py-sm-5 py-3">

        <div class="row">
            <div class="col-md-5">
                <h1 class="crunch-h1">{{ .Params.title }}</h1>
                <p class="semibold-string">{{ .Description }}</p>
            </div>
            <div class="col-md-6 offset-md-1 offset-sm-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ .Params.video }}" loading="lazy" style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            " allowfullscreen frameborder="0" title="Crunch"></iframe>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<div id="wrapper" class="p-2">
    <div id="secondary-pages-wrapper">
        <div class="container">
            {{ range .Site.Pages }} {{ if and (eq .Type "powerful-survey-analytics")
            (eq .Title "Tool") }}

            <div class="row py-5 justify-content-between ">
                <div class="col-md-12 pt-ls-5 pt-0 mb-md-4 order-0">
                    <h2 class="crunch-h2">{{ .Params.label }}</h2>
                </div>

                <div
                    class="col-md-4 mb-5 col-12 d-flex mr-4 justify-content-start justify-content-md-center align-items-center order-1">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ with .Params.organize }}
                            <span>{{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{
                                index (split . " ") 2 }}</span>
                            {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index
                            (split . " ") 5 }} {{ index (split . " ") 6 }} {{ end }}
                        </h3>

                        <div>
                            <p>{{.Params.content_organize}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12  mb-5 col-sm-12 col-md-7 d-flex align-items-center justify-content-end py-5 order-2">
                    <div
                        class="crunch-reflection crunch-reflection-small crunch-reflection-right-top crunch-background-blue">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.vimeo.com/video/761665519?h=402c462156&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Stats Testing 2"></iframe>
                            <script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                        <!-- <img src="{{ .Params.gif }}" alt="{{ .Params.label }}" loading="lazy" width="680" height="442"
                            class="img-fluid add-shadow sp-mb-t rounded" /> -->
                    </div>
                </div>

                <div
                    class="col-12  mb-5 col-sm-12 col-md-6 d-flex align-items-center justify-content-start py-5 order-4 order-md-3">
                    <div
                        class="crunch-reflection crunch-reflection-small crunch-reflection-left-top crunch-background-purple">
                        <div id="collaborate-slider" class="carousel slide crun-slider" data-ride="carousel"
                            data-touch="false" data-interval="false">
                            <ol class="carousel-indicators">
                                <li data-target="#collaborate-slider" data-slide-to="0" class="active"></li>
                                <li data-target="#collaborate-slider" data-slide-to="1"></li>
                                <li data-target="#collaborate-slider" data-slide-to="2"></li>
                            </ol>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="img/powerful_survey_analytics/1.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="img/powerful_survey_analytics/2.jpg" class="d-block w-100" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img src="img/powerful_survey_analytics/3.jpg" class="d-block w-100" alt="..." />
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-target="#collaborate-slider"
                                data-slide="prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15.659"
                                    viewBox="0 0 17 15.659">
                                    <g id="arrow-right" transform="translate(0.5 1.086)">
                                        <path id="arrow-left-1" data-name="arrow-left"
                                            d="M9.11.5l-.693.811L14.934,6.9H.577V7.965H14.934L8.417,13.555l.693.811,7.467-6.4V6.9L9.11.5Z"
                                            transform="translate(-0.577 -0.498)" fill="#fff" stroke="#fff"
                                            stroke-width="1" />
                                    </g>
                                </svg>

                                <span class="sr-only">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-target="#collaborate-slider"
                                data-slide="next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15.659"
                                    viewBox="0 0 17 15.659">
                                    <g id="arrow-right" transform="translate(0.5 1.086)">
                                        <path id="arrow-right-2" data-name="arrow-right"
                                            d="M9.11.5l-.693.811L14.934,6.9H.577V7.965H14.934L8.417,13.555l.693.811,7.467-6.4V6.9L9.11.5Z"
                                            transform="translate(-0.577 -0.498)" fill="#fff" stroke="#fff"
                                            stroke-width="1" />
                                    </g>
                                </svg>

                                <span class="sr-only">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div
                    class="col-md-5  mb-5 col-12 d-flex justify-content-start justify-content-md-center align-items-center order-3 order-md-4">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ with .Params.filter }}
                            <span>{{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{ index (split . " ") 2 }}</span>
                            {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index
                            (split . " ") 5 }} {{ index (split . " ") 6 }} {{ end }}
                        </h3>

                        <div>
                            <p>{{.Params.content_filter }}</p>
                            <ul>
                                <li>{{ .Params.content_filter_list_1 }}</li>
                                <li>{{ .Params.content_filter_list_2 }}</li>
                                <li>{{ .Params.content_filter_list_3 }}</li>
                                <li>{{ .Params.content_filter_list_4 }}</li>
                                <li>{{ .Params.content_filter_list_5 }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div
                    class="col-md-4  mb-5 col-12 d-flex justify-content-start justify-content-md-center align-items-center order-5">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ with .Params.append }}
                            <span>{{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{ index (split . " ") 2 }}</span>
                            {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index
                            (split . " ") 5 }} {{ index (split . " ") 6 }} {{ end }}
                        </h3>

                        <div>
                            <p>{{.Params.content_append}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12  mb-5 col-sm-12 col-md-7 d-flex align-items-center justify-content-end py-5 order-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/776034393?h=49c78bb423&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                    </div>
                </div>
            </div>
            <!-- /.row. -->

            {{ end }} {{ end }}
        </div>
    </div>
</div>

<section  class="d-none crunch-green">
    <div id="webinar" class="container py-5">
        {{ range .Site.Pages }} {{ if and (eq .Type "powerful-survey-analytics") (eq
        .Title "Free Resources") }}

        <div class="share-insights py-5">
            <div class="row">
                <div class="col-sm-12 col-md-4 d-none d-sm-block">
                    <img src="{{ .Params.img }}" class="img-fluid" alt="{{ .Params.label }}" />
                </div>

                <div class="col-sm-12 col-md-8">
                    <h2 class="label">{{ .Params.label }}</h2>
                    <h2 class="crunch-h3">{{ .Params.subtitle }}</h2>
                    <p>{{ .Content }}</p>
                    <a href="/request-demo/" aria-label="Request a demo"
                        class="btn btn-crunch-green btn-primary btn-lg d-block cta d-sm-inline-block">Download</a>
                </div>
            </div>
            <!-- /.row. -->
        </div>
        <!-- /.container -->
        {{ end }} {{ end }}
    </div>
</section>

<section class="d-none">
    <div class="container pb-5">
        {{ range .Site.Pages }} {{ if and (eq .Type "powerful-survey-analytics") (eq
        .Title "Analyze survey data with ease") }}

        <div class="row py-5 justify-content-start align-self-center">
            <div class="col-12">
                <h2 class="crunch-h2">{{ .Params.label }}</h2>
            </div>

            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center justify-content-start py-5">
                <div
                    class="crunch-reflection crunch-reflection-small crunch-reflection-right-top crunch-background-blue">
                    <img src="{{ .Params.gif }}" alt="" class="img-fluid add-shadow sp-mb-t rouded" />
                </div>
            </div>

            <div class="col-md-5 align-items-center justify-content-center pt-5 offset-md-1 offset-sm-0">
                <h3 class="crunch-h3">
                    {{ with .Params.subtitle }} {{ index (split . " ") 0 }} {{ index (split . " ") 1 }} {{ index (split . " ") 2 }} {{ index (split . " ") 3 }} {{ index (split . " ") 4 }} {{ index (split . " ") 5 }}
                    <span>{{ index (split . " ") 6 }} {{ index (split . " ") 7 }} {{ index (split . " ") 8 }} {{ index (split . " ") 9 }} {{ index (split . " ") 10 }} {{ index (split . " ") 11 }}</span>
                    {{ end }}
                </h3>

                {{ .Content }}
            </div>
        </div>
        <!-- /.row. -->

        {{ end }} {{ end }}
    </div>
    <!-- /.container -->
</section>

{{ partial "footer-nav.html" . }} {{ partial "footer.html" . }}

