{{ partial "head.html" . }}

{{ partial "header.html" . }}


<section class="crunch-gradient-gray p-2">
    <div class="container py-sm-5 py-3">
        <div class="">
            <div class="row">
                <div class="col-md-5 ">
                    <div>
                        <h1 class="crunch-h1">{{ .Params.title }}</h1>
                        <p class="semibold-string word-wrap overflow-wrap text-break">{{ .Description }}</p>
                        <a href="/request-demo/" aria-label="Request a demo"
                            class="btn btn-primary btn-lg cta mt-3 mb-5 justify-s d-none d-sm-inline-block">Request a
                            demo</a>

                    </div>
                </div>
                <div class="col-md-7 ">
                    <div style="padding:56.34% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/761666058?h=8f69a18ff4&amp;quality=540p&autoplay=1&loop=1&muted=1&controls=0&dnt=1&autopause=0&amp;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="PPT Export"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</section>
<div id="wrapper">
    <div>
        <div class="container">
            {{ range .Site.Pages }} {{ if and (eq .Type "tracker-analytics") (eq .Title
            "Tracker Analytics") }}

            <div class="row py-5  justify-content-around">
                <div class="col-md-12 pt-ls-5 pt-0 mb-md-4 order-0 mb-5">
                    <h2 class="crunch-h2">{{ .Params.label }}</h2>
                </div>

                <div
                    class="col-md-5 col-12 d-flex justify-content-start justify-content-md-center align-items-center order-1">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ .Params.title_1 }}

                        </h3>

                        <div>
                            <p>{{.Params.content_1}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-end py-5 order-2 mb-5">
                    
                        <div class="embed-responsive embed-responsive-16by9">
                        
                            <iframe src="https://player.vimeo.com/video/776034393?h=49c78bb423&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                </div>

                <div
                    class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-start py-5 order-4 order-md-3 mb-5">
                    <div
                        class="crunch-reflection crunch-reflection-small justify-content-center text crunch-reflection-left-top crunch-background-purple">
                        <img src="{{ .Params.carousel_img_2 }}" alt="{{ .Params.title }}" class="img-fluid p-3" />
                    </div>
                </div>

                <div
                    class="col-md-5 col-12 d-flex justify-content-start justify-content-md-center align-items-center order-3 order-md-4 mb-5">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ .Params.title_2 }}
                        </h3>

                        <div>
                            <p>{{.Params.content_2 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-ls-5 pt-5 mb-md-4 order-5">
                    <h2 class="crunch-h2">{{ .Params.label_2 }}</h2>
                </div>
                <div
                    class="col-md-5 col-12 d-flex justify-content-start justify-content-md-center align-items-center order-6 mb-5">
                    <div class="py-md-5">
                        <h3 class="crunch-h3">
                            {{ .Params.title_3 }}

                        </h3>

                        <div>
                            <p>{{.Params.content_3}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-end py-5 order-7 mb-5">
                    <div
                        class="crunch-reflection crunch-reflection-small justify-content-center text crunch-reflection-right-top crunch-background-green">
                        <div class="embed-responsive embed-responsive-16by9">
                        
                            <iframe src="https://player.vimeo.com/video/761678878?h=fc4d127a27&amp;quality=540p&autoplay=1&loop=1&muted=1&controls=0&dnt=1&autopause=0&amp;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Scalability Animation"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row. -->

            {{ end }} {{ end }}
        </div>
    </div>

    {{ partial "footer-nav.html" . }}

    {{ partial "footer.html" . }}