{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="hero">
    <div class="intro-post">
        <h1 itemprop="headline">  {{.Title | emojify }}</h1>
        {{ if .Description }}
            <blockquote itemprop="description">{{ .Description | emojify }}</blockquote>
        {{ end }}
        <time class="post-time">{{ partial "blog/meta" . }}</time>
    </div>
</div>
<div id="post-box">
    <div id="post" itemprop="articleBody">
        {{.Content | safeHTML}}
    </div><br/>
    <div>
        {{ partial "blog/byauthor.html" . }}
        {{ partial "blog/related-content" . }}
    </div>
</div>

{{ partial "footer.html" .}}
