{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="container">
<div id="hero" class="row">
    <div class="intro-post col">
        <h1 itemprop="headline">  {{.Title | emojify }}</h1>
        {{ if .Description }}
            <blockquote itemprop="description">{{ .Description | emojify }}</blockquote>
        {{ end }}
        <time class="post-time">{{ partial "blog/meta" . }}</time>
    </div>
</div>
<div id="post-box" class="row">
    <div class="col">
        <div id="post" itemprop="articleBody">
            {{.Content | safeHTML}}
        </div><br/>
        <div>
        </div>
    </div>
</div>
</div>

{{ partial "footer.html" .}}
