{{ partial "head.html" . }}

<div id="first-content"></div>

{{ partial "header.html" . }}

    <div id="dot-nav" class="float-right">
         <ul>
            <li><a href="crunchbox/#first-content">1</a></li>
            <li><a href="crunchbox/#second-content">2</a></li>
            <li><a href="crunchbox/#third-content">3</a></li>
         </ul>
    </div>

    <div id="wrapper">

        <div id="secondary-pages-wrapper">
            <div class="container-fluid">

                <div class="crunchbox-content">

                    <div class="page-scroll intro-marketing-pages green">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 position-fixed">
                                        <h1>{{ with .Params.title }} {{ index (split . " ") 0 }} {{ index (split . " ") 1 }} <span>{{ index (split . " ") 2 }}</span> {{ end }}</h1>
                                    </div>

                                    <div class="col-md-8 offset-md-4">
                                        <h2>{{ .Params.description }}</h2>

                                        <div id="learn-more-img-2">
                                            <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;" class="add-shadow">
                                                 <iframe src="https://www.youtube.com/embed/dfiyxRcAIp4?rel=0&amp;showinfo=0"
                                                 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                                             </div>
                                        </div>

                                        <p style="margin-top:40px;">The easiest and quickest way for anyone, with zero training, to slice and dice survey data.</p>
                                    </div>
                                </div> <!-- /.row -->
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </div> <!-- /.intro-marketing-pages -->

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-3"></div>

                                    <div class="col-md-8 offset-md-1">
                                        <div class="crunchbox-container">
                                            <div class="crunchbox">
                                                <iframe src="{{ .Params.crunchboxtwo }}" width="100%" height="450"></iframe>
                                            </div>
                                        </div> <!-- /.crunchbox -->
                                        <p>Now try using a CrunchBox yourself! This example allows you to slice and dice to explore American’s likelihood of voting. You can make crosstabs by a handful of Demographics, filter by two different groups, make tables, or charts, etc... </p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3"></div>

                                    <div class="col-md-8 offset-md-1">
                                        <div id="learn-more-img-2">
                                            <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                                                 <iframe src="{{ .Params.video }}"
                                                 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                                             </div>
                                        </div>

                                        <p>{{ .Content }}</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                </div> <!-- /.crunchbox-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
