{{ partial "head.html" . }}
{{ partial "header.html" . }}

    <div id="wrapper">

        <div id="secondary-pages-wrapper">
            <div class="container-fluid">

                <div class="collaborate-content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 spacer-top">
                                <h1 class="text-center">{{ .Params.title }}</h1>
                            </div>
                        </div> <!-- /.row. -->

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <p class="text-center"><strong>{{ .Params.description }}</strong></p>
                                <p class="text-center">The easiest and quickest way for anyone, with zero training, to slice and dice survey data.</p>
                            </div>
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="container-img">
                                    <img src="http://via.placeholder.com/1200x800" alt="" class="img-fluid add-shadow">
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <section class="content-one">
                        <div class="jumbotron">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <h2 class="text-center">Explore movie data here.</h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                        <div class="crunchbox-container">
                                            <div class="crunchbox">
                                                <iframe src="{{ .Params.crunchboxtwo }}" width="100%" height="450"></iframe>
                                            </div>
                                        </div> <!-- /.crunchbox -->
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-2">
                                            <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                                                 <iframe src="{{ .Params.video }}"
                                                 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 offset-md-1">
                                        <p>{{ .Content }}</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                </div> <!-- /.collaborate-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
