{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section id="intro">
	<!-- Header -->
	<div class="team-header">
	    <div class="container">
		<div class="row">
		    <div class="col-lg-12">
			<div class="intro-message">
			    <h1 class="text-on-dark-bg">{{.Title}}</h1>
			</div>
		    </div>
		</div>
	    </div>
	    <!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>

<div id="post-box">
<div class="wrap">
    <p>{{.Content}}</p>

</div>

<section class="team-list">
    {{ range .Data.Pages.ByDate }}
        <div class="team-member">
            <img src="img/team/{{.Params.img}}" alt="{{ .Params.firstname }}"/ height=120 width=120>
            <span>{{ .Params.firstname }} {{ .Params.lastname }}</span>
        </div>
    {{ end }}
</section>
</div>
{{ partial "footer" . }}
