{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="wrapper" style="border-top: 1px solid #e5e5e5; padding-top: 20px;">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="secondary-content-wrapper">
              <div class="container">

                  <div class="row">

                      <div class="col-md-8 offset-md-2 spacer-xs">
                            <div id="post-box">
                                <div class="row">
                                    <div class="col">
                                        <a href="javascript:history.back()" class="btn btn-link px-0">⟵ Back</a>
                                    </div>
                                    <div class="col">
                                        <p class="float-right mb-5 mt-2">Show articles tagged <strong>"{{ .Title }}"</strong></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <p><i>Tags</i></p>
                                </div>

                                <div class="row">
                                    {{ range $name, $items := .Site.Taxonomies.tags }}
                                    <div class="article-tags bg-light mx-1 mb-2"><a href="{{ .Page.Permalink }}" title="{{ $name }}">{{ .Page.Title }}</a></div>
                                    {{ end }}
                                </div>

                                <div class="row">
                                    <ul class="list-unstyled mx-0" id="posts">
                                        {{ range .Paginator.Pages.ByWeight }} {{ partial "blog/page-summary" . }} {{ end }}
                                    </ul>
                                </div>
                            </div>
                      </div>
                  </div>

              </div> <!-- /.container -->
            </div> <!-- /.secondary-content -->

            <div class="footer-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Learn about <span>our team</span></h1>
                                <a href="team" class="btn btn-link">Our team &#10230;</a>
                            </div>
                        </div> <!-- /.row. -->
                    </div> <!-- /.container -->
                </div> <!-- /.jumbotron -->
            </div>

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
