{{ partial "head.html" . }}

{{ partial "header.html" . }}

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="about-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-7">
                                      <h1 class="display-4">Our <span>origins</span></h1>
                                  </div>

                                  <div class="col-md-4">
                                      <p>{{ .Content }}</p>
                                      <img src="images/arrow.png" alt="Down arrow" class="img-fluid d-md-none d-sm-block">
                                  </div>

                              </div> <!-- /.row -->

                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- /.about-content -->

                  <div class="secondary-content">
                      <div class="container">

                        <div class="row spacer">
                            <div class="col-md-7">
                                <h2>Our mission:</h2>
                                <h1>Help people <span>analyze</span> and <span>interact</span> with their data.</h1>
                            </div>

                            <div class="col-md-4">
                                <p>Clients demanded modern dashboards and interactive data products; we crafted tools and project-specific workflows to meet their needs. Our experiences and challenges led us to decide to build a platform to solve our need to produce data products at scale.</p>
                            </div>
                        </div> <!-- /.row. -->

                        <hr>

                        <div class="row spacer">
                            <div class="col-md-7">
                                <h2>What our product offers</h2>
                                <h1>We're building the right tool for survey analysis</h1>
                            </div>

                            <div class="col-md-4">
                                <ul>
                                    <li>Dashboard</li>
                                    <li>Variable summaries view</li>
                                    <li>Tables and graphs</li>
                                    <li>Multitables</li>
                                </ul>
                            </div>
                        </div> <!-- /.row. -->

                        <hr>

                        <div class="row spacer">
                            <div class="col-md-7">
                                <p>Join the team. Help us build the survey analysis tool of the future.</p>
                            </div>

                            <div class="col-md-4">
                                <button>View jobs</button>
                            </div>
                        </div> <!-- /.row. -->

                      </div> <!-- /.container -->

                  </div> <!-- /.secondary-content -->

                  <div class="footer-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <h1>Data, <span>smarter.</span></h1>
                                      <a href="https://app.crunch.io/signup/" class="btn btn-link">Try now &#10230;</a>
                                  </div>
                              </div> <!-- /.row. -->
                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- footer-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
