{{ partial "head.html" . }}

{{ partial "header.html" . }}

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="about-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row justify-content-md-center">
                                  <div class="col-md-4">
                                      <h1 class="display-4">Our <span>origins</span></h1>
                                  </div>

                                  <div class="col-md-5">
                                      <p>{{ .Content }}</p>
                                      <img src="images/arrow.png" alt="Down arrow" class="img-fluid d-md-none d-sm-block">
                                  </div>

                              </div> <!-- /.row -->

                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- /.about-content -->

                  <div class="secondary-content">

                    <div class="row spacer">
                        <div class="col-md-7">
                            <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid">
                        </div>

                        <div class="col-md-4 spacer-top">
                            <h2>Our mission:</h2>
                            <h1>Help people <span>analyze</span> and <span>interact</span> with their data.</h1>
                            <p class="spacer-top">Clients demanded modern dashboards and interactive data products; we crafted tools and project-specific workflows to meet their needs. Our experiences and challenges led us to decide to build a platform to solve our need to produce data products at scale.</p>
                        </div>
                    </div> <!-- /.row. -->

                    <div class="container">

                        <div class="row spacer-top justify-content-md-center">
                            <div class="col-md-6">
                                <h2 class="text-center">We're building the perfect tool for survey analysis</h2>
                                <p class="text-center">What our product offers</p>
                            </div>
                        </div>

                        <div class="row spacer-bottom features">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h4 class="text-center">Dashboards</h4>
                                <img src="images/dashboard_icon.svg" alt="Dashboard icon" class="mx-auto d-block img-fluid" width="130" height="130">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h4 class="text-center">Variable summaries view</h4>
                                <img src="images/browse_icon.svg" alt="Dashboard icon" class="mx-auto d-block img-fluid" width="130" height="130">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h4 class="text-center">Tables and graphs</h4>
                                <img src="images/analyze_icon.svg" alt="Dashboard icon" class="mx-auto d-block img-fluid" width="130" height="130">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h4 class="text-center">Multitables</h4>
                                <img src="images/multitables_icon.svg" alt="Dashboard icon" class="mx-auto d-block img-fluid" width="130" height="130">
                            </div>
                        </div>

                        <div class="row spacer-bottom justify-content-md-center">
                            <div class="col-md-8">
                                <h1 class="lead text-center">Crunch is a platform where you can store all of your data. <br>Both data scientists and business analysts can work with the same data, and, when data has changed or new rows added, your saved analyses and presentations automatically updates.</h1>
                            </div>
                        </div>

                    </div> <!-- /.container -->

                    <div class="row spacer">
                        <div class="col-md-4 offset-md-1 spacer-top">
                            <h1>No more copy and paste</h1>
                            <h2>And no more files with names like <br>'clientX-jun23-final-FINAL2-jbf_edits.sav'</h2>
                            <p class="spacer-top">Data scientists and client-facing analysts could not use the same programs to accomplish their work, so the norm was lots of exporting of files from one program to another, emailing those files around with increasingly long filenames, and copying and pasting, all of which were error-prone and tedious to reproduce.</p>
                        </div>

                        <div class="col-md-7">
                            <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid float-right">
                        </div>
                    </div> <!-- /.row. -->

                  </div> <!-- /.secondary-content -->

                  <div class="footer-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <h1>Data, <span>smarter.</span></h1>
                                      <a href="https://app.crunch.io/signup/" class="btn btn-link">Try now &#10230;</a>
                                  </div>
                              </div> <!-- /.row. -->
                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- footer-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
