{{ partial "head.html" . }}

{{ partial "header.html" . }}

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="about-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row justify-content-md-center">
                                  <div class="col-md-7">
                                      <h1 class="display-4">Our <span>origins</span></h1>
                                  </div>

                                  <div class="col-md-4">
                                      <p>{{ .Content }}</p>
                                      <img src="images/arrow.png" alt="Down arrow" class="img-fluid d-md-none d-sm-block">
                                  </div>

                              </div> <!-- /.row -->

                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- /.about-content -->

                  <div class="secondary-content secondary-about-content">
                      <div class="container">

                        <div class="row spacer justify-content-md-center">
                            <div class="col-md-5">
                                <h3>Our <span>mission</span></h3>
                                <h2>Help people analyze and interact with their data.</h2>
                            </div>

                            <div class="col-md-4 offset-md-2">
                                <p>Clients demanded modern dashboards and interactive data products; we crafted tools and project-specific workflows to meet their needs. Our experiences and challenges led us to decide to build a platform to solve our need to produce data products at scale.</p>
                            </div>
                        </div> <!-- /.row. -->

                        <hr>

                        <div class="row spacer justify-content-md-center">
                            <div class="col-md-5">
                                <h3>What our product <span>offers</span></h3>
                                <h2>We're building the right tool for survey analysis</h2>
                            </div>

                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li>Dashboard</li>
                                    <li>Variable summaries view</li>
                                    <li>Tables and graphs</li>
                                    <li>Multitables</li>
                                </ul>
                            </div>
                        </div> <!-- /.row. -->

                        <hr>

                        <div class="join-the-team">
                            <div class="row spacer d-flex justify-content-center">
                                <div class="col-md-6">
                                    <p class="font-weight-bold">Join the team. Help us build the survey analysis tool of the future.</p>
                                </div>

                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success" onclick="location.href='jobs'">View jobs</button>
                                </div>
                            </div> <!-- /.row. -->                            
                        </div>

                      </div> <!-- /.container -->

                  </div> <!-- /.secondary-content -->

                  <div class="footer-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <h1>Data, <span>smarter.</span></h1>
                                      <a href="https://app.crunch.io/signup/" class="btn btn-link">Try now &#10230;</a>
                                  </div>
                              </div> <!-- /.row. -->
                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- footer-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
