{{ partial "head.html" . }}

<div id="first-content"></div>

{{ partial "header.html" . }}

     <div id="dot-nav" class="position-sticky float-right">
         <ul>
             <li><a href="modern-platform/#first-content">1</a></li>
             <li><a href="modern-platform/#second-content">2</a></li>
             <li><a href="modern-platform/#third-content">3</a></li>
             <li><a href="modern-platform/#fourth-content">4</a></li>
         </ul>
     </div>

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="modern-platform-content">

                    <div class="d-none d-md-block">
                        <div class="container">
                          <div class="row">
                              <div class="col-md-8">
                                  <h1 class="learn-more-title">A <span>modern</span> platform for analytics</h1>
                              </div>
                          </div> <!-- /.row. -->
                        </div> <!-- /.container -->
                    </div> <!-- /.modern-platform-parallax -->

                    <section class="page-scroll content-one">

                        <div class="container">
                            <div class="row d-md-none d-sm-block">
                                <div class="col-md-8">
                                    <h1>A <span>modern</span> platform for analytics</h1>

                                    <img src="img/searching.png" alt="List of Datasets" class="img-fluid">
                                </div>
                            </div> <!-- /.row. -->
                        </div> <!-- /.container -->

                        <div class="jumbotron">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-1">
                                            <img src="img/searching.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Your datasets are stored in our cloud-based, high-performance data store. The data is always available and can be analyzed interactively no matter where you are.</p>
                                        <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-12">
                                        <h1 class="learn-more-title">We’re survey <span>experts.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-2">
                                            <img src="img/modern_platform/modern_platform_2.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-md-none d-sm-block">We’re survey <span>experts.</span></h2>
                                        <p>Crunch has special features to make survey analysis simple. We natively support data types like multiple response and “grid” questions. You can generate population weights, check the significance of cross-tabulations, and perform sentiment analysis on text data.</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-12">
                                        <h1 class="learn-more-title">Complex analysis <span>made easy.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->
                                <div class="row">
                                    <div class="col-md-8 d-none d-md-block">
                                        <div id="learn-more-img-3">
                                            <img src="img/xtab.gif" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="img/modern_platform/modern_platform_2.png" alt="Browse view" class="img-fluid d-md-none d-sm-block">
                                        <h2 class="d-md-none d-sm-block">Complex analysis <span>made easy.</span></h2>
                                        <p>An intuitive, visual interface allows anyone to quickly view the data and to dig deeper to gain greater insights. You can drag-and-drop to create tables and charts, filter the data, and create comprehensive dashboards.</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                      <section id="fourth-content" class="page-scroll content-four">
                          <div class="jumbotron">
                              <div class="container">
                                  <div class="row d-none d-md-block">
                                      <div class="col-md-12">
                                          <h1 class="learn-more-title">Never worry about losing <span>old data.</span></h1>
                                      </div>
                                  </div> <!-- /.row. -->
                                  <div class="row">
                                      <div class="col-md-8 d-none d-md-block">
                                          <div id="learn-more-img-4">
                                              <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                                                  <iframe src="https://www.youtube.com/embed/WspUq481Kps?rel=0&amp;showinfo=0"
                                                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <img src="img/xtab.gif" alt="Graph" class="img-fluid d-md-none d-sm-block">
                                          <h2 class="d-md-none d-sm-block">Never worry about losing <span>old data.</span></h2>
                                          <p>Our innovative version-control system allows you to undo changes or view earlier revisions, so you never have to worry about accidentally trashing your data.</p>
                                          <a href="collaborate">Collaborate <span>Productively</span> &#10230;</a>
                                      </div>
                                  </div> <!-- /.row -->
                              </div> <!-- /.container -->
                          </div> <!-- /.jumbotron -->
                      </section>

                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
