{{ partial "head.html" . }}

<div id="first-content"></div>

{{ partial "header.html" . }}

     <div id="dot-nav" class="position-sticky float-right">
         <ul>
             <li><a href="modern-platform/#first-content">1</a></li>
             <li><a href="modern-platform/#second-content">2</a></li>
             <li><a href="modern-platform/#third-content">3</a></li>
         </ul>
     </div>

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="modern-platform-content">

                    <div class="d-none d-md-block">
                        <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-11 offset-md-1">
                                  <h1 class="learn-more-title">A <span>modern</span> platform for analytics</h1>
                              </div>
                          </div> <!-- /.row. -->
                        </div> <!-- /.container -->
                    </div> <!-- /.modern-platform-parallax -->

                    <section class="page-scroll content-one">

                        <div class="container">
                            <div class="row d-md-none d-sm-block">
                                <div class="col-md-8">
                                    <h1>A <span>modern</span> platform for analytics</h1>

                                    <img src="img/searching.png" alt="List of Datasets" class="img-fluid add-shadow">
                                </div>
                            </div> <!-- /.row. -->
                        </div> <!-- /.container -->

                        <div class="jumbotron">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-7 offset-md-1 d-none d-md-block text-center">
                                        <div id="learn-more-img-1">
                                            <img src="img/searching.png" class="img-fluid add-shadow">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <p>Your datasets are stored in our cloud-based, high-performance data store. The data is always available and can be analyzed interactively no matter where you are.</p>
                                        <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow d-md-none d-sm-block">
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container-fluid">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-11 offset-md-1">
                                        <h1 class="learn-more-title">We’re survey <span>experts.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->

                                <div class="row">
                                    <div class="col-md-7 offset-md-1 d-none d-md-block">
                                        <div id="learn-more-img-2">
                                            <img src="img/build-categorical.png" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="img/build-categorical.png" class="img-fluid d-md-none d-sm-block" />
                                        <h2 class="d-md-none d-sm-block">We’re survey <span>experts.</span></h2>
                                        <p>Crunch has special features to make survey analysis simple. We natively support data types like multiple response and “grid” questions. You can generate population weights, check the significance of cross-tabulations, and perform sentiment analysis on text data.</p>
                                    </div>
                                </div>
                            </div> <!-- /.containe -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container-fluid">
                                <div class="row d-none d-md-block">
                                    <div class="col-md-11 offset-md-1">
                                        <h1 class="learn-more-title">Complex analysis <span>made easy.</span></h1>
                                    </div>
                                </div> <!-- /.row. -->
                                <div class="row">
                                    <div class="col-md-7 offset-md-1">
                                        <div id="learn-more-img-3">
                                            <img src="img/deck-dashboard.gif" class="img-fluid add-shadow">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h2 class="d-md-none d-sm-block">Complex analysis <span>made easy.</span></h2>
                                        <p>An intuitive, visual interface allows anyone to quickly view the data and to dig deeper to gain greater insights. You can drag-and-drop to create tables and charts, filter the data, and create comprehensive dashboards.</p>
                                    </div>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>
                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
