    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img class="d-inline-block align-top" src="images/logo.svg" alt="" width="140"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://support.crunch.io/crunch/home.html">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://app.crunch.io/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="https://app.crunch.io/signup/?email=">Try now</a>
          </li>
        </ul>
      </div>
    </nav>
