        <nav class="navbar sticky-top navbar-expand-lg navbar-light d-sm-none">
          <a class="navbar-brand" href="index.html"><img class="d-inline-block align-top" src="images/logo.svg" alt="" width="140"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://support.crunch.io/crunch/home.html">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="#">Try now</a>
              </li>
            </ul>
          </div>
        </nav>

        <div id="wrapper-homepage">

            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            <img class="d-block mx-auto" src="images/logo.svg" alt="" width="175" height="175">
                        </a>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/team">Team</a></li>
                    <li><a href="http://support.crunch.io/crunch/home.html">Support</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
                <button type="button" class="btn btn-primary">Sign in</button>
            </div>
