{{ partial "head.html" . }} {{ partial "header.html" . }}
<section class="crunch-gradient-gray">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="crunch-h1">
                    {{ with .Params.title }} {{ index (split . " ") 0 }} {{ index (split .
                    " ") 1 }}<br />
                    {{ index (split . " ") 2 }} <br />{{ index (split . " ") 3 }} {{ index
                    (split . " ") 4 }} {{ index (split . " ") 5}} {{ index (split . " ")
                    6}} {{ end }}
                </h1>
                <h2 class="semibold-string p-0 col-11">{{ .Description }}</h2>
                <a href="/request-demo/" aria-label="Request a demo"
                    class="btn btn-primary btn-lg cta mt-3 mb-5 justify-s d-none d-sm-inline-block">Request a demo</a>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        src="https://player.vimeo.com/video/752797294?h=33fb05f386&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;"
                        width="640" height="361" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<div id="wrapper">
    {{ range .Site.Pages }} {{ if and (eq .Type "market-researchers") (eq .Title
    "Work quicker and more efficiently") }}
    <div>
        <div class="container-fluid">
            <div class="row py-5">
                <div class="col-12 mb-5">
                    <h2 class="crunch-h2">{{ .Params.label }}</h2>
                </div>

                {{ range .Params.accordion }}
                <div class="col-md-5 d-flex align-items-center  {{ index . 3 }}">
                    <div>
                        <h2 class="mb-2 crunch-h2">{{ index . 0 }}</h2>
                        {{ index . 2 }}
                    </div>
                </div>

                <div class="col-md-6 {{ index . 4 }}">
                    <div class="crunch-reflection crunch-reflection-small {{ index . 6 }}">
                        <div class="">
                            <img src="{{ index . 5 }}" class="img-fluid" alt="{{ index . 0 }}" />
                        </div>
                    </div>
                </div>

                {{ end }}
            </div>
        </div>
    </div>
    {{ end }} {{ end }}
</div>

<div id="direcctor-comments" class="mt-5 crunch-green">
    {{ range .Site.Pages }} {{ if and (eq .Type "market-researchers") (eq .Title
    "testimonial") }}

    <div class="container-fluid py-3">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="testimonial-image">
                    <img src="{{ .Params.gif }}" class="img-fluid" alt="{{ .Params.Title }}" />
                </div>
            </div>

            <div class="col-md-7 comments ml-md-5">{{ .Content }}</div>
        </div>
    </div>

    {{ end }} {{ end }}
</div>

<div class="container-fluid">
    <div class="row py-5">
        {{ range .Site.Pages }} {{ if and (eq .Type "market-researchers") (eq .Title
        "The survey analysis tool you need") }}

        <div class="col-12 mb-5">
            <h2 class="crunch-h2">{{ .Params.label }}</h2>
        </div>

        <div class="col-12 col-sm-12 col-md-7 d-flex align-items-center justify-content-start py-5">
            <div class="crunch-reflection crunch-reflection-small crunch-reflection-right-top crunch-background-blue">
                <img src="{{ .Params.gif }}" class="img-fluid" alt="{{ .Params.Title }}" />
            </div>
        </div>

        <div class="col-md-4">
            <h3 class="crunch-h3">{{ .Params.subtitle }}</h3>
            {{ .Content }}
        </div>

        {{ end }} {{ end }}
    </div>
</div>

{{ partial "footer-nav.html" . }} {{ partial "footer.html" . }}