{{ partial "head.html" . }}

{{ partial "header.html" . }}

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="about-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row justify-content-md-center">
                                  <div class="col-md-4">
                                      <h1 class="display-4">Faster analytics.</h1>
                                  </div>

                                  <div class="col-md-5">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dicta, error blanditiis. Nihil repellendus dolore minima natus consequatur quos, ab, fuga aperiam sit iusto omnis culpa, praesentium quibusdam. Rerum, ea!.</p>
                                  </div>
                              </div> <!-- /.row -->

                              <div class="row justify-content-md-center">
                                <!-- <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid"> -->
                              </div> <!-- /.row -->
                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div> <!-- /.about-content -->

                  <div class="secondary-content">
                    <div class="container">

                        <div class="row spacer-top justify-content-md-center">
                            <div class="col-md-5">
                                <h2 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                            </div>
                        </div>

                        <div class="row spacer-bottom features">
                            <div class="col">
                                <h4 class="text-center">Dashboards</h4>
                                <img src="http://via.placeholder.com/130x130" class="rounded mx-auto d-block" alt="..." class="img-fluid">
                            </div>
                            <div class="col">
                                <h4 class="text-center">Browse</h4>
                                <img src="http://via.placeholder.com/130x130" class="rounded mx-auto d-block" alt="..." class="img-fluid">
                            </div>
                            <div class="col">
                                <h4 class="text-center">Analyze</h4>
                                <img src="http://via.placeholder.com/130x130" class="rounded mx-auto d-block" alt="..." class="img-fluid">
                            </div>
                            <div class="col">
                                <h4 class="text-center">Multitables</h4>
                                <img src="http://via.placeholder.com/130x130" class="rounded mx-auto d-block" alt="..." class="img-fluid">
                            </div>
                        </div>

                        <div class="row spacer">
                            <div class="col-md-3">
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem cumque assumenda cupiditate est expedita hic odit.</p>
                                <ul>
                                    <li>Praesent eu diam at neque imperdiet fermentum vel id velit.</li>
                                    <li>In vulputate libero ut elit faucibus, sed lobortis mi feugiat.</li>
                                    <li>Suspendisse volutpat nibh at magna interdum, non feugiat odio consequat.</li>
                                </ul>
                            </div>

                            <div class="col-md-9">
                                <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid">
                            </div>
                        </div> <!-- /.row. -->

                    </div> <!-- /.container -->
                  </div> <!-- /.secondary-content -->

                  <div class="footer-content">
                      <div class="jumbotron">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <h1>Data, smarter.</h1>
                                      <a href="https://app.crunch.io/signup/?email=" class="btn btn-link">Try now &#10230;</a>
                                  </div>
                              </div> <!-- /.row. -->
                          </div> <!-- /.container -->
                      </div> <!-- /.jumbotron -->
                  </div>

                  <footer class="footer d-flex justify-content-center bg-green">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a class="nav-link active" href="about">About</a></li>
                          <li class="list-inline-item"><a class="nav-link" href="team">Team</a></li>
                          <li class="list-inline-item"><a class="nav-link" href="http://support.crunch.io/crunch/home.html">Support</a></li>
                          <li class="list-inline-item"><a class="nav-link" href="https://app.crunch.io/login">Login</a></li>
                          <li class="list-inline-item"><a class="nav-link" href="https://app.crunch.io/login/?email=">Try now</a></li>
                      </ul>
                  </footer>

              </div> <!-- /.container-fluid -->

          </div> <!-- /#secondary-pages-wrapper -->

      </div> <!-- /#wrapper -->

{{ partial "footer.html" . }}
