{{ if .Params.application_url }}
    <div class="apply-here">
        To apply, submit your resume <a href="{{ .Params.application_url }}">here</a>.
    </div>
{{ else if eq .Params.team "product" }}
    <div class="apply-here">
        To apply, send your resume and cover letter to <a href="mailto:product@crunch.io">product@crunch.io</a>.
    </div>
{{ else }}
    <div class="apply-here">
        To apply, send a resume and cover letter to <a href="mailto:jobs@crunch.io">jobs@crunch.io</a>.
    </div>
{{ end }}
