<div class="alert alert-dismissible text-center cookiealert" role="alert">
  <div class="cookiealert-container container">
      <div class="row">
          <div class="col-sm-8 col-md-9 text-left">
              Crunch.io uses cookies to ensure you get the best experience on our site. By using this site, you agree to the use of cookies in accordance with our <a href="about/privacy">Cookie Policy</a>.
          </div>

          <div class="col-sm-4 col-md-3">
              <button type="button" class="btn btn-primary acceptcookies" aria-label="Close"> Accept </button>
          </div>
      </div>
  </div>
</div>
