<h1 style="padding-top: 20px;">About Crunch.io</h1>

<!--<p>Crunch.io is an innovative analytics company in the market research industry. We offer a survey data analysis platform that allows market researchers, analysts, and marketers to collaborate in a secure, cloud-based environment, using an intuitive drag-and-drop interface. Crunch users can quickly gain insights from their data and communicate them to their clients.</p>-->

<p>Crunch.io is a market-defining company in the analytics SaaS marketplace. We're a company on the rise. We've built a revolutionary platform that transforms our customers' ability to drive insight from market research and survey data. Crunch.io offers a complete survey data analysis platform that allows market researchers, analysts, and marketers to collaborate in a secure, cloud-based environment, using a simple, intuitive drag-and-drop interface to prepare, analyze, visualize and deliver survey data and analysis.</p>

<p>Quite simply, Crunch.io provides the quickest and easiest way for anyone, from CMO to PhD, with zero training, to analyze survey data.  Users create tables, charts, graphs, and maps.  They filter and slice-and-dice survey data directly in their browser.  Crunch makes the powerful simple.</p>

<p>Our customers include some of the largest market research companies and largest brands in the world. We're hiring you to expand that roster. Our start-up culture is casual and high-energy. We are passionate about our product and our mission. We are loyal to each other and our company. We value work/life balance, efficiency, simplicity, and fantastic customer service!</p>

<p>Crunch.io is an Equal Opportunity Employer and we value diversity at our company. We do not discriminate on the basis of race, religion, color, national origin, gender, gender expression, sexual orientation, age, marital status, veteran status, or disability status.</p>

<p>Learn more about <a href="/team/">our team</a>!</p>
