<p>Learn more about <a href="../team/">our team</a>!</p>

<p>Crunch offers competitive salary; health, dental, and vision insurance; and equity options. We are a small but growing company spread from UTC+1 to +11, mostly in the Western hemisphere. Remote work is flexible and largely independent, yet highly cooperative.</p>

<p>We are an equal-opportunity employer and value diversity at our company. We do not discriminate on the basis of race, religion, color, national origin, gender, gender expression, sexual orientation, age, marital status, veteran status, or disability status.</p>
