            <footer class="footer d-flex justify-content-center bg-black">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="nav-link active" href="about">About</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="team">Team</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="http://support.crunch.io/">Support</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="http://status.crunch.io/" target="_blank">Status</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="about/privacy">Privacy</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="https://app.crunch.io/">Sign in</a></li>
                    <li class="list-inline-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#Modal" id="openForm">Contact us</a></li>
                </ul>
            </footer>

        </div> <!-- /.container-fluid -->

    </div> <!-- /#secondary-pages-wrapper -->

</div> <!-- /#wrapper -->
