<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-menu">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#product">Product</a>
                    </li>
                    <li>
                        <a href="/team">Team</a>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li>
                        <a href="/dev">Blog</a>
                    </li>
                    <li>
                        <a href="http://support.crunch.io/">Support</a>
                    </li>
                    <li>
                        <a href="http://status.crunch.io/">Status</a>
                    </li>
                    <li>
                        <a href="http://app.crunch.io/">Sign in</a>
                    </li>
                </ul>
                <!-- <p class="copyright text-muted small">Copyright &copy; {{ .Title }} All Rights Reserved</p> -->
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
