    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GB59T2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="d-inline-block align-top" src="img/crunch_logo.svg" alt="" width="140"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Differentiation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="for-insights-teams">For Insights Teams</a>
                    <a class="dropdown-item" href="market-researchers">For Market Research Firms</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Capabilities
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="powerful-survey-analytics">Powerful Survey Analytics</a>
                      <a class="dropdown-item" href="visualization">Visualization and Delivery</a>
                      <a class="dropdown-item" href="dashboards">Dashboards</a>
                      <a class="dropdown-item" href="crunchbox">CrunchBox</a>
                      <a class="dropdown-item" href="tracker-analytics">Tracker Analytics</a>
                      <a class="dropdown-item" href="diy">DIY</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Company
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="about">About</a>
                      <a class="dropdown-item" href="team">Team</a>
                      <a class="dropdown-item" href="jobs">Careers</a>
                      <a class="dropdown-item" href="contact">Contact Us</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="resources">Webinars & White Papers</a>
                        <a class="dropdown-item" href="case-studies">Case Studies</a>
                    </div>


                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="http://help.crunch.io/">Help Center</a>
                      <a class="dropdown-item" href="api/reference/">API Reference</a>
                      <a class="dropdown-item" href="dev/features/">Feature Announcements</a>
                      <a class="dropdown-item" href="release-notes/">Release Notes</a>
                      <a class="dropdown-item" href="https://help.crunch.io/hc/en-us/categories/360002688152-Developer-Guides">Developer Guides</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://app.crunch.io/" target="_blank">Sign in</a>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-sm btn-success" onclick="window.location.href='/request-demo'">Request a demo</button>
                </li>
              </ul>
            </div>
        </div> <!-- /.container -->
    </nav>
