<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="intro-content">
            <div class="jumbotron">
                <div class="container">
                    <div class="row justify-content-md-center">
                            <div class="col-md-12 text-center">
                                <h1>Modern survey data analysis.</h1>
                                <h2><span>Power made simple.</span></h2>
                            </div>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.jumbotron -->

            <div class="intro-animated-gif d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-10 offset-md-1 text-center">
                            <img src="img/{{ .Site.Params.product }}" class="img-fluid add-shadow-xl">
                        </div>
                    </div> <!-- /.row. -->
                </div>
            </div> <!-- /.intro-animated-gif -->

        </div> <!-- /.intro-content -->

        <div class="container d-none d-md-block">
            <div class="row justify-content-md-center spacer">
                    <div class="col-md-12 text-center">
                        <h3><strong>{{ .Site.Params.description }} <br> Everyone, from CMO to PhD, works together on the same data. <br> Your data is always available, in the cloud, drag and drop.</strong></h3>
                    </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
