<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="intro-content">
            <div class="jumbotron">
                <div class="container">
                    <div class="row justify-content-md-center">
                            <div class="col-md-12 text-center">
                                <h1 class="display-4">Modern survey analysis. <br> <span>Power made simple.</span></h1>
                            </div>

                            <div class="col-md-12 text-center">
                                <p>{{ .Site.Params.description }} <br> Everyone, from CMO to PhD, works together on the same data. <br> In the cloud, drag-and-drop.</p>
                            </div>
                    </div> <!-- /.row -->

                    <div class="row justify-content-md-center">
                        <div class="col-12 text-center">
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.jumbotron -->

            <div class="intro-animated-gif">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="img/{{ .Site.Params.product }}" class="img-fluid add-shadow">
                        </div>
                    </div> <!-- /.row. -->
                </div>
            </div> <!-- /.intro-animated-gif -->

        </div> <!-- /.intro-content -->
