<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="intro-content">
            <div class="jumbotron">
                <div class="container">
                    <div class="row justify-content-md-center">
                            <div class="col-md-12 text-center">
                                <h1><span>Modern</span> survey data analysis</h1>
                                <h2>Power made simple</h2>
                            </div>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.jumbotron -->

            <div class="intro-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 offset-md-1 text-center img-overlap">
                            <img src="img/{{ .Site.Params.product }}" class="img-fluid add-shadow-xl rounded">
                        </div>
                    </div> <!-- /.row. -->
                </div>
            </div> <!-- /.intro-animated-gif -->

        </div> <!-- /.intro-content -->
    </div>
</div>
