    <div class="secondary-content intro-xs-margin" style="position: relative; z-index: 10; background-color: white;">

        <div class="container">

            <div class="row spacer-top">
                <div class="col-md-5 offset-md-3">
                    <h2 class="text-center quotes">“Things that took me <span>days</span>, now take <span>minutes</span>.”</h2>
                </div>
            </div> <!-- /.row. -->

            <div class="row spacer-top spacer-bottom share-insights">
                <div class="col-12 col-md-5 order-1 order-md-0">
                    <h2 class="subtitle">Powerful <span>analytics</span>.</h2>

                    <ul>
                        <li>No more 2-day turnarounds to answer simple questions.</li>
                        <li>Check awareness among female, millennial, Californians... in 1 minute.</li>
                        <li>Create and export a complete set of tabs in 2 minutes.</li>
                    </ul>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" id="openForm">Speak to an Expert</button>

                </div>

                <div class="col-12 col-md-6 offset-md-1 order-0 order-md-1">
                    <div class="container-img">
                        <img src="http://via.placeholder.com/1200x800" alt="" class="img-fluid add-shadow">
                    </div>
                </div>
            </div> <!-- /.row. -->
        </div> <!-- /.container -->

        <div class="modern-platform">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1>Survey data analytics for <span>everyone</span>.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.modern-platform -->

        <div class="container">
        {{ range .Data.Pages }}
            {{ if .Params.crunchbox }}
            <div class="row spacer share-insights">
                <div class="col-12 col-md-4">
                    <h2 class="quotes">Introducing CrunchBox</h2>
                    <h2 class="subtitle">{{ with .Params.title }} {{ index (split . " ") 0 }} {{ index (split . " ") 1 }} <span>{{ index (split . " ") 2 }}</span> {{ index (split . " ") 3 }} {{ end }}</h2>
                    <p>{{ .Content }}</p>
                    <button type="button" class="btn btn-primary" onclick="location.href='crunchbox'">Try a live CrunchBox</button>
                </div>

                <div class="col-md-7 offset-md-1">
                    <div class="crunchbox-container">
                        <div class="crunchbox">
                            <iframe src="{{ .Params.crunchbox }}" width="100%" height="450"></iframe>
                        </div>
                    </div> <!-- /.crunchbox -->
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}
        </div> <!-- /.container -->

        <div class="container">
        {{ range .Data.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Collaborate productively") }}

            <div class="row spacer-top">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center quotes">“With Crunch, data <span>streams</span> in. I do <span>daily</span> surveys, now.”</h2>
                </div>
            </div> <!-- /.row. -->

            <div class="row spacer-top spacer-bottom">
                <div class="col-12 order-0 col-md-6 order-md-0">
                    <div class="container-img">
                        <img src="img/data-speed.png" alt="Data streaming" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 order-1 col-md-5 offset-md-1 order-md-1">

                    <h2 class="subtitle">Real-time <span>surveys</span></h2>
                    <p>Shorter, more frequent surveys are the future.</p>

                    <p>“Did yesterday’s ad increase awareness?”</p>

                    <p>Speed up your data preparation:</p>
                    <ul>
                        <li>Combine categories</li>
                        <li>Organize and relabel variables</li>
                        <li>Estimate weights</li>
                    </ul>

                    <p>Then, stream data into Crunch, every 30 minutes.</p>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" id="openForm">Speak to an Expert</button>
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}

            <div class="row spacer-top">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center quotes">“I can track <span>awareness</span> across survey <span>waves</span> with one click.”</h2>
                </div>
            </div> <!-- /.row. -->

            <div class="row spacer-top spacer-bottom share-insights">
                <div class="col-12 col-md-5 order-0">

                    <h2 class="subtitle">Trackers tamed: <br>compare waves, <span>instantly</span>.</h2>

                    <ul>
                        <li>All your survey data, past and present, lives inside CrunchDB.</li>
                        <li>Easily append tracking study waves.</li>
                    </ul>

                    <p>No more digging around to find past data files.</p>

                    <button type="button" class="btn btn-primary" onclick="location.href='crunchdb'">Learn more</button>
                </div>

                <div class="col-12 col-md-6 offset-md-1 order-1">
                    <div class="container-img">
                        <img src="img/time_variable_change_rollup.gif" alt="" class="img-fluid add-shadow">
                    </div>
                </div>
            </div> <!-- /.row. -->
        {{ range .Data.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Collaborate productively") }}

            <div class="row spacer-top">
                <div class="col-md-8 offset-md-2">
                    <h2 class="text-center quotes">“Finally, no more <span>emailing</span> Data_final_v3_FINAL!”</h2>
                </div>
            </div> <!-- /.row. -->

            <div class="row spacer-top spacer-bottom">
                <div class="col-12 order-0 col-md-6 order-md-0">
                    <div class="container-img">
                        <img src="img/{{ .Params.img }}" alt="Sharing Crunch" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 order-1 col-md-5 offset-md-1 order-md-1">
                    <h2 class="subtitle">Everyone analyzes.</span>.</h2>

                    <ul>
                        <li>End the version control nightmare.</li>
                        <li>Everyone works off the same live data.</li>
                        <li>Empower customers and clients to answer their own questions.</li>
                        <li>You control who sees what.</li>
                    </ul>

                    <br>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal" id="openForm">Request a Demo</button>
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}
        </div> <!-- /.container -->

    </div> <!-- /.secondary-content -->

    </div> <!-- /.container-fluid -->

</div> <!-- /#page-content-wrapper -->
