    <div class="secondary-content intro-xs-margin" style="position: relative; z-index: 10; background-color: white;">

        <div class="container" id="intro-video" style="padding-top:40px; margin-top: -40px">
        {{ range .Site.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Powerful analytics.") }}
            <div class="row spacer-top spacer-bottom share-insights">
                <div class="col-12 col-md-5 order-1 order-md-0">
                    <h2 class="subtitle">Powerful <span>analytics</span>.</h2>

                    <p>{{ .Content }}</p>

                </div>

                <div class="col-12 col-md-6 offset-md-1 order-0 order-md-1">
                    <div id="learn-more-img-1">
                        <div style="position: relative; padding-bottom: 48.25%; padding-top: 30px; height: 0; overflow: hidden;">
                            <iframe src="{{ .Params.video }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}
        </div> <!-- /.container -->

        <div class="modern-platform">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1>Survey data analytics for <span>everyone</span>.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.modern-platform -->

        <div class="container">
        {{ range .Site.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Introducing CrunchBox") }}
            <div class="row spacer share-insights">
                <div class="col-12 col-md-5 order-0 order-md-0">
                    <h2 class="quotes">{{ .Title }}</h2>
                    <h2 class="subtitle">{{ .Description }}</h2>
                    <p>{{ .Content }}</p>
                </div>

                <div class="col-12 col-md-6 offset-md-1 order-1 order-md-1">
                    <div class="crunchbox-container">
                        <img src="img/{{ .Params.img }}" alt="Crunchbox" class="img-fluid add-shadow">
                    </div> <!-- /.crunchbox -->
                </div>

            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}
        </div> <!-- /.container -->

        <div class="container">
        {{ range .Site.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Real-time surveys") }}

            <div class="row spacer-top spacer-bottom">
                <div class="col-12 order-0 col-md-6 order-md-0">
                    <div class="container-img">
                        <img src="img/{{ .Params.img }}" alt="Data streaming" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 order-1 col-md-5 offset-md-1 order-md-1">

                    <h2 class="subtitle">{{ .Title }}</h2>
                    <p>{{ .Content }}</p>
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}

            <div class="row spacer-top">
            {{ range .Site.Pages }}
                {{ if and (eq .Type "product") (eq .Title "Trackers tamed") }}
            </div> <!-- /.row. -->

            <div class="row spacer-top spacer-bottom share-insights">
                <div class="col-12 col-md-5 order-0">

                    <h2 class="subtitle">Trackers tamed: <br>compare waves, <span>instantly</span>.</h2>

                    <p>{{ .Content }}</p>
                </div>

                <div class="col-12 col-md-6 offset-md-1 order-1">
                    <div class="container-img">
                        <img src="img/{{ .Params.img }}" alt="" class="img-fluid add-shadow">
                    </div>
                </div>
                {{ end }}
            {{ end }}
            </div> <!-- /.row. -->


        {{ range .Site.Pages }}
            {{ if and (eq .Type "product") (eq .Title "Everyone analyzes.") }}
            <div class="row spacer-top spacer-bottom">
                <div class="col-12 order-0 col-md-6 order-md-0">
                    <div class="container-img">
                        <img src="img/{{ .Params.img }}" alt="Sharing Crunch" class="img-fluid">
                    </div>
                </div>

                <div class="col-12 order-1 col-md-5 offset-md-1 order-md-1">
                    <h2 class="subtitle">{{ .Title }}</h2>

                    <p>{{ .Content }}</p>
                </div>
            </div> <!-- /.row. -->
            {{ end }}
        {{ end }}
        </div> <!-- /.container -->

    </div> <!-- /.secondary-content -->

    </div> <!-- /.container-fluid -->

</div> <!-- /#page-content-wrapper -->
