.spacer {
    padding: 100px 0;
}

.spacer-top {
    padding-top: 50px;
}

.spacer-bottom {
    padding-bottom: 50px;
}

.add-shadow {
    @include vp-box-shadow(1px 5px 20px 5px rgba(0,0,0,0.2));
}

.sp-mb {
    margin: 40px 0;
}
