// .btn{
//     background: transparent linear-gradient(270deg, #2477B6 0%, #18649A 100%) 0% 0% no-repeat padding-box;
//     box-shadow: 0px 3px 6px #00000029;
//     border-radius: 5px;
//     font-size: 1rem;
//     &:focus, &.focus, &:hover{
//         background: transparent linear-gradient(270deg, #195E91 0%, #10476F 100%) 0% 0% no-repeat padding-box;
// box-shadow: 0px 3px 6px #00000029;
//     }

// }

.btn-sm {
    padding: 10px 10px;
    box-shadow: none !important;
}

.btn-link {
    color: $font-color-dark-grey;

    &:hover, &:active, &:focus {
        color: $color-blue;
        text-decoration: none;
    }
}

.btn-primary {
    background: transparent linear-gradient(270deg, #2477B6 0%, #18649A 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    &:focus, &.focus, &:hover{
        background: transparent linear-gradient(270deg, #195E91 0%, #10476F 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
    }
}

.btn-secondary {
    background-color: $color-purple;
    border-color: $color-purple;
    @include box_shadow("purple");

    &:hover {
        background-color: $--darker-message-color;
        border-color: $--darker-message-color;
    }
}

.btn-crunch-green{
    background: transparent linear-gradient(270deg, #8EB7AD 0%, #D3E3DF 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border-color: #429A85;
    &:hover{
        background: transparent linear-gradient(270deg, #429A85 0%, #429A85 100%) 0% 0% no-repeat padding-box;
        border-color: #429A85;
    }
}

.btn-tertiary {
    background-color: $--lighter-primary-color;
    border-color: $--lighter-primary-color;
    color: $color-blue;
    @include box_shadow("blue");

    &:hover {
        background-color: $--light-primary-color;
        border-color: $--light-primary-color;
        color: $color-blue;
    }
}

.btn-success {
    background-color: $color-green;
    border-color: $color-green;
    &:hover {
        background-color: $--darker-secondary-color;
        border-color: $--darker-secondary-color;
    }
}

.btn-light {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;
}

.a-link {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;

    &:hover {
        text-decoration: none;
        color: $color-blue;
    }
}

.share-icon {
    visibility: hidden;
    padding-top: 7px;

    a {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        color: $color-off-black;
        vertical-align: middle;
        font-size: .8em;
        margin-right: 5px;

        &:hover {
            text-decoration: none;
        }

        img {
            width: 18px;
            margin-top: -5px;
            margin-left: 5px;
        }
    }
}

.btn-filter {
    text-align: center;
}

.share-links {
    li {
        p {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
            font-size: .8em;
        }

        span {
            padding: 8px;
            border-radius: 2px;
            border: 1px solid $color-grey-normal;

            &.text-dark {
                text-transform: uppercase;
                font-size: .7em;
                font-weight: 700;
            }

            a {
                color: $color-off-black;
                vertical-align: middle;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}
