a:focus-visible {
    background: #eee;
    border: solid 1.4px #0064a4;
}

.btn {
    padding: 10px 50px;
    border-radius: 2px;

    &:focus, &.focus{
        box-shadow: 0 0 0rem rgb(0 123 255 / 0%);
    }
}

.btn-sm {
    padding: 10px 10px;
    box-shadow: none !important;
}

.btn-link {
    color: $font-color-dark-grey;

    &:hover, &:active, &:focus {
        color: $color-blue;
        text-decoration: none;
    }
}

.btn-primary {
    background-color: $color-blue;
    border-color: $color-blue;
    @include box_shadow("blue");

    &:hover {
        background-color: $--darker-primary-color;
        border-color: $--darker-primary-color;
    }
}

.btn-secondary {
    background-color: $color-purple;
    border-color: $color-purple;
    @include box_shadow("purple");

    &:hover {
        background-color: $--darker-message-color;
        border-color: $--darker-message-color;
    }
}

.btn-tertiary {
    background-color: $--lighter-primary-color;
    border-color: $--lighter-primary-color;
    color: $color-blue;
    @include box_shadow("blue");

    &:hover {
        background-color: $--light-primary-color;
        border-color: $--light-primary-color;
        color: $color-blue;
    }
}

.btn-success {
    background-color: $color-green;
    border-color: $color-green;
    @include box_shadow("green");
    a{
        color:#D3E3DF;
    }
    &:hover {
        background-color: $--darker-secondary-color;
        border-color: $--darker-secondary-color;
    }
}

.btn-light {
    background-color: transparent;
    border-color: $color-white;
    color: $color-white;
}

.btn-white {
    background-color: $color-white;
    border-color: $color-white;
    @include box_shadow("black");
    color: $color-blue;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        background-color: $--darker-message-color;
        border-color: $--darker-message-color;
        color: $color-white;
        @include box_shadow("purple");
    }
}

.a-link {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;

    &:hover {
        text-decoration: none;
        color: $color-blue;
    }
}

.share-icon {
    visibility: hidden;
    padding-top: 7px;

    a {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        color: $color-off-black;
        vertical-align: middle;
        font-size: .8em;
        margin-right: 5px;

        &:hover {
            text-decoration: none;
        }

        img {
            width: 18px;
            margin-top: -5px;
            margin-left: 5px;
        }
    }
}

.btn-filter {
    text-align: center;
}

.share-links {
    li {
        p {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
            font-size: .8em;
        }

        span {
            padding: 8px;
            border-radius: 2px;
            border: 1px solid $color-grey-normal;

            &.text-dark {
                text-transform: uppercase;
                font-size: .7em;
                font-weight: 700;
            }

            a {
                color: $color-off-black;
                vertical-align: middle;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}
