//Jumbotron
.jumbotron {
    border-radius: 0;
}

// Intro-content jumbotron
#page-content-wrapper {
    .intro-content {
        color: $color-white;

        .jumbotron {
            padding-top: 200px;
            width: 100%;
            height: 800px;
            background: url(../images/crunch_lavender.jpg) no-repeat center center fixed;
            @include vp-background-size(cover);
        }
    }

    .footer-content {
        color: $color-white;

        .jumbotron {
            width: 100%;
            height: 450px;
            border-radius: 0;
            background: url(../images/crunch_stone.jpg) no-repeat top left fixed;
            @include vp-background-size(cover);
            margin-bottom: 0;
        }
    }
}

// Crunchbox
.secondary-content {
    .crunchbox-container {
        max-width: 600px;
        max-height: 480px;

        .nav {
            margin-bottom: 30px;

            .btn {
                padding: 0;
                margin-top: 30px;
                margin-right: 60px;
            }
        }

        .crunchbox {
            padding-top: 70%;
            border:1px solid #d3d3d3;
            position: relative;
            overflow: hidden;

            iframe {
                border: none;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                overflow: hidden;
            }

        }
    }
}

//Popover

.popover  {
    .popover-header{
        background-color: $color-white;
        border: 0;
    }

    .popover-body {
        color: $color-green;
    }
}

@include media-breakpoint-down(xs) {
    .popover {
        display: none;
    }
}

//Card

.card {
    height: 150px;
    margin: 15px 0;
    border-radius: 0;

    .card-body {
        a {
            color: $color-blue;
            position: absolute;
            bottom: 20px;
        }
    }
}

// Post-Card

.post-card {
    position: relative;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 30px 50px;
    margin-bottom: 30px;

    &:hover {
        border-color: $color-white;
        border-bottom: 2px solid $color-green;
        box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1);
    }

    .posts {
        .post-title {
            color: $color-green;
        }
        span {
            font-size: .8em;
        }
        p {
            margin-top: 20px;
        }
        a {
            position: absolute;
            bottom: 30px;
        }
    }
}
