//Jumbotron
.jumbotron {
    border-radius: 0;
}

// Intro-content jumbotron
#page-content-wrapper {
    .intro-content {
        color: $color-white;

        h1 {
            font-size: 2.5em;
            line-height: 1.4em;
        }

        h2 {
            font-size: 20px;
        }

        @include media-breakpoint-down(xs) {
            h1 {
                font-size: 2em;
                line-height: 1.4em;
            }
        }

        button {
            margin: 10px 5px;
        }

        .jumbotron {
            background-color: $color-blue;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
            margin-bottom: 0;
            height: 250px;
        }

        .jumbotron-secondary-pages {
            background-color: $color-green;
            background-image: linear-gradient( $color-green, $--darker-secondary-color);
            margin-bottom: 0;
            height: 325px;

            h2 {
                font-family: 'ProximaNova', sans-serif;
                font-size: 20px;
                font-style: normal;
            }

            &.secondary-page-video {
                height: 250px;
            }
        }

        @include media-breakpoint-down(xs) {
            .jumbotron {
                padding-top: 60px;
                height: 300px;
            }

            .jumbotron-secondary-pages {
                padding-top: 50px;
                height: 300px;
            }
        }

        .intro-container {
            margin-top: -60px;
            margin-bottom: 20px;

            &.secondary-intro-container {
                margin-top: -150px;

                img {
                    width: 100%;
                    max-width: 920px;
                }

                &.intro-container-video {
                    margin-top: -65px;
                }
            }
        }

        @include media-breakpoint-down(xs) {
            .intro-container {
                &.secondary-intro-container {
                    margin-top: -100px;
                }
            }
        }
    }

    .footer-content {
        color: $color-white;
        position: relative;
        z-index: 10;

        h2 {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 700;
            letter-spacing: .1em;
            margin-bottom: 0;
        }

        .jumbotron {
            width: 100%;
            height: 450px;
            border-radius: 0;
            background: url(../img/crunch_stone.jpg) no-repeat;
            background-attachment: fixed;
            background-position: center top;
            @include vp-background-size(cover);
            margin-bottom: 0;

            .row {
                margin-top: 50px;
            }

            .carousel {
                max-width: 800px;
                text-align: center;
                font-family: 'Libre Baskerville', serif;
                font-size: 1.5em;
                margin: auto;

                .carousel-inner {
                    min-height: 140px;
                }

                .carousel-indicators {
                    bottom: -50px;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .jumbotron {
                background-position: 0 top;

                h2 {
                    font-size: .8em;
                }

                .carousel {
                    font-size: 1.2em;

                }
            }
        }
    }
}

// Crunchbox
.crunchbox-container {
    max-width: 600px;
    max-height: 480px;

    .nav {
        margin-bottom: 30px;

        .btn {
            padding: 0;
            margin-top: 30px;
            margin-right: 60px;
        }
    }

    .crunchbox {
        padding-top: 70%;
        position: relative;
        overflow: hidden;

        iframe {
            border: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            overflow: hidden;
        }

    }
}

@include media-breakpoint-only(xs) {
    .crunchbox-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


// Popover
.popover  {
    padding: 5px;

    &.bs-popover-right {
        margin-top: 280px;
        margin-left: -50px;
    }

    &.bs-popover-left {
        margin-top: 280px;
        margin-right: 50px;
    }

    .popover-header{
        background-color: $color-white;
        border: 0;

        h3 {
            font-weight: 700;
        }

        span {
            font-size: 0.8em;
        }
    }

    .popover-body {
        color: $color-green;
    }

    .arrow {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    .popover {
        display: none;
    }
}

// Post-Card
.post-card {
    min-height: 450px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: $color-grey-lighest;
    @include vp-transition(all .1s ease-in-out);
    cursor: pointer;
    border-radius: 2px;

    &:hover {
        box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1);
        top: -5px;
    }

    .posts {
        .post-title {
            font-family: 'Libre Baskerville', serif;
            color: $color-blue;
        }

        p {
            margin-top: 20px;
        }

        .post-card-links {
            position: absolute;
            bottom: 50px;
            display: flex;
            font-size: 14px;
            width: 75%;

            .post-label {
                flex: 1;
                text-transform: uppercase;
                font-size: 12px;
                margin-top: 2px;
                font-weight: 400;

                img {
                    margin-right: 10px;
                    width: 20px;
                }

                a {
                    display: block;
                    color: $color-off-black;

                    &:hover {
                        color: $color-blue;
                        text-decoration: none;
                    }
                }
            }

            .post-url {
                text-align: right;


                a {
                    display: block;
                    font-family: 'Libre Baskerville', serif;
                    font-style: italic;
                    color: $color-off-black;

                    &:hover {
                        color: $color-blue;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &.contact-card {
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0;

        .posts {
            padding: 20px;

            .post-card-links {
                bottom: 0;
                width: 92%;
                margin-left: -20px;

                .post-url {
                    a {
                        padding: 16px;
                    }
                }

                .post-label {
                    a {
                        padding: 16px;

                        &:hover {
                            fill: $color-blue;
                        }
                    }
                }
            }
        }
    }

}

// Post-card B
// Post-Card
.post-card-video {
    height: 380px;
    background-color: $color-grey-lighest;
    @include vp-transition(all .1s ease-in-out);
    border-radius: 6px;
    border: 1px solid $color-grey-normal;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.1);
        top: -5px;
    }

    .post-video-img {
        margin-bottom: 20px;
        border-radius: 5px 5px 0 0;
    }

    .posts {
        .post-title {
            font-family: 'Libre Baskerville', serif;
            color: $color-blue;
            padding: 0 20px 0 20px;
        }

        p {
            margin-top: 20px;
        }

        .post-card-links {
            position: absolute;
            bottom: 20px;
            display: flex;
            font-size: 14px;
            width: 90%;
            padding: 0 20px 0 20px;

            .post-label {
                flex: 1;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 400;

                img {
                    margin-right: 10px;
                    width: 20px;
                }

                a {
                    display: block;
                    color: $color-off-black;

                    &:hover {
                        color: $color-blue;
                        text-decoration: none;
                    }
                }
            }

            .post-url {
                text-align: right;


                a {
                    display: block;
                    font-family: 'Libre Baskerville', serif;
                    font-style: italic;
                    color: $color-off-black;

                    &:hover {
                        color: $color-blue;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.post-card-main {
    background-color: $color-grey-lighter;
    background-image: linear-gradient( $color-grey-lighter, $color-grey-light);
    padding: 40px;
    margin-bottom: 0;

    &:hover {
        border-bottom: 0;
        box-shadow: 0;
        top: 0;
        cursor: default;
    }

    .posts {
        .post-title {
            color: $color-green;
            font-size: 28px;
            margin-top: 15px;
        }
    }

    p {
        color: $color-green;
    }

    span {
        color: $color-green;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;

         img {
             margin-right: 10px;
             margin-top: -7px;
             width: 47px;
         }
    }

    a {
        margin-top: 20px;
    }

    .post-card-main-content {
        position: relative;
    }

    .figure {
        background-image: url("/img/resources-main-banner.png");
        min-height: 300px;
        position: absolute;
        right: 15px;
        bottom: 0;

        &:hover {
            box-shadow: 0;
        }
    }

}


.post-min-height {
    min-height: 200px;
}

// Figure images in content .md
figure {
    &.center {
        text-align: center;
    }

    &.bordered img {
        border: 1px solid $color-grey-normal;
    }

    &.img-fluid {
        img {
            max-width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    figcaption h4 {
        margin-top: -15px;
        font-weight: 500;
        font-size: 1em;
        font-style: italic;
    }
}

// Animation delay
.animation-delay {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.carousel {
    .carousel-indicators li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    ol li::before {
        content: none;
    }
}

 .marketing-list {
    padding-left: 15px;
}

.marketing-btn {
    text-align: center;

        button {
            margin-top: 20px;
            margin-left: 4px;
            margin-right: 4px;
        }
}

// Hubspot forms
.hbspt-form .hs-form-iframe {
  width: 100% !important;
}

// Hero cropped images
.hero-img-right {
    width: 100%;
    max-width: 700px;
    height: 440px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 0 0 20px;
}

.hero-img-bottom {
    max-width: 950px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 20px 20px 0 20px;
}

@include media-breakpoint-only(xs) {
    .hero-img-bottom {
        height: 330px;
    }
}

@include media-breakpoint-only(md) {
    .hero-img-right {
        max-width: 500px;
        height: 500px;
    }
}

// carousel
.cr-carousel {
    .carousel-indicators {
        li {
            width: 8px;
            height: 8px;
            border: 1px solid $color-blue;
        }
        .active {
            background-color: $color-blue;
        }
    }
    .carousel-controls-icons {
        color: $color-blue;
        font-style: normal;
        font-size: 27px;
    }
    .carousel-item {
        height: 300px;
        img {
            max-width: 280px;
            margin: auto;
            margin-top: 20px;
        }
        h5 {
            color: $color-blue;
            font-weight: normal;
        }
    }
}

// Hero video
.hero-video {
    position: relative;
    width: 100%;
    max-width: 920px;
    height: 516px;
    overflow: hidden;
    z-index: 100;
    border-radius: 5px;
    margin: auto;
}

@include media-breakpoint-only(md) {
    .hero-video  {
        height: 398px;
    }
}

@include media-breakpoint-only(sm) {
    .hero-video  {
        margin-top: 60px;
        height: 290px;
    }
}

@include media-breakpoint-only(xs) {
    .hero-video  {
        margin-top: 0px;
        height: 260px;
    }
}

// Dev features videos

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Accordion

.accordion {
    margin-bottom: 50px;

    .card {
        border-radius: 0;
        border-right: 0;
        border-left: 0;

        .card-header {
            background-color: $color-white;
            padding: 10px 0;
            border-bottom: 0;

            .card-title {
                position: relative;
                font-family: 'Libre Baskerville', serif;

                button {
                    color: $color-blue;

                    &:hover {
                        color: $--darker-primary-color;
                    }

                    &::before {
                        content: "\27f6";
                        color: $color-off-black;
                        top: 8px;
                        left: 15px;
                        position: absolute;
                    }

                    &[aria-expanded="true"]::before {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .card-body {
            background-color: $color-grey-lighest;
            border-radius: 5px;
            border: 1px solid $color-grey-normal;
            margin-left: 50px;
            margin-bottom: 25px;
        }
    }
}
