#home{
    font-weight: normal;
    font-size: 19px;
    font-family: "ProximaNova";
    color: $font-color-off-black;
    
    h1,h2,h3,h4,h5,h6{
        font-weight: 700;
        font-family: "proximanova-bold";
        color: $font-color-off-black;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.8rem;
    }

    .section-heading{
        font-size: 3rem;
        font-weight: 700;
    }
}
#crunchio-is-for,
#all-your-data,
#self-services{
    padding-top: 50px;
}
#self-services{
    background: transparent linear-gradient(60deg, #FFFFFFA8 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
    font-family: 'ProximaNova';

    img{
        mix-blend-mode: multiply;
        
    }

    h1{
        font-size: 3.8rem;
    }
    
    h2{
        font-size: 2rem;
        font-weight: 400;
    }
    #learn-more-btn{
        min-width: 167px;
    }
}

#all-your-data{

    figure{
        height: 198px;
    }
}