

@media (max-width: 1199px) and ( min-width:560px) {
    #leadership {
        .team-leadership {
            .figure {
                margin: 12px;
            }
            .figure:after {
                content: "";
                transform: translateX(20px);
                left: -10px;
            }
        
        }
    }
    

}

@media screen and (min-width: 1366px) {
   
    #leadership {
    
            .team-leadership {
                .figure:after {
                    content: "";
                    transform: translateX(20px);
                }
            
            }
        }
}


@include media-breakpoint-only(md) {

    

    .crunch-reflection::before{
        content: "";
        border-radius: 12px;
        transform: translate(3px, 11px);
        position: absolute;
        top: 0px;
        left: 0px;
        height: calc(100%);
        width: calc(100%);
        z-index: -1;
    }

    .crunch-reflection-small{
        height: 323px;
        width: 585px;
    }

    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 353px;
        max-width: 656px;
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
    
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
}

@media (max-width: 991.98px) {


    .container {
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(353px - 18%);
        width: calc(100%);
    }
    .crunch-reflection-small {
        height: calc(323px - 5%);
        width:calc(100%);
    }
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(353px - 17%);
        max-width: calc(90%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100%);
        position: absolute;
        top: auto;
        width: calc(100% - 11%);
    }
    .crunch-reflection-right-top::before{
        transform: translate(48px, -30px);
    }
    .crunch-reflection-left-top::before{
        transform: translate(-26px, -25px);
    }

    .carousel-inner{
        height: 90%;
        display: flex;
        align-items: center;
        .carousel-item img{
            transform: translateY(0px);
        }
        .carousel-caption{
            height: 100%;
            color:$color-off-black;
            display: flex;
            h4{
                font-family: 'ProximaNova', serif;
                font-weight: 700;
                font-size: 20px;
                transform: translateY(0px);
            }
            p{
                transform: translateY(0px);
            }
            h5{
                font-family: 'ProximaNova', serif;
                font-weight: 700;
                font-size: 17px;
                transform: translateY(110px);
            }
        }
    
    }
}

@media (max-width: 767.98px) { 

    .carousel-inner .carousel-caption h5 {
        font-family: "ProximaNova", serif;
        font-weight: 700;
        font-size: 17px;
        transform: translateY(220px);
    }
    #self-services{
        padding-top: 75px;
        h1.crunch-h1{
            font-size: 3em;
        }
    }
    .navbar-nav {
        .nav-link{
            width: 100%;
            font-size: 21px !important;
            font-weight: 700;
            
        }
    }
    .container {
    
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-form-hbspt {
        position: relative;
        height: 100%;
        min-height: 880px;
        .crunch-rectangle{    border-radius: 20px;
            background-color: #0b6752;
            height: 99%;
            position: absolute;
            transform: translate(-29px, 40px);
            width: 96%;
            z-index: 1;
        }
        .crunch-form{
            background-color: #fff;
            box-shadow: 0px 3px 20px #00000029;
            border-radius: 18px;

            padding: 21px 15px 15px 24px;
            bottom: 0px;
            left: 0px;
            height: 100%;
            position: relative;
            top: 0px;
            width: 100%;
            z-index: 10;
        }
    }
    

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(100%);
        width: calc(100%);
    }
    
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }

    .crunch-reflection-small {
        height: calc(323px - 5%);
        width:calc(90%);
        margin: auto;
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100%);
        position: absolute;
        top: auto;
        width: calc(100% - 16%);
    }
    .crunch-reflection-right-top::before{
        transform: translate(48px, -30px);
    }
    .crunch-reflection-left-top::before{
        transform: translate(-27px, -26px)
    }

    .crunch-reflection-container{
        position: relative;
        display: block;
        height: 100%;

        .crunch-reflection-content{
            background-color: #fff;
            box-shadow: 0px 3px 20px #00000029;
            border-radius: 18px;
            height: 100%;
            width: 100%;
            position: relative;
            bottom: 0px;
            left: 0px;
            top: 0px;
            z-index: 10;
        }
        .crunch-reflection-effect{
            border-radius: 20px;
            height: 99%;
            position: absolute;
            width: 96%;
            z-index: 1;
        }
        .crunch-reflection-left-top {
            transform: translate(-22px, -21px);
        }
        .crunch-reflection-right-top {
            transform: translate(34px, -21px);
        }
        
        .crunch-reflection-right-bottom{
            transform: translate(34px, 25px);
        }
    }
}

@include media-breakpoint-only(md) {
    #resources-filter-container .navbar-nav {
        display: flex;
        flex-direction: row !important;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}
@include media-breakpoint-only(sm) {

    .container {
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(100%);
        width: calc(100%);
    }
    
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(90%);
    }
    #self-services{
        padding-top: 75px;
        h1.crunch-h1{
            font-size: 3em;
        }
    }

    #industry-product-resources .card-item {
        cursor: pointer;
        width: 100%;
        min-height: 280px;
    }
}

@include media-breakpoint-only(xs) {

    .crunch-h1 {
        font-size: 2.8rem;
    }
    
    .crunch-h2 {
        font-size: 2.2rem;
    }
    
    .crunch-h3 {
        font-size: 1.7rem;
    }

    .carousel-control-next, .carousel-control-prev {
        background: transparent linear-gradient(270deg, #2477B6 0%, #18649A 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 30px;
        border-radius: 50%;
        width: 30px;
    }

    .carousel-control-prev {
        transform: translate(20%, 190%);
    }

    .carousel-control-next {
        transform: translate(-20%, 190%);
    }

    #icon-search {
        .icon-container {
            overflow: hidden;
            max-height: 109px;
        }
    }
    input.btn.btn-primary.btn-block.mx-2 {
        width: calc(82vw);
        box-shadow: none;
        border-radius: 4px;
        padding: 9px 25px;
        margin-left: 8px !important;

    }

    .contact-us{
        font-size: 16px;
        .crunch-h4{
            color:#ffffff;
        }
    }

    #home .section-heading {
        font-size: 2.6rem;
        font-weight: bold;
        line-height: initial;
    }
    #crunchio-is-for,
    #all-your-data,
    #self-services{
        padding: 5px 0px 18px;
        .btn{
            display: flex;
            margin: 30px auto 0px;
        
            justify-content: center;
            justify-self: center;
            text-align: center;
        }

    }
    #all-your-data{
        padding-top: 40px;
    }
    #self-services{
        padding-top: 15px;
        h1.crunch-h1{
            font-size: 2.8em;
        }
    }
    #icon-search{
        padding-top: 20px;
    }
    .crunch-reflection::before{
        content: "";
        border-radius: 12px;
        transform: translate(3px, 11px);
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 90%;
    }

    .border-right{
        border:0px !important;
    }

    .crunch-reflection-left-top::before{
        transform: translate(-15px, -15px)
    }
    .crunch-reflection-left-bottom::before{
        transform: translate(0px, 17px);
    }
    .crunch-reflection-right-top::before {
        transform: translate(32px, -15px);
    }
    .crunch-reflection-right-bottom::before{
        transform: translate(10px, 25px);
    }

    .crunch-reflection-small {
        height: calc(100%);
        width: calc(100%);
        margin: auto;
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100% - 100px);
        position: absolute;
        top: auto;
        width: calc(100% - 12%);
    }

    .crunch-reflection-large.crunch-reflection::before {
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        height: calc(100%);
        position: absolute;
        width: calc(100% - 12%);
    }

    // .crunch-form-hbspt{
    //     background-color: #fff;
    //     box-shadow: 0px 3px 20px #00000029;
    //     border-radius: 18px;
    //     overflow: hidden;
    //     padding: 21px 15px 15px 24px;
    //     margin-top: 20px;
    //     margin-bottom: 40px;
    // }
    
    // .crunch-form-hbspt:before{
    //     content: "";
    //     border-radius: 20px;
    //     background-color: #0B6752;
    //     height: 94%;
    //     position: absolute;
    //     transform: translate(-47px, -2px);
    //     width: 94%;
    //     z-index: -1;
    // }

    #webinar img{
        transform: translateY(-55px);
    }
    .container-fluid.crunch-green.py-5 {
        padding-top: 0px !important;
    }
    
    .navbar .navbar-nav .nav-link[data-toggle="dropdown"]::after{
        background: url(../img/angle-right.svg);
        background-size: cover;
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        position: absolute;
        top: calc(17px);
        right: calc(19px);
        transform: rotate(90deg);
    }
    .navbar .navbar-nav .nav-link[aria-expanded="true"]::after{
        content: "";
        transform: rotate(270deg);
    }

    .navbar .dropdown .crunch-menu, 
    .navbar .dropdown .dropdown-menu {
        box-shadow: 0px 0px 0px 0px transparent;
    }

    .testimonial-image {
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 10px 10px 12px #00000029;
        height: auto !important;
        left: 0px;
        position: absolute;
        top: calc(0% - 140px);
        width: 100% !important;
        overflow: hidden;
    }

    #direcctor-comments{
        .comments{
            margin-top: 120px;
        }
    }

    #industry-product-resources{
        .card-item{
            max-width: 100%;
            width: 100%;
            .d-flex.shadow {
                border-radius: 8px;
                overflow: hidden;
                width: 100%;
            }
        }
    }
    .crunch-reflection-container{
        position: relative;
        display: block;
        height: 100%;

        .crunch-reflection-content{
            background-color: #fff;
            box-shadow: 0px 3px 20px #00000029;
            border-radius: 18px;
            height: 100%;
            width: 100%;
            position: relative;
            bottom: 0px;
            left: 0px;
            top: 0px;
            z-index: 10;
        }
        .crunch-reflection-effect{
            border-radius: 20px;
            height: 99%;
            position: absolute;
            width: 96%;
            z-index: 1;
        }
        .crunch-reflection-left-top {
            transform: translate(-22px, -21px);
        }
        .crunch-reflection-right-top {
            transform: translate(34px, -21px);
        }

        .crunch-reflection-right-bottom{
            transform: translate(10px, 25px);
        }
    }
    .circle[aria-expanded=true]::after{
        
            transform: translateY(-25px);
            position: relative;
            top: -14px;
        }
    
    .circle[aria-expanded=false]::after {
        transform: translateY(-25px);
        position: relative;
        top: -11px;
    }
    a.circle, button.circle {
        border-radius: 80px;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        width: 40px !important;
        height: 40px;
        position: absolute;
        left: calc(77%);
    }
}

@media (max-width: 500px)
{
    .container {
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }
}