
@include media-breakpoint-only(md) {

    .container-fluid {
        padding: 35px;
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-reflection::before{
        content: "";
        border-radius: 12px;
        transform: translate(3px, 11px);
        position: absolute;
        top: 0px;
        left: 0px;
        height: calc(100%);
        width: calc(100%);
        z-index: -1;
    }

    .crunch-reflection-small{
        height: 323px;
        width: 585px;
    }

    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 353px;
        max-width: 656px;
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
    
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
}

@media (max-width: 991.98px) {

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(353px - 18%);
        width: calc(100%);
    }
    .crunch-reflection-small {
        height: calc(323px - 5%);
        width:calc(100%);
    }
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(353px - 17%);
        max-width: calc(90%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100%);
        position: absolute;
        top: auto;
        width: calc(100% - 11%);
    }
    .crunch-reflection-right-top::before{
        transform: translate(48px, -30px);
    }
    .crunch-reflection-left-top::before{
        transform: translate(-26px, -25px);
    }
}

@media (max-width: 767.98px) { 


    #self-services{
        padding-top: 75px;
        h1.crunch-h1{
            font-size: 3em;
        }
    }

    .container-fluid {
        padding: 15px;
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-form-hbspt{
        background-color: #fff;
        box-shadow: 0px 3px 20px #00000029;
        border-radius: 18px;
        overflow: hidden;
        padding: 21px 15px 15px 24px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .crunch-form-hbspt:before{
        content: "";
        border-radius: 20px;
        background-color: #0B6752;
        height: 94%;
        position: absolute;
        transform: translate(-47px, -2px);
        width: 94%;
        z-index: -1;
    }

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(100%);
        width: calc(100%);
    }
    
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(100%);
    }

    .crunch-reflection-small {
        height: calc(323px - 5%);
        width:calc(90%);
        margin: auto;
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100%);
        position: absolute;
        top: auto;
        width: calc(100% - 16%);
    }
    .crunch-reflection-right-top::before{
        transform: translate(48px, -30px);
    }
    .crunch-reflection-left-top::before{
        transform: translate(-27px, -26px)
    }
}

@include media-breakpoint-only(sm) {

    .container-fluid {
        padding: 15px;
        .row{
            max-width: 1400px;
            margin: auto;
        }
    }

    .crunch-reflection-left-bottom::before{
        transform: translate(-10px, 25px);
    }

    .crunch-reflection-large{
        height: calc(100%);
        width: calc(100%);
    }
    
    .crunch-reflection-large.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        left: 0px;
        height: calc(100%);
        position: absolute;
        top: 0px;
        width: calc(90%);
    }
    #self-services{
        padding-top: 75px;
        h1.crunch-h1{
            font-size: 3em;
        }
    }
}

@include media-breakpoint-only(xs) {
    #home .section-heading {
        font-size: 2.6rem;
        font-weight: bold;
        line-height: initial;
    }
    #crunchio-is-for,
    #all-your-data,
    #self-services{
        padding: 5px 0px 18px;
        .btn{
            display: flex;
            margin: 30px auto 60px;
        
            justify-content: center;
            justify-self: center;
            text-align: center;
        }

    }
    #all-your-data{
        padding-top: 40px;
    }
    #self-services{
        padding-top: 75px;
        h1.crunch-h1{
            font-size: 3em;
        }
    }
    #icon-search{
        padding-top: 20px;
    }
    .crunch-reflection::before{
        content: "";
        border-radius: 12px;
        transform: translate(3px, 11px);
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 90%;
    }

    .crunch-reflection-left-top::before{
        transform: translate(-15px, -15px)
    }
    .crunch-reflection-left-bottom::before{
        transform: translate(0px, 17px);
    }
    .crunch-reflection-right-top::before {
        transform: translate(32px, -15px);
    }
    .crunch-reflection-right-bottom::before{
        transform: translate(10px, 25px);
    }

    .crunch-reflection-small {
        height: calc(100%);
        width: calc(100%);
        margin: auto;
    }
    .crunch-reflection-small.crunch-reflection::before{
        content: "";
        border-radius: 20px;
        max-height: 309px;
        max-width: 589px;
        left: auto;
        height: calc(100% - 100px);
        position: absolute;
        top: auto;
        width: calc(100% - 12%);
    }

    .crunch-reflection-large.crunch-reflection::before {
        content: "";
        border-radius: 20px;
        max-height: calc(100%);
        max-width: calc(100%);
        height: calc(100%);
        position: absolute;
        width: calc(100% - 12%);
    }

    .crunch-form-hbspt{
        background-color: #fff;
        box-shadow: 0px 3px 20px #00000029;
        border-radius: 18px;
        overflow: hidden;
        padding: 21px 15px 15px 24px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .crunch-form-hbspt:before{
        content: "";
        border-radius: 20px;
        background-color: #0B6752;
        height: 94%;
        position: absolute;
        transform: translate(-47px, -2px);
        width: 94%;
        z-index: -1;
    }

    #webinar img{
        transform: translateY(-55px);
    }
    .container-fluid.crunch-green.py-5 {
        padding-top: 0px !important;
    }
    
    .navbar .navbar-nav .nav-link[data-toggle="dropdown"]::after{
        background: url(../img/angle-right.svg);
        background-size: cover;
        content: "";
        position: absolute;
        height: 16px;
        width: 16px;
        position: absolute;
        top: calc(17px);
        right: calc(19px);
        transform: rotate(90deg);
    }
    .navbar .navbar-nav .nav-link[aria-expanded="true"]::after{
        content: "";
        transform: rotate(270deg);
    }

    .navbar .dropdown .crunch-menu, 
    .navbar .dropdown .dropdown-menu {
        box-shadow: 0px 0px 0px 0px transparent;
    }

}