// Homepage content styles
// Page-content-wrapper
#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper-homepage.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

@media(min-width:768px) {
    #wrapper-homepage.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

// Crunch interface
.crunch-interface {

    &.hidden {
         opacity: 0;
    }

    img {
        margin: auto;
        margin-top: -400px;
    }

    @include media-breakpoint-down(xs) {
        img {
            margin-top: -200px;
        }
    }
}

// Secondary-content
.secondary-content {
    .row {
        margin: 0;
    }
}

@include media-breakpoint-down(xs) {
    .intro-xs-margin {
        margin-top: -300px;
    }
}

//Secondary-pages content styles
#secondary-pages-wrapper {

    //About content
    .about-content {
        color: $color-white;

        .jumbotron {
            height: 600px;
            background: $color-green url(../images/app_interface_example.png) no-repeat;
            background-position: center 260px;
        }

        @include media-breakpoint-down(xs) {
            .jumbotron {
                background: $color-green;
            }
        }
    }

    .lead {
        color: $color-green;
    }

    .secondary-content {
        h2 {
            color: $color-green;

            span {
                font-family: 'Libre Baskerville', serif;
                font-style: italic;
                color: $color-off-black;
                line-height: 1.3em;
            }
        }

        .features {
            margin-top: 50px;

            > div {
                border-left: 1px solid $color-green;
            }

            div:last-child {
                border-right: 1px solid $color-green;
            }

            img {
                margin-top: 20px;
            }

            @include media-breakpoint-down(xs) {
                div, div:last-child {
                    border: none;
                    margin-bottom: 50px;
                }
            }
        }
    }

    .footer-content {
        color: $color-white;

        .jumbotron {
            height: 300px;
            background: url(../images/crunch_shell.jpg) no-repeat;
            background-position: 0 -100px;
            @include vp-background-size(cover);
            margin-bottom: 0;

            .btn-link {
                    color: $color-white;
                    padding: 0;
                    margin: 0;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .footer-content {
            .jumbotron {
                background-size: 800px auto;
                background-position: -50px 0;
            }
        }
    }

    //Team content

    .team-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-green;
            height: 485px;

        }

        .team-leads {
            // border:1px solid red;
            margin-top: -250px;
            margin-bottom: 50px;
        }
    }

    .figure {

        .figure-caption {
            margin-top: 10px;
        }

    }

    @include media-breakpoint-down(xs) {
        .team-members,
        .team-leads {
            text-align: center;
        }
    }

    //Jobs content

    .jobs-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-green;
        }

    }

    //Blog content

    .blog-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-blue;

            a {
                color: $color-white;
            }
        }

    }

    .blog-content-mg {
        img {
            margin: 30px;
        }
    }

}

// 404 page

.page-not-found {
    min-height: 1200px;
    width: 100%;
    background: url(../images/crunch_lavender.jpg) no-repeat center center fixed;
    @include vp-background-size(cover);
    color: $color-white;
    overflow: hidden;

    .container {
        margin-top: 200px;

        span {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
        }

        a {
            color: $color-white;
        }

        h1 {
            font-family: ProximaNova, sans-serif;
            line-height: 1.5em;
        }

        button {
            margin: 20px 0;
        }
    }
}

// Learn More Pages
.learn-more-title {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: color .35s ease-in-out;
}

.text-white {
    color: $color-white;
}

// A modern platform for analytics
.modern-platform-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .content-one {

        margin-top: 300px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-purple;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../images/crunch_modern_platform.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 200px;
            color: $color-white;
        }

    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-purple;

        p {
            margin-top: 200px;
        }
    }

    .content-four .jumbotron {
        height: 800px;
        color: $color-off-black;
        background-color: $color-white;

        p {
            margin-top: 200px;
        }

        a {
            font-family: 'Libre Baskerville', serif;
            color: $color-off-black;

            span {
                font-style: italic;
            }
        }
    }

}

// Collaborate securely
.collaborate-securely-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .content-one {

        margin-top: 300px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-green;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../images/crunch_collaborate_securely.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 200px;
            color: $color-white;
        }

    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-green;

        p {
            margin-top: 200px;
        }
    }

    .content-four .jumbotron {
        height: 700px;
        color: $color-off-black;
        background-color: $color-white;

        p {
            margin-top: 200px;
            margin-bottom: 150px;
        }

        a {
            font-family: 'Libre Baskerville', serif;
            color: $color-off-black;

            span {
                font-style: italic;
            }
        }
    }

    .crunchbox-container {
        margin-top: 150px;
    }

}

.collaborate-securely-parallax {

    .img-fluid {
        opacity: 1;
        transition: opacity .35s ease-in-out;
    }

    .img-parallax-none {
        opacity: 0;
    }
}

// Speaks Research
.speaks-research-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
    .content-one {

        margin-top: 300px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-blue;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../images/crunch_stone.jpg) no-repeat 0 top fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 200px;
        }
    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-blue;

        p {
            margin-top: 200px;
        }

        a {
            font-family: 'Libre Baskerville', serif;
            color: $color-white;

            span {
                font-style: italic;
            }
        }
    }

}
