// Homepage content styles
// Page-content-wrapper
#page-content-wrapper {
    width: 100%;
}

#wrapper-homepage.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

@media(min-width:768px) {
    #wrapper-homepage.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

.share-insights {
    a {
        color: $color-off-black;

        span {
            font-style: italic;
        }
    }
}

// Crunch interface
.crunch-interface {

    img {
        margin: auto;
        margin-top: -500px;
    }

    @include media-breakpoint-only(xs) {
        img {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(sm) {
        img {
            margin-top: -300px;
        }
    }

    @include media-breakpoint-only(md) {
        img {
            margin-top: -300px;
        }
    }

}

// Secondary-content
.secondary-content {
    .modern-platform {
        .jumbotron {
            color: $color-white;
            background: url(../img/crunch_lavender.jpg) no-repeat center center fixed;
            @include vp-background-size(cover);
            padding: 150px 0;
        }
    }

    @include media-breakpoint-down(xs) {
        .container-img {
            margin-bottom: 50px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .intro-xs-margin {
        margin-top: -300px;
    }
}

// Secondary-pages content styles
#secondary-pages-wrapper {

    // About content
    .about-content {
        color: $color-white;

        .jumbotron {
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
        }

        @include media-breakpoint-down(sm) {
            .jumbotron {
                background-image: linear-gradient( $color-blue, $--darker-primary-color);
            }
        }

    }

    .secondary-about-content {
        h2 {
            font-size: 2em;
            font-weight: bold;
        }

        h3 {
            font-family: 'Libre Baskerville', serif;
            font-size: 1.2em;

            span {
                font-style: italic;
            }
        }
    }

    .lead {
        color: $color-green;
    }

    .secondary-content {
        h1 {
            font-size: 1.8em;
        }

        h2 {
            color: $color-green;

            span {
                font-family: 'Libre Baskerville', serif;
                font-style: italic;
                color: $color-off-black;
                line-height: 1.3em;
            }
        }

        .features {
            margin-top: 50px;

            > div {
                border-left: 1px solid $color-green;
            }

            div:last-child {
                border-right: 1px solid $color-green;
            }

            img {
                margin-top: 20px;
            }

            @include media-breakpoint-down(sm) {
                div, div:last-child {
                    border: none;
                    margin-bottom: 50px;
                }
            }
        }
    }

    .footer-content {
        color: $color-white;

        .jumbotron {
            height: 300px;
            background: url(../img/crunch_shell.jpg) no-repeat;
            background-position: 0 -100px;
            @include vp-background-size(cover);
            margin-bottom: 0;

            .btn-link {
                    color: $color-white;
                    padding: 0;
                    margin: 0;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .footer-content {
            .jumbotron {
                background-size: 800px auto;
                background-position: -50px 0;
            }
        }
    }

    // Team content
    .team-content {
        color: $color-white;

        .jumbotron {
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
            height: 485px;

        }

        .team-leads {
            text-align: center;
            margin-top: -220px;
            margin-bottom: 50px;

            .figure {
                background-color: $color-grey-lightest;
                margin: 1rem;
                border-radius: 2px 2px 0 0;

                p {
                    color: $color-off-black;
                    font-size: 13px;

                    .location-icon {
                        width: 12px;
                    }
                }

                .lead-title {
                    h3 {
                        font-size: 16px;
                        color: $color-blue;
                        font-family: 'Libre Baskerville', serif;
                    }

                }

                img {
                    border-radius: 2px 2px 0 0;
                }
            }

            .figure-caption {
                text-align: left;
                padding: 18px 18px 0 18px;
                border-radius: 0 0 2px 2px;
                border: 1px solid $color-grey-normal;
                margin-top: 0;
            }
        }
    }

    .secondary-content {

        .team-members {

            text-align: center;

            .figure {
                background-color: $color-grey-lightest;
                margin: 1rem;
                border-radius: 2px 2px 0 0;

                p {
                    color: $color-off-black;
                    font-size: 13px;

                    .location-icon {
                        width: 12px;
                    }
                }

                h3 {
                    font-size: 16px;
                    color: $color-blue;
                    font-family: 'Libre Baskerville', serif;
                }

                img {
                    border-radius: 2px 2px 0 0;
                }
            }

            .figure-caption {
                text-align: left;
                padding: 18px 18px 0 18px;
                border-radius: 0 0 2px 2px;
                border: 1px solid $color-grey-normal;
                margin-top: 0;
            }
        }

    }

    .figure {

        .figure-caption {
            margin-top: 10px;
        }

    }


    // Jobs content
    .jobs-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-blue;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
        }

    }

    @include media-breakpoint-up(md) {

        .jobs-content-container {
            text-align: center;
            max-width: 520px;
        }
    }

    .careers-email {
        text-decoration: none;
        color: $color-off-black;

        &:hover {
            text-decoration: none;
            color: $color-blue;
        }
    }

    // Resources content
    .resources-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-blue;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
            height: 285px;
        }

        .resources-main {
            margin-top: -80px;
            margin-bottom: 50px;
        }

    }

    @include media-breakpoint-up(md) {

        .header-content-container {
            text-align: center;
            max-width: 520px;
        }
    }

    // Blog content
    .blog-content {
        color: $color-off-black;

        &.page-summary {
            margin: 20px 10px;
        }

        .jumbotron {
            color: $color-white;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);

            a {
                color: $color-white;
            }

            .lead {
                color: $color-white;
                font-weight: 400;
            }
        }

        .date {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
            font-size: .8em;
        }

        .title {
            font-family: 'Libre Baskerville', serif;
            font-size: 2em;
            color: $color-blue;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        h4.title {
            font-size: 1.2em;
            margin: 10px 0;
        }


        .blog-description {
            font-weight: 700;
            font-size: 1.5em;
            line-height: 1.1em;
        }

    }

    .blog-content-mg {
        margin-top: 30px;

        pre {
            background-color: $color-grey-lighter;
            padding: 20px;
            border-radius: 3px;
        }

        code {
            background-color: $color-grey-lighter;
            padding: 5px;
            border-radius: 3px;
        }
    }

    // Privacy policy
    .privacy-policy {
        h1 {
            color: $color-green;
            font-family: 'Libre Baskerville', serif;
            text-align: center;
            font-size: 28px;

            span {
                font-style: italic;
                text-transform: lowercase;
                font-size: 28px;
                font-weight: 300;
            }
        }

        span {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .privacy-policy-mg {
        margin-top: 30px;

        h2 {
            font-family: 'Libre Baskerville', serif;
            color: $color-blue;
            font-size: 18px;
            margin-top: 30px;
        }

        h3 {
            font-size: 16px;
            font-weight: 700;
        }

        a {
            color: $color-green;
        }

        .table-border {
            border: 0;
            border-bottom: 1px solid #E1E9E9;
        }

        .border-top {
            border-top: 1px solid #E1E9E9;
        }

        table {
            width: 100%;

            th {
                background-color: #E1E9E9;
                text-align: center;

                &:first-child {
                    border-right: 1px solid $color-white;
                }

                &:last-child {
                    border-left: 1px solid $color-white;
                }
            }

            td {
                text-align: left;
            }
        }
    }

}

// 404 page
.page-not-found {
    min-height: 1200px;
    width: 100%;
    background: url(../img/crunch_lavender.jpg) no-repeat center center fixed;
    @include vp-background-size(cover);
    color: $color-white;
    overflow: hidden;

    .container {
        margin-top: 200px;

        span {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
        }

        a {
            color: $color-white;
        }

        h1 {
            font-family: ProximaNova, sans-serif;
            line-height: 1.5em;
        }

        button {
            margin: 20px 0;
        }
    }
}

// Learn More Pages
.learn-more-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-white {
    color: $color-white;
}

// Header Content
.intro-marketing-pages {
    color: $color-white;

    h2 {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .jumbotron {
        background-color: $color-blue;
        background-image: linear-gradient( $color-blue, $--darker-primary-color);
        margin-bottom: 0;

        h1 {
            font-size: 2.5em;
        }

        @include media-breakpoint-down(md) {
            h1 {
                font-size: 1.8em;
            }
        }

        h2 {
            margin-top: 15px;
            margin-bottom: 30px;
        }

        a {
            color: $color-white;
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
        }
    }

    &.green {
        .jumbotron {
            background-color: $color-green;
            background-image: linear-gradient( $color-green, $--darker-secondary-color);
        }
    }
}


// Crunchbox content
.crunchbox-content {

    .jumbotron {
        margin: 0;
    }

    .content-one {

        .jumbotron {
            color: $color-white;
            background-color: $color-green;
        }

        #learn-more-img-1 {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(xs) {
        .content-one {
            background-color: $color-green;
            margin-top: 50px;

            h1 {
                margin-top: -150px;
            }
        }
    }

    @include media-breakpoint-only(sm) {
        .content-one {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(sm) {
        .content-one .jumbotron {
            height: auto;
        }
    }

    .content-two .jumbotron {
        color: $color-white;
        background: url(../img/crunch_collaborate.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 20px;
            color: $color-white;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }
        }

    }

    @include media-breakpoint-down(sm) {
        .content-two .jumbotron  {
            min-height: 500px;

            p {
                margin-top: 20px;
            }

        }
    }

    .content-three .jumbotron {
        color: $color-white;
        background-color: $color-green;

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-top: -100px;
                margin-bottom: 20px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-three .jumbotron {
            height: auto;
        }
    }
}

// Survey Data Expertise
.survey-data-expertise {

    .jumbotron {
        margin: 0;
    }

    .content-one {

        .jumbotron {
            color: $color-white;
            background-color: $color-green;
        }

        #learn-more-img-1 {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(xs) {
        .content-one {
            background-color: $color-green;
            margin-top: 50px;

            h1 {
                margin-top: -150px;
            }
        }
    }

    @include media-breakpoint-only(sm) {
        .content-one {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(sm) {
        .content-one .jumbotron {
            height: auto;
        }
    }

    .content-two .jumbotron {
        color: $color-white;
        background: url(../img/crunch_collaborate.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            color: $color-white;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }
        }

    }

    .content-three .jumbotron {
        color: $color-white;
        background-color: $color-green;

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-bottom: 20px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-three .jumbotron {
            height: auto;
        }
    }

    .content-four .jumbotron {
        color: $color-off-black;
        background-color: $color-white;

        p {
            margin-top: 100px;

            a {
                font-family: 'ProximaNova', sans-serif;
                color: $color-blue;
            }
        }

        @include media-breakpoint-down(sm) {
            p {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

    }

    @include media-breakpoint-down(sm) {
        .content-four .jumbotron {
            height: auto;
        }
    }


    @include media-breakpoint-up(md) {
        .crunchbox-container {
            margin-top: 40px;
        }
    }

}

// Marketing page with video
.marketing-page {
    background-color: $color-blue;
    background-image: linear-gradient( $color-blue, $--darker-primary-color);

    button {
        margin-bottom: 20px;
    }

    a {
        font-family: 'Libre Baskerville', serif;
        color: $color-white;
        font-style: italic;
    }
}

// Request a Demo
#request-demo-content {
    position: relative;
    z-index: -2;
    .request-demo-form {
        padding: 0 30px;
    }

    .request-demo-contact {
        margin-bottom: 20px;

        span {
            font-size: 12px;
            height: auto;
            color: $color-off-black;
        }
    }


    h1 {
        font-family: ProximaNova, sans-serif;
        font-size: 5em;
        margin-bottom: 20px;
        font-weight: 700;
    }
    

    @include media-breakpoint-up(md) {
        .request-demo-copy {
            margin-left: 40px;
        }
    }

    @include media-breakpoint-down(sm) {
        .request-demo-copy {
            margin-top: 40px;
        }
        h1 {
            font-family: ProximaNova, sans-serif;
            font-size: 3em;
            margin-bottom: 20px;
            font-weight: 700;
        }
    }

}

// Speed Section
.speed-section {
    height: 760px;
    position: relative;
}

@include media-breakpoint-only(xs) {
    .speed-section {
        height: 620px;
    }
}

// Tool Section
.tool-section {
    height: 810px;
    position: relative;
}

@include media-breakpoint-only(xs) {
    .tool-section {
        height: 800px;
    }
    ul {
        margin-bottom: 0px;
    }
}
