// Homepage content styles
// Page-content-wrapper
#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper-homepage.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -250px;
}

@media(min-width:768px) {
    #wrapper-homepage.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}

// Crunch interface
.crunch-interface {

    img {
        margin: auto;
        margin-top: -500px;
    }

    @include media-breakpoint-only(xs) {
        img {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(sm) {
        img {
            margin-top: -300px;
        }
    }

    @include media-breakpoint-only(md) {
        img {
            margin-top: -300px;
        }
    }

}

// Secondary-content
.secondary-content {
    .row {
        margin: 0;
    }
}

@include media-breakpoint-down(xs) {
    .intro-xs-margin {
        margin-top: -300px;
    }
}

//Secondary-pages content styles
#secondary-pages-wrapper {

    //About content
    .about-content {
        color: $color-white;

        .jumbotron {
            background-image: linear-gradient( $color-green, $--darker-secondary-color);
        }

        @include media-breakpoint-down(sm) {
            .jumbotron {
                background-image: linear-gradient( $color-green, $--darker-secondary-color);
            }
        }

    }

    .secondary-about-content {
        h2 {
            font-size: 2em;
            font-weight: bold;
        }

        h3 {
            font-family: 'Libre Baskerville', serif;
            font-size: 1.2em;

            span {
                font-style: italic;
            }
        }

        .join-the-team {
            p {
                display: table-cell;
                height: 48px;
                vertical-align: middle;
            }
        }
    }

    .lead {
        color: $color-green;
    }

    .secondary-content {
        h2 {
            color: $color-green;

            span {
                font-family: 'Libre Baskerville', serif;
                font-style: italic;
                color: $color-off-black;
                line-height: 1.3em;
            }
        }

        .features {
            margin-top: 50px;

            > div {
                border-left: 1px solid $color-green;
            }

            div:last-child {
                border-right: 1px solid $color-green;
            }

            img {
                margin-top: 20px;
            }

            @include media-breakpoint-down(sm) {
                div, div:last-child {
                    border: none;
                    margin-bottom: 50px;
                }
            }
        }
    }

    .footer-content {
        color: $color-white;

        .jumbotron {
            height: 300px;
            background: url(../img/crunch_shell.jpg) no-repeat;
            background-position: 0 -100px;
            @include vp-background-size(cover);
            margin-bottom: 0;

            .btn-link {
                    color: $color-white;
                    padding: 0;
                    margin: 0;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .footer-content {
            .jumbotron {
                background-size: 800px auto;
                background-position: -50px 0;
            }
        }
    }

    //Team content

    .team-content {
        color: $color-white;

        .jumbotron {
            background-image: linear-gradient( $color-green, $--darker-secondary-color);
            height: 485px;

        }

        .team-leads {
            margin-top: -250px;
            margin-bottom: 50px;
        }
    }

    .figure {

        .figure-caption {
            margin-top: 10px;
        }

    }

    @include media-breakpoint-down(xs) {
        .team-members,
        .team-leads {
            text-align: center;
        }
    }

    //Jobs content

    .jobs-content {
        color: $color-white;

        .jumbotron {
            background-color: $color-blue;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);
        }

    }

    //Blog content

    .blog-content {
        color: $color-blue;

        .jumbotron {
            color: $color-white;
            background-image: linear-gradient( $color-blue, $--darker-primary-color);

            a {
                color: $color-white;
            }

            .lead {
                color: $color-white;
                font-weight: 400;
            }
        }

        h2 {
            font-family: 'ProximaNova', sans-serif;
            font-weight: 700;
            font-size: 2em;
        }

    }

    .blog-content-mg {
        margin-top: 30px;
        padding: 0;

        pre {
            background-color: $color-grey-ligher;
            padding: 20px;
            border-radius: 3px;
        }

        code {
            background-color: $color-grey-ligher;
            padding: 5px;
            border-radius: 3px;
        }
    }

}

// 404 page

.page-not-found {
    min-height: 1200px;
    width: 100%;
    background: url(../img/crunch_lavender.jpg) no-repeat center center fixed;
    @include vp-background-size(cover);
    color: $color-white;
    overflow: hidden;

    .container {
        margin-top: 200px;

        span {
            font-family: 'Libre Baskerville', serif;
            font-style: italic;
        }

        a {
            color: $color-white;
        }

        h1 {
            font-family: ProximaNova, sans-serif;
            line-height: 1.5em;
        }

        button {
            margin: 20px 0;
        }
    }
}

// Learn More Pages
.learn-more-title {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: color .35s ease-in-out;
}

.text-white {
    color: $color-white;
}

// A modern platform for analytics
.modern-platform-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .content-one {

        margin-top: 200px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-purple;
        }

        #learn-more-img-1 {
            margin-top: -200px;
        }

    }

    @include media-breakpoint-only(xs) {
        .content-one {
            background-color: $color-purple;

            h1 {
                margin-top: -150px;
            }
        }
    }

    @include media-breakpoint-only(sm) {
        .content-one {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(sm) {
        .content-one .jumbotron {
            height: auto;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../img/crunch_modern_platform.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 150px;
            color: $color-white;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }
        }

    }

    @include media-breakpoint-down(sm) {
        .content-two .jumbotron  {
            height: 400px

        }
    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-purple;

        p {
            margin-top: 150px;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-three .jumbotron  {
            height: 580px

        }
    }

    .content-four .jumbotron {
        height: 800px;
        color: $color-off-black;
        background-color: $color-white;

        p {
            margin-top: 150px;
        }

        a {
            font-family: 'Libre Baskerville', serif;
            color: $color-off-black;

            span {
                font-style: italic;
            }
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-four .jumbotron {
            height: auto;
        }
    }

}

// Collaborate securely
.collaborate-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }

    .content-one {

        margin-top: 200px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-green;
        }

        #learn-more-img-1 {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(xs) {
        .content-one {
            background-color: $color-green;

            h1 {
                margin-top: -150px;
            }
        }
    }

    @include media-breakpoint-only(sm) {
        .content-one {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(sm) {
        .content-one .jumbotron {
            height: auto;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../img/crunch_collaborate.jpg) no-repeat center center fixed;
        @include vp-background-size(cover);

        p {
            margin-top: 200px;
            color: $color-white;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }
        }

    }

    @include media-breakpoint-down(sm) {
        .content-two .jumbotron  {
            height: 400px

        }
    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-green;

        p {
            margin-top: 200px;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-three .jumbotron {
            height: auto;
        }
    }

    .content-four .jumbotron {
        height: 700px;
        color: $color-off-black;
        background-color: $color-white;

        p {
            margin-top: 100px;
            margin-bottom: 150px;
        }

        a {
            font-family: 'Libre Baskerville', serif;
            color: $color-off-black;

            span {
                font-style: italic;
            }
        }

        @include media-breakpoint-down(sm) {
            p {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

    }

    @include media-breakpoint-down(sm) {
        .content-four .jumbotron {
            height: auto;
        }
    }


    @include media-breakpoint-up(md) {
        .crunchbox-container {
            margin-top: 40px;
        }
    }

}

.collaborate-parallax {

    .img-fluid {
        opacity: 1;
        transition: opacity .35s ease-in-out;
    }

    .img-parallax-none {
        opacity: 0;
    }
}

// Speaks Research
.speaks-research-content {

    .jumbotron {
        margin: 0;

        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
    }
    .content-one {

        margin-top: 200px;

        .jumbotron {
            height: 800px;
            color: $color-white;
            background-color: $color-blue;
        }

        #learn-more-img-1 {
            margin-top: -200px;
        }
    }

    @include media-breakpoint-only(xs) {
        .content-one {
            background-color: $color-blue;

            h1 {
                margin-top: -150px;
            }
        }
    }

    @include media-breakpoint-only(sm) {
        .content-one {
            margin-top: 80px;
        }
    }

    @include media-breakpoint-down(sm) {
        .content-one .jumbotron {
            height: auto;
        }
    }

    .content-two .jumbotron {
        height: 800px;
        color: $color-white;
        background: url(../img/crunch_stone.jpg) no-repeat 0 top fixed;
        @include vp-background-size(cover);

        a {
            color: $color-white;
            text-decoration: underline;
        }

        p {
            margin-top: 200px;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-two .jumbotron  {
            height: 400px

        }
    }

    .content-three .jumbotron {
        height: 800px;
        color: $color-white;
        background-color: $color-blue;

        p {
            margin-top: 200px;
        }

        a {
            color: $color-white;
            text-decoration: underline;
        }

        @include media-breakpoint-down(sm) {
            h2 {
                font-family: 'Libre Baskerville', serif;

                span {
                    font-style: italic;
                }
            }

            p {
                margin-top: 0;
            }

            img {
                margin-top: -100px;
                margin-bottom: 50px;
            }
        }

        @include media-breakpoint-only(sm) {
            img {
                margin-top: -200px;
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .content-three .jumbotron {
            height: auto;
            color: $color-off-black;
            background: $color-white;

            a {
                color: $color-off-black;
            }
        }
    }

}
