@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;

    span {
        font-style: italic;
    }
}

h2 {
    font-size: 1.5em;

    .font-bold {
        font-weight: 700;
        color: $color-green;
        font-size: .9em;
    }
}

h4 {
    font-size: 1.2em;
}

.lead {
    font-size: 1.2em;
    line-height: 1.5em;
}

@include media-breakpoint-down(xs) {
    h1 {
        font-size: 2em;
    }
}
