{{ partial "head.html" . }}

<div class="page-not-found">

        <div class="container">
            <div class="row">
                <div class="col">
                    <span>Error 404</span>
                    <h1>The page you're looking <br>for can't be found.</h1>
                    <button type="button" class="btn btn-primary" onclick="location.href='http://www.crunch.io'">Back to site</button>
                    <br>
                    <small>Get in touch with <a href="mailto:support@crunch.io">support@crunch.io</a></small>
                </div>
            </div>
        </div>

</div>

{{ partial "footer.html" . }}
