{{ partial "head.html" . }}

{{ partial "header.html" . }}

<div id="page-content-wrapper">
    <div class="container-fluid">

        <div class="intro-content">
            <div class="jumbotron" style="margin: 0; padding: 0;">
                <div class="container-fluid">
                    <div class="row" style="margin-right: 0; margin-left: 0;">
                        <div class="container">
                            <div class="col-md-4" style="margin-right: 0; margin-left: 0;">
                                <h1 class="display-4">Data, <br> <span>smarter.</span></h1>
                                <p>Crunch lets you search, wrangle, and analyze large quantities of data quickly and easily.</p>
                                <img src="img/arrow.png" alt="Down arrow" class="img-fluid down-arrow">
                            </div>
                        </div>

                        <div class="col-md-7 d-none d-md-block ml-auto" style="margin-right: 0; margin-left: 0; padding-right: 0; margin-top: -350px;">
                            <div id="intro-img" style="overflow:hidden; height: 600px; ">
                                <img src="img/crunch_app.png" style="width: 1000px;">
                            </div>
                        </div>
                    </div> <!-- /.row. -->
                </div> <!-- /.container -->
            </div> <!-- /.jumbotron -->
        </div> <!-- /.intro-content -->

        <div class="secondary-content intro-xs-margin">

            <div class="modern-platform">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h1>A <span>modern</span> platform for analytics</h1>
                                <p>Your data lives in Crunch's high-performance, columnar data store. Instantly search across your datasets, combine them on-the-fly, and analyze them interactively.</p>
                                <br>
                                <button type="button" class="btn btn-secondary" onclick="location.href='modern-platform'">Learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.modern-platform -->

            <div class="container">

                <div class="row spacer">
                    <div class="col-12 order-1 col-md-4 order-md-0">
                        <h1>Collaborate <span>productively</span></h1>
                        <p>Deliver data products to your customers — controlling who sees what and what they
                            can do with it. Researchers can work with it safely, creating filters, analyses,
                            complete decks, and fine-grained tab books, without programming or ever having
                            to worry about fragile data file versions or formats. At the same time, data scientists
                            can use the powerful Crunch API to dig deeper using R or Python.</p>
                        <br>
                        <button type="button" class="btn btn-primary" onclick="location.href='collaborate'">Learn more</button>
                    </div>

                    <div class="col-12  order-0 col-md-6 offset-md-2 order-md-1">
                        <div class="container-img">
                            <img src="img/sharing-mock.jpg" alt="Sharing Crunch" class="img-fluid">
                        </div>
                    </div>
                </div> <!-- /.row. -->

                <div class="row spacer">
                    <div class="col-md-4">
                        <h1>Share your <span>insights</span></h1>
                        <p>Share tables and graphs of key findings — and embed them in any web site using a CrunchBox. One-click sharing, exporting into XLSX & PPTX.</p>
                        <br>
                        <button type="button" class="btn btn-success" onclick="location.href='collaborate'">Learn more</button>
                    </div>

                    <div class="col-md-6 offset-md-1 d-none d-sm-block">
                        <div class="crunchbox">
                            <iframe src="//s.crunch.io/widget/index.html#/ds/3463bc677d5f28fc5bd9c5da6ca1ea70/row/2a54a395178e44d6a72ec1418e5bb76a?viz=groupedBarPlot&cp=percent&dp=0&grp=stack" width="700" height="450"></iframe>
                        </div> <!-- /.crunchbox -->
                    </div>
                </div> <!-- /.row. -->

            </div> <!-- /.container -->

        </div> <!-- /.secondary-content -->

        <div class="footer-content">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Crunch speaks <span>research</span></h1>
                            <p>Crunch does things conventional databases and BI tools don’t — with native support for weighting, survey questions and question wording, and missing-data handling from the bottom up.</p>
                            <br>
                            <button type="button" class="btn btn-success" onclick="location.href='speaks-research'">Learn more</button>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div> <!-- /.jumbotron -->
        </div>

    </div> <!-- /.container-fluid -->

</div> <!-- /#page-content-wrapper -->

</div> <!-- /#wrapper-homepage -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
