<div id="page-header">
    <div id="navigation-top">
        <div class="horizontal-navigation-bar clear with-logo">
            <div id="banner-wrapper" data-content-field="site-title">
                <a href="/"><img id="banner" src="/crunch_logo.png" alt="Crunch" /></a>
            </div>

            <nav id="main-navigation" class="main-nav" data-content-field="navigation">
                <ul>
                    <li class="blog-collection"><a href="/about/">About</a></li>

                    <li class="blog-collection active-link"><a href="/jobs/">Jobs</a></li>

                    <li class="blog-collection active-link"><a href="/dev/">Blog</a></li>

                    <li class="external-link"><a href="mailto:info@crunch.io">Contact</a></li>

                    <li class="external-link"><a href="http://app.crunch.io" target="_blank">Sign in</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- navigation-top -->

    <div id="navigation-bottom">
        <div class="horizontal-navigation-bar clear with-logo">
            <div id="banner-wrapper" data-content-field="site-title">
                <a href="/"><img id="banner" src="/crunch_logo.png" alt="Crunch" /></a>
            </div>

            <nav id="main-navigation" class="main-nav" data-content-field="navigation">
                <ul>
                    <li class="blog-collection"><a href="/about/">About</a><span class="delimiter">/</span></li>

                    <li class="blog-collection active-link"><a href="/jobs/">Jobs</a><span class="delimiter">/</span></li>

                    <li class="blog-collection active-link"><a href="/dev/">Blog</a><span class="delimiter">/</span></li>

                    <li class="external-link"><a href="mailto:info@crunch.io">Contact</a><span class="delimiter">/</span></li>

                    <li class="external-link"><a href="http://app.crunch.io" target="_blank">Sign in</a><span class="delimiter">/</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- navigation-bottom -->
</div>

<script>
    (function(win, doc) {
        doc.querySelectorAll('.main-nav li:not(.external-link) > a').forEach(function(el) {
            el.parentNode.classList.toggle('active-link',
                win.location.pathname.indexOf(el.getAttribute('href')) > -1)
        })
    })(window, document)
</script>
