<div id="page-footer">
    <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1455751696037" id="footer-blocks">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_2_1454011823622_11095">
                    <div class="sqs-block-content">
                        <h2>Want to know more? <a href="mailto:info@crunch.io" style="">Contact us</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>