body {
    color: $color-off-black;
    font-family: "ProximaNova", sans-serif;
    line-height: 1.6;
    height: 100%;
    @include font-smoothing(antialiased);
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

p {
    font-weight: 400;
}

a, a:hover, a:active {
    color: $color-blue;
}

ul {
    padding: 0;
    margin-left: 20px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding: 0;

    li {
        counter-increment: my-awesome-counter;
    }

    li::before  {
        content: counter(my-awesome-counter) ". ";
        color: $color-off-black;
        font-style: italic;
        font-family: 'Libre Baskerville', serif;
        float: left;
        margin-right: 20px;
    }

}

.container-fluid {
    .row{
        max-width: 1400px;
        margin: auto;
    }
}

.down-arrow {
    margin-left: -15px;
}
