// Crunch Colors
$color-purple:                     #8001D8;
$color-blue:                       #005BD7;
$color-green:                      #149678;
$color-white:                      #ffffff;
$color-off-black:                  #191C23;

// 7 shades of grey
$color-grey-lightest:              #F4F5F6;
$color-grey-lighter:               #EEEFF2;
$color-grey-light:                 #DDE1E7;
$color-grey-normal:                #CCD1DB;
$color-grey-dark:                  #808DA5;
$color-grey-darker:                #616E90;
$color-grey-darkest:               #33415C;

// text colors
$font-color-dark-grey:             #33415C;
$font-color-off-black:             #191C23;
$font-color-light-grey:            #808DA5;
$font-color-lighter-grey:          #DDE1E7;

// percent
$darker-color-percent:             10%;

// css variables for primary colors used in the application
$--primary-color: $color-blue;
$--secondary-color: $color-green;
$--message-color: $color-purple;

$--darker-primary-color: darken($color-blue, $darker-color-percent);
$--light-primary-color: lighten(lighten($color-blue, 30%), 50%);
$--lighter-primary-color: desaturate(lighten($color-blue, 60%), 50%);

$--darker-secondary-color: darken($color-green, $darker-color-percent);
$--light-secondary-color: desaturate(lighten($color-green, 30%), 50%);
$--lighter-secondary-color: desaturate(lighten($color-green, 80%), 50%);

$--darker-message-color: darken($color-purple, $darker-color-percent);
$--light-message-color: desaturate(lighten($color-purple, 30%), 50%);
$--lighter-message-color: desaturate(lighten($color-purple, 80%), 50%);
