// Footer
.footer {
    background: transparent linear-gradient(254deg, #010102 0%, #333346 100%) 0% 0% no-repeat padding-box;
    position: relative;
    z-index: 10;
    padding: 20px 0;
    font-size: 16px;
    color: $color-white;

    li{
        list-style: none;
    }

    #btn-subscribe{
        margin-bottom: 1rem;
    }

    #call-action {
        height: 0px;
        font-size: 20px;
    }

    #email-subscribe{
        border-radius: 4px;
        margin-bottom: 1rem;
        width: 100%;
    }

    .border-top {
        border-top:solid 1px #333346 !important;
    }
    
    .btn-primary {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 4px;
        padding: 15px 25px;
    }

    .cta{
        transform: translateY(-70px);
    }

    .label{
        color: $color-white;
        margin-bottom: 10px;
        text-transform: initial;
    }

    .nav {
        .nav-item a {
            color: $font-color-dark-grey;

            &:hover {
                color: $font-color-light-grey;
            }
        }
    }

    .phone-icon,
    .email-icon
    {
        fill:$color-white;
        min-width:22px;
    }

    .phone-icon{
        fill:$color-white;
        height:25px;
    }
    
}

label#label-email-1d9b0565-b0af-44b5-a0fa-c389768043c7 {
    display: none;
}
.hs-error-msg{
    color:$color-danger
}

.hs_error_rollup {
    bottom: 0;
    color:$color-danger;
    left: -8px;
    position: absolute;
}
    @include media-breakpoint-down(xs) {

    .footer {

        & ul.list-inline {

            .list-inline-item {
                display: block;
            }

        }
        #copy{
            text-align: center;
        }
        #suscribe{
            max-width: 90vw;
            margin: auto;
        }
        
    }
    .hs_error_rollup {
        bottom: 13px;
        color:$color-danger;
        left: -28px;
        position: relative;
    }

}

.bg-black {
    background-color: $color-off-black;
    a,
    .nav-link {
        color: $color-white;

        &:hover {
            color: $color-grey-darker;
            text-decoration: none;
        }
    }
}

// Modal
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;

      .modal-body {
        position:relative;
        padding:0px;

        .close {
          position:absolute;
          right:-30px;
          top:-20px;
          z-index:999;
          font-size:2rem;
          font-weight: normal;
          color:#fff;
          background: transparent;
          border: 0;

              &:focus {
                  outline: none;
                  box-shadow: none;
              }
        }
      }
  }
