.navbar {
    background-color: $color-white;

    .navbar-nav {
        .nav-item {
            margin-left: 30px;

            a:not(.btn-primary) {
                color: $font-color-dark-grey;

                &:hover {
                    color: $font-color-light-grey;
                }
            }
        }
    }

    .navbar-toggler {
        border: 0;
    }

    .dropdown {
        .dropdown-menu {
            .dropdown-item {
                font-weight: 100;

                &.active, &:active {
                    background-color: $color-off-black;
                }
            }
        }
    }
}

// Dot nav
#dot-nav {
	top: 70%;
    right: 10px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;

    li {
        background-color: $color-grey-darkest;
    	border-radius: 15px;
    	cursor: pointer;
        width: 12px;
    	height: 12px;
        margin: 10px 10px;

        a {
            display: block;
            text-indent: -9999px;
        }
    }
}

#dot-nav li.active, #dot-nav li:hover {
	background-color: $color-grey-light;
}
