.navbar {
    background-color: $color-white;

    .container {
        max-width: 1450px;
    }

    .navbar-brand {
        img {
            padding-top: 3px;
            width: 160px;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-left: 30px;

            .btn-primary {
                padding: 8px 45px;
            }

            a {
                color: $font-color-off-black;
                font-size: 16px;
            }

            .btn-primary,
            .btn-secondary {
                color: $color-white;
            }
        }
        .nav-link[data-toggle="dropdown"]::after{
            background: url(../img/angle-right.svg);
            background-size: cover;
            content: "";
            position: absolute;
            height: 16px;
            width: 16px;
            position: absolute;
            top: calc(24%);
            right: calc(0px - 12px);
            transform: rotate(90deg);
        }
        .nav-link[aria-expanded="true"]::after{
            content: "";
            transform: rotate(270deg);
        }
        .nav-link:focus {
            outline: none;
        }
    }

    .navbar-toggler {
        border: 0;
    }

    .dropdown {
        .crunch-menu{
            font-size: 1.3rem;
            padding: 0 0 0.5rem;
            left: calc(0vw - 15vw);
            transition: all 0.2s ease-out;
            width: 35vw;
            min-width: 600px;

            
        }
        .crunch-menu,
        .dropdown-menu {
            box-shadow: 1px 1px 15px 0px #aaaaaa42;
            
            .dropdown-item {
                font-size: 1.2rem;
                font-weight: 300;
                transition: all 0.2s ease-out;

                &:hover,
                &:focus,
                &.active,
                &:active {
                    background-color: $color-grey-lightest;
                }
            }
        }
        &::before {
            content: "";
            background: transparent;
            position: absolute;
            left: calc(100% - 34px );
            color: #575656;
            top: 12px;
        }
        &.show{
            &::before {
                transform: rotate(90deg);
            }
        }
    }

}

// Dot nav
#dot-nav {
    position: fixed;
	top: 50%;
    right: 10px;
	z-index: 999;
}

@include media-breakpoint-down(sm) {
    #dot-nav {
        display: none;
    }

    .navbar {
        .navbar-nav .nav-item{
            margin-left: 4px;
        }
        .dropdown {
            
            .dropdown-menu {
                border:0;
                width: fit-content;
                min-width: auto;
                .dropdown-item{
                        padding:0.25rem 0px;
                }
            }
        }
    }


    li.nav-item.mb-2.mb-sm-0.ml-remove-on-mobile{
        margin-left:0px;
    }
    

}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;

    li {
        background-color: lighten($color-off-black, 60%);
    	border-radius: 15px;
    	cursor: pointer;
        width: 12px;
    	height: 12px;
        margin: 10px 10px;

        a {
            display: block;
            text-indent: -9999px;
        }
    }
}

#dot-nav li.active, #dot-nav li:hover {
	background-color: $color-off-black;
}

.page-item {
    &.active {
        .page-link {
            color: $color-blue;
            background-color: transparent;
        }
    }

    &.disabled {
        .page-link {
            color: $color-grey-dark;
        }
    }

    .page-link {
        color: $color-blue;
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        border: 0;
        border-radius: 0;

        &:hover {
            background-color: transparent;
            color: $--darker-primary-color;
        }

        &:focus {
            outline: none !important;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

    }

    .page-number {
        color: $color-grey-dark;
    }
}

.borderClass {
    border-bottom: 1px solid $color-grey-normal;
}
