<section id="all-your-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h2 class="section-heading crunch-h2">Power made simple<h2>
            </div>
        </div>
        <div class="row justify-content-md-end">
            <div class="col-12 col-sm-12 col-md-7 col-xl-6 d-flex align-items-center justify-content-center">
                <div class="crunch-reflection crunch-reflection-large crunch-reflection-left-bottom crunch-background-green">
                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe src="https://player.vimeo.com/video/752797321?h=aee4d8ddce&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;" width="640" height="362" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        </div>
                </div>
            </div>
            <div class="col-md-5 d-flex ml-xl-5 justify-content-center align-items-center ">
                <div class="py-md-5 pt-5">
                    <p>Instantly search across all your projects - trackers and ad hocs. Analyze, visualize, and deliver with speed and simplicity. Create crosstabs, tables, and graphs. Deliver interactive dashboards and presentation-ready PowerPoint exports. 
                    </p>
                </div>  
            </div>
        </div>
    </div>
</section>