<section id="all-your-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h2 class="section-heading crunch-h2">All your data in one place</h2>
            </div>
        </div>
        <div class="row justify-content-md-end">
            <div class="col-12 col-sm-12 col-md-7 col-xl-6 d-flex align-items-center justify-content-center">
                <div class="crunch-reflection crunch-reflection-large crunch-reflection-left-bottom crunch-background-green">
                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe src="{{ .Site.Params.video }}" class="embed-responsive-item"
                                allowfullscreen frameborder="0"  title="Crunch" loading="lazy"></iframe>
                        </div>
                </div>
            </div>
            <div class="col-md-5 d-flex ml-xl-5 justify-content-center align-items-center ">
                <div class="py-md-5 pt-5">
                    <p>Instantly search across all your projects - current & historical data, trackers and ad hoc projects. Collaborate and analyze survey data with instant drag-and-drop.</p> 
                    <p>Build and deliver interactive dashboards, editable PowerPoint exports, and crosstabs.</p>
                </div>  
            </div>
        </div>
    </div>
</section>