 <section id="all-your-data">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 ">
                <h2 class="section-heading crunch-h2">Power made simple<h2>
            </div>
        </div>
        <div class="row justify-content-around">

            <div class="col-12 col-sm-12 px-md-0  col-lg-7 d-flex align-items-center justify-content-start">
                <div class="embed-responsive embed-responsive-16by9 "><iframe src="https://player.vimeo.com/video/776032971?h=5d2e0044fc&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

            </div>
            <div class="col-lg-5  d-flex   justify-content-end align-items-center ">
                <div class="py-md-5 pt-4">
                    <p>Instantly search across all your projects - trackers and ad hocs. Analyze, visualize, and deliver with speed and simplicity. Create crosstabs, tables, and graphs. Deliver interactive dashboards and presentation-ready PowerPoint exports. 
                    </p>
                </div>  
            </div>
        </div>
    </div>
</section> 


