<section id="crunchio-is-for" >
    <div class="container-fluid px-md-0 px-sm-0 px-xs-0">
        <div class="row py-0 py-md-5">
        
            <div class="col-md-12 pt-ls-5 pt-0 mb-md-4">
                <h2 class="section-heading crunch-h2">Crunch.io is for...</h2>
            </div>
        
            <div class="col-md-5  col-12 d-flex  mr-4 align-items-center">
                <div class="py-md-5">
                    <h3 class="crunch-h3">Insights teams</h3>
                    <div class="d-none d-sm-block">
                        <p>Analyze survey data from multiple vendors & DIY platforms, like Qualtrics, SurveyMonkey, and Decipher, in one platform. Create your own data cuts with drag-and-drop. Eliminate back and forth with vendors.</p>
                        <a href="/for-insights-teams/" aria-label="Learn more about Insights Teams"  class="btn btn-primary mt-3 col-5">Learn more</a>
                    </div>
                </div>  
            </div>
        
            <div class="col-12 col-sm-12  col-md-6 d-flex align-items-center justify-content-end py-5">
                <div class="crunch-reflection crunch-reflection-small crunch-reflection-right-top crunch-background-blue">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{ .Site.Params.video }}" class="embed-responsive-item"
                                allowfullscreen frameborder="0" title="Crunch" loading="lazy"></iframe>
                        </div>
                </div>
            </div>
            <div class="col-12 d-block d-sm-none">
                <p>Analyze survey data from multiple vendors & DIY platforms, like Qualtrics, SurveyMonkey, and Decipher, in one platform. Create your own data cuts with drag-and-drop. Eliminate back and forth with vendors.</p>
                <a href="/for-insights-teams/" aria-label="Learn more about Insights Teams"  class="btn btn-primary  mt-3">Learn more</a>
            </div>
        
        </div> <!-- /.row. -->

        <div class="row justify-content-md-end py-2">
        
            <div class="col-12  d-block d-sm-none">
                <h3 class="crunch-h3">Market research firms</h3>
            </div>
            <div class="col-12 col-sm-12  col-md-6 d-flex align-items-center justify-content-start mr-4 py-5">
                <div class="crunch-reflection crunch-reflection-small crunch-reflection-left-top crunch-background-purple">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{ .Site.Params.video }}" class="embed-responsive-item"
                                allowfullscreen frameborder="0" title="Crunch" loading="lazy"></iframe>
                        </div>
                </div>
            </div>

            <div class="col-md-5 d-flex justify-content-start align-items-center">
                <div>
                    <h3 class="d-none d-sm-block">Market research firms</h3>
                    <p>A platform built for survey data. All the power you need to analyze and deliver. Enable your customers to answer their own questions. Accelerate your workflows with Crunch Automation.</p>
                    <a href="/market-researchers/" aria-label="Learn more about Market research firms" class="btn btn-primary col-5  mt-3">Learn more</a>
                </div>  
            </div>
        
        </div> <!-- /.row. -->

        <div class="d-flex flex-wrap justify-content-between mt-md-5 py-md-5">
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}easy.svg" alt="Easy" />
                </figure>
                <div>
                    <h3 class="crunch-h3">Easy</h3>
                    <p>Slice, dice, and filter with ease. Build a graph with one click and a dashboard in minutes with no coding or DP expertise required.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0 ">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}fast.svg" alt="Fast" />
                </figure>
                <div>
                    <h3 class="crunch-h3">Fast</h3>
                    <p>Scale to your largest datasets, even ones with millions of respondents, with subsecond response. Automate workflows, reporting, and dashboards.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}collaborative.svg" alt="Collaborative" />
                </figure>
                    <div>
                    <h3 class="crunch-h3">Collaborative</h3>
                    <p>Work with your team on the same data, anytime, in the cloud. Securely control data access.</p>
                </div>
            </div>
        </div> <!-- /.row -->

    </div>
</section>