<section id="crunchio-is-for" >
    <div class="container-fluid px-md-0 px-sm-3">
        <div class="row py-0 py-md-5">
        
            <div class="col-md-12 pt-ls-5 pt-0 mb-md-4">
                <h2 class="section-heading crunch-h2">Crunch.io is for...</h2>
            </div>
        
            <div class="col-md-5  col-12 d-flex  align-items-center">
                <div class="py-md-5">
                    <h3 class="crunch-h3">Insights teams</h3>
                    <div class="d-none d-sm-block">
                        <p>Analyze data from multiple vendors & survey fielding platforms all in one platform. Create your own data cuts. Quickly find insights. Collaborate across your team and stakeholders. Eliminate your back and forth with vendors.</p>
                        <a href="/for-insights-teams/" aria-label="Learn more about Insights Teams"  class="btn btn-primary mt-3 col-5">Learn more</a>
                    </div>
                </div>  
            </div>
        
            <div class="col-12 col-sm-12  col-md-6 d-flex align-items-center justify-content-end py-5 offset-md-1 offset-sm-0">
                <div class="crunch-reflection crunch-reflection-small crunch-reflection-right-top crunch-background-blue">
                    <div class="embed-responsive embed-responsive-16by9">    
                        <iframe src="https://player.vimeo.com/video/752797294?h=33fb05f386&amp;loop=1&autoplay=1&controls=0&badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Stats Testing 2"></iframe>
                        <script src="https://player.vimeo.com/api/player.js"></script>
                </div>
            </div>
            <div class="col-12 d-block d-sm-none">
                <p>Analyze data from multiple vendors & survey fielding platforms all in one platform. Create your own data cuts. Quickly find insights. Collaborate across your team and stakeholders. Eliminate your back and forth with vendors.</p>
                <a href="/for-insights-teams/" aria-label="Learn more about Insights Teams"  class="btn btn-primary  mt-3">Learn more</a>
            </div>
        
        </div> <!-- /.row. -->

        <div class="row py-2">
        
            <div class="col-12  d-block d-sm-none">
                <h3 class="crunch-h3">Market research firms</h3>
            </div>
            <div class="col-12 col-sm-12  col-md-6 d-flex align-items-center justify-content-start  py-5">
                <div class="crunch-reflection crunch-reflection-small crunch-reflection-left-top crunch-background-purple">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{ .Site.Params.video }}" class="embed-responsive-item"
                                allowfullscreen frameborder="0" title="Crunch" loading="lazy"></iframe>
                        </div>
                </div>
            </div>

            <div class="col-md-5 d-flex justify-content-end align-items-center offset-md-1 offset-sm-0">
                <div>
                    <h3 class="d-none d-sm-block">Market research firms</h3>
                    <p>Find insights fast. All the power you need, all in one place. Analyze. Graph. Weight. Stats test. Filter. Report. Deliver online to your customers. Empower them to answer their own questions. Automate your entire workflow from data upload to dashboard delivery.</p>
                    <a href="/market-researchers/" aria-label="Learn more about Market research firms" class="btn btn-primary col-5  mt-3">Learn more</a>
                </div>  
            </div>
        
        </div> <!-- /.row. -->

        <div class="d-flex flex-wrap justify-content-between mt-md-5 py-md-5">
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}easy.svg" alt="Easy" />
                </figure>
                <div>
                    <h3 class="crunch-h3">Easy</h3>
                    <p>Empower everyone, from CMO to PhD, to analyze with ease. Drag-and-drop. Slice, and dice, and filter. Create a graph with one click. Build an interactive dashboard in minutes. No coding or DP expertise required.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0 ">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}fast.svg" alt="Fast" />
                </figure>
                <div>
                    <h3 class="crunch-h3">Fast</h3>
                    <p>Speed up data analysis and get quick turnaround answers to your questions. Scale to your largest datasets, even ones with millions of respondents. Get sub-second query responses, powered by the Crunch columnar database.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-12 mb-4 px-md-2 px-0">
                <figure class="d-flex justify-content-md-start justify-content-center ">
                    <img class="img-fluid" src="{{.Site.Params.home_images_path}}collaborative.svg" alt="Collaborative" />
                </figure>
                    <div>
                    <h3 class="crunch-h3">Collaborative</h3>
                    <p>Work together seamlessly with the best-in-class survey data analysis platform. Collaborate with your team on the same data in the cloud. Access your reports and dashboards anywhere, anytime. Securely control access to data with granular permissions.</p>
                </div>
            </div>
        </div> <!-- /.row -->

    </div>
</section>