<section id="self-services">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <div>
                    <h1 class="crunch-h1">Self-service survey data analysis</h1>
                    <h2 class="crunch-h2">Power made simple</h2>
                    <a href="/request-demo/" aria-label="Request a demo" class="btn btn-primary btn-lg cta mt-3 mb-5  justify-s d-none d-sm-inline-block">Request a demo</a>
                    <a href="/request-demo/" aria-label="Request a demo" class="btn btn-success btn-lg cta mt-3 mb-5 ml-4 justify-s d-none d-sm-inline-block">Learn more</a>

                </div>  
            </div>

            <div class="col-md-7 mt-4">
                <img src="img/{{ .Site.Params.product }}" loading="lazy" alt="Self-service survey data analysis" width="920" height="530" class="img-fluid add-shadow-xl rounded">
            </div>
            
            <div class="w-100 d-block d-sm-none mt-4">
                <a href="/request-demo/" aria-label="Request a demo" class="btn btn-primary btn-lg btn-block cta mt-3 mb-2 justify-s">Request a demo</a>
                <a href="/request-demo/" aria-label="Request a demo" class="btn btn-success btn-lg btn-block cta mt-3 mb-1 justify-s">Learn more</a>
            </div>
        </div>
    </div>

    
    
    <div class="container-lg pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="crunch-h3 mt-4">Join 1,000+ insights teams and market research firms<br/>
who use Crunch.io for tracker analysis </h3>

            </div>
        </div>
    </div>
    <div id="icon-search" class="container-lg pb-5">

                <div class="d-flex flex-wrap justify-content-center">
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}nielseniq.png" alt="Nielseniq" class="img-fluide"></div>
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}shell.png" alt="Shell" class="img-fluide"></div>
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}amazon.png" alt="Amazon" class="img-fluide"></div>
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}gojek.png" alt="Gojek" class="img-fluide"></div>
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}mastercard.png" alt="MasterCard" class="img-fluide"></div>
                    <div class="col-6 icon-container col-xs-4 col-sm-4 col-md-4 col-lg-2  d-flex align-items-center justify-content-center"><img src="{{.Site.Params.home_images_path}}yougov.png" alt="YouGov" class="img-fluide"></div>
                </div>
            </div>

</section>