{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="wrapper">

    <div id="secondary-pages-wrapper">
        <div class="container-fluid">

            <div class="request-demo-content">

                <div class="intro-marketing-pages blue">
                    <div class="jumbotron">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <h1>{{ .Params.title }}</h1>

                                    <!--[if lte IE 8]>
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                                    <![endif]-->
                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>

                                    <script>
                                      hbspt.forms.create({
                                    	portalId: "3869056",
                                    	formId: "41a8089c-034d-436d-a61d-9caa1b992ee1"
                                    });
                                    </script>

                                </div>

                                <div class="col-sm-12 col-md-6 request-demo-copy">
                                    <h1>{{ .Params.subtitle }}</h1>

                                    <h2>{{ .Params.description }}</h2>

                                    <div id="learn-more-img-2">
                                        <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                                             <iframe src="{{ .Params.video }}"
                                             style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="Crunch"></iframe>
                                         </div>
                                    </div>

                                    <p style="margin-top:40px;">{{ .Content }}</p>
                                </div>
                            </div> <!-- /.row -->
                        </div> <!-- /.container -->
                    </div> <!-- /.jumbotron -->
                </div> <!-- /.intro-marketing-pages -->

            </div> <!-- /.request-demo-content -->

{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
