<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="border-style: solid; border-width: 0px 0px 1px 0px;">
    <div class="container">
        <a class="navbar-brand" href="https://crunch.io"><img class="d-inline-block align-top"
                                                       src="{{settings.logo}}" alt=""
                                                       width="140"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Capabilities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://crunch.io/powerful-survey-analytics">Powerful Survey Analytics</a>
                        <a class="dropdown-item" href="https://crunch.io/visualization">Visualization and Delivery</a>
                        <a class="dropdown-item" href="https://crunch.io/dashboards">Dashboards</a>
                        <a class="dropdown-item" href="https://crunch.io/crunchbox">CrunchBox</a>
                        <a class="dropdown-item" href="https://crunch.io/survey-data-expertise">Survey Data Expertise</a>
                        <a class="dropdown-item" href="https://crunch.io/crunchdb">CrunchDB</a>
                        <a class="dropdown-item" href="https://crunch.io/api">API</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Company
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://crunch.io/about">About</a>
                        <a class="dropdown-item" href="https://crunch.io/team">Team</a>
                        <a class="dropdown-item" href="https://crunch.io/jobs">Careers</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://crunch.io/resources">Resources</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Support
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://support.crunch.io/" target="_blank">Help Pages</a>
                        <a class="dropdown-item" href="https://crunch.io/api/reference/" target="_blank">API Documentation</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#Modal" id="openForm">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://app.crunch.io/" target="_blank">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary" href="https://crunch.io/request-demo">Request a demo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
