{{ partial "head.html" . }}

{{ partial "header.html" . }}

     <div id="dot-nav" class="position-sticky float-right">
         <ul>
             <li><a href="speaks-research/#first-content">1</a></li>
             <li><a href="speaks-research/#second-content">2</a></li>
             <li><a href="speaks-research/#third-content">3</a></li>
         </ul>
     </div>

     <div class="secondary-content" id="first-content">
       <div class="container position-fixed">

           <div class="row">
               <div class="col-md-8">
                   <h1 class="learn-more-title">Crunch <span>speaks research</span></h1>

                   <img src="images/app_interface_example.png" alt="Crunch app" class="img-fluid">
               </div>
           </div> <!-- /.row. -->

       </div> <!-- /.container -->
     </div> <!-- /.secondary-content -->

      <div id="wrapper">

          <div id="secondary-pages-wrapper">
              <div class="container-fluid">

                  <div class="speaks-research-content">

                    <section class="page-scroll content-one">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>Crunch does things conventional databases and BI tools don't. Weighting. Native support for survey questions. Drag and drop recoding. Nets and missing data. We keep up with state of the art survey methodologies and ensure that Crunch can support these new features as quickly as possible.</p>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="second-content" class="page-scroll content-two">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>Our datasets work seamlessly with your scientific computing infrastructure. We maintain several R and Python libraries which give users the ability to automate their work on Crunch and use Crunch data in offline analyses.</p>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                    <section id="third-content" class="page-scroll content-three">
                        <div class="jumbotron">
                            <div class="container">
                                <div class="col-md-4 ml-auto">
                                    <p>Crunch is extensible. Almost everything that you can do in the app can be accomplished through our robust and well documented API. This makes it easy to incorporate Crunch into downstream data workflows.</p>
                                    <a href="collaborate-securely">Collaborate <span>securely</span> &#10230;</a>
                                </div>
                            </div> <!-- /.container -->
                        </div> <!-- /.jumbotron -->
                    </section>

                  </div> <!-- /.modern-platform-content -->


{{ partial "footer-nav.html" . }}

{{ partial "footer.html" . }}
