on:
  pull_request:
    branches:
      - dev
      - src
  push:
    branches:
      - dev
      - src

name: build-and-deploy

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_ACCESS }}
      GITHUB_REPO: ${{ github.repository }} # This var replaces TRAVIS_REPO_SLUG
      GITHUB_PULL_REQUEST: ${{ github.event.number }} # Replaces TRAVIS_PULL_REQUEST
      HOME: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4
      - name: Extract branch name on non pull request
        if: github.event_name != 'pull_request'
        shell: bash
        run: echo "GITHUB_BRANCH_NAME=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Extract branch name on pull requests
        if: github.event_name == 'pull_request'
        run: echo "GITHUB_BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV
        # Run Script
      - name: Install Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.151.2'
          extended: true
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
      - name: Run Build and deploy script
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 3
          max_attempts: 2
          retry_on: timeout
          command: bash -x 'build-and-deploy.sh'
